{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/custom-contact-form.css'%}" />
{% endblock css %}
<section class="contact-banner">
    <div class="container contact-box">

        <div class="contact-text text-center">
            Every smile is unique - and yours deserves personal attention.
            Have questions? We're here to help guide you
        </div>
        <a href="/contact/">
            <div class="new-contact-btn bat" >
                Contact US
                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.614 4.97875L2.06208 17.5306L0 15.4685L12.5504 2.91667H1.48896V0H17.5306V16.0417H14.614V4.97875Z" fill="black"/>
                </svg>
            </div>
        </a>
    </div>
</section>
