{% extends 'base.html' %}
{% load static %}

{% block seo %}
<title>Dentist Connect - Ultimate Smile Design | Partner With Us</title>
<meta name="description" content="Join Ultimate Smile Design’s Dentist Connect program. Submit your clinic details and partner with us for advanced smile design solutions." />
<link rel="canonical" href="https://ultimatesmiledesign.com/dentist-connect/" />
<meta property="og:image" content="{% static 'feature-usd.webp' %}">
<meta property="og:type" content="website" />
<meta property="og:title" content="Dentist Connect - Ultimate Smile Design | Partner With Us" />
<meta property="og:description" content="Join Ultimate Smile Design’s Dentist Connect program. Submit your clinic details and partner with us for advanced smile design solutions." />
<meta property="og:url" content="https://ultimatesmiledesign.com/dentist-connect/" />
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Dentist Connect - Ultimate Smile Design | Partner With Us">
<meta name="twitter:description" content="Join Ultimate Smile Design’s Dentist Connect program. Submit your clinic details and partner with us for advanced smile design solutions.">
{% endblock seo %}

{% block header %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" />
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock header %}

{% block body %}
<div class="page-content">
  <section>
    <div class="p-0">
      <picture>
        <!-- Mobile image (below 768px) -->
        <source
          media="(max-width: 576px)"
          alt="Ultimate Smile Design - 100% Money Back Guarantee"
          srcset="{% static 'mobile-dc.webp' %}"
        />
        <source 
          media="(max-width:991px)"
          alt="Ultimate Smile Design - 100% Money Back Guarantee"
          srcset="{% static 'tablet-dc.webp'%}"
        />
        <!-- Default image (desktop) -->
        <img
          src="{% static 'connect-dentist.webp' %}"
          alt="Ultimate Smile Design - 100% Money Back Guarantee"
          class="img-fluid w-100 banner-img"
        />
    </picture>
    </div>
  </section>

  <section class="dentist-connect-section text-center pt-5 pb-0 py-sm-5">
    <div class="container px-lg-5">
      <h1 class="contact-title cool">Become an Ultimate Smile Designer – Certified Dentist</h1>
      <p class='dentist-subtitle'>Take the next step toward becoming an Ultimate Smile Designer – register now and get certified.</p>
      <form class="dentist-connect-form form mt-4 mb-4 my-sm-5" action="{% url 'home:dentist_connect' %}" method="post">
        {% csrf_token %}
        <div class="container row justify-content-center mx-auto">
          <div class="col-lg-12 mb-4 mb-sm-5">
            <input type="text" name="name" placeholder="Full Name" class="form-control" required />
          </div>
          <div class="col-lg-6 mb-4 mb-sm-5">
            <input type="email" name="email" placeholder="Email" class="form-control" required />
          </div>
          <div class="col-lg-6 mb-4 mb-sm-5">
            <input type="number" name="phone" placeholder="Phone" class="form-control" required />
          </div>
          <div class="col-lg-6 mb-4 mb-sm-5">
            <input type="text" name="clinic_name" placeholder="Clinic Name" class="form-control" required />
          </div>
          <div class="col-lg-6 mb-3 mb-sm-5">
            <input type="text" name="city" placeholder="City" class="form-control" required />
          </div>
          <div class="col-md-12 mt-2">
            <div class="g-recaptcha mb-3" data-sitekey="{{ RECAPTCHA_SITE_KEY }}"></div>
            <button class="connect-btn" type="submit">
              <span>Send Message</span>
              <span class="arrow">
                <svg width="15" height="15" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M13.3335 10L4.5835 1.66667C4.37748 1.46114 4.44475 1.26797 4.44475 0.974959C4.44475 0.681789 4.23874 1.18081 4.44475 0.974959L5.10036 0.319675C5.30605 0.113496 5.58101 0 5.87402 0C6.16703 0 6.44166 0.113496 6.64752 0.319675L15.556 9.22797C15.7626 9.43447 15.8758 9.7104 15.875 10.0037C15.8758 10.2984 15.7628 10.574 15.556 10.7807L6.65581 19.6803C6.44996 19.8865 6.17532 20 5.88215 20C5.58914 20 5.31451 19.8865 5.10849 19.6803L4.5835 19.1667C4.15699 18.7402 4.57366 18.7597 5.00016 18.3333L13.3335 10Z" fill="white"/>
                </svg>
              </span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </section>
  
  <section class="usd-studio-section overflow-hidden">
      
      <div class="container usd-studio-tittle-wrapper text-center">
        <p class="usd-studio-small text-header cool  mb-0">Exclusive Smile Journeys</p>
        <h2 class="usd-studio-title  text-header-subtitle">Signature Smiles Crafted by Ultimate Smile Design</h2>
      </div>
      
      <div class="usd-studio-wrapper position-relative">
        <canvas id="snow-canvas"></canvas>
        <div class="usd_studio_image usd-title-wrapper">
          <img src="{% static 'usd-studio-2.png'%}" class="usd-studio-img img-fluid" width="432" height="420"/>
        </div>
        <div class="usd-floating-images position-relative">
            <div class="container">
              <a href=" https://www.instagram.com/reel/C94bjw2yWj6/" class="usd-img-wrapper usd-img-wrapper-1">
                <video   
                  id="usdVideo"
                  autoplay
                  loop
                  muted
                  playsinline  
                  class="usd-img1 img-fluid" 
                  alt="usd-img1"
                  sizes="calc(100vw * 0.0875)"
                  onerror="handleVideoError(this)"
                  onstalled="handleVideoError(this)"
                  data-fallback="{% static 'usd-videoImg1.jpg'%}"
                >
                  <source src="https://daedzhbgqwmn0.cloudfront.net/reel-8.mp4" type="video/mp4"></source>
                </video>
                <div class="usd-bg-shadow"></div>
              </a>
              <a href="https://www.instagram.com/reel/DNQcAreKk4A/" class="usd-img-wrapper" >
                <video   
                  autoplay
                  loop
                  muted
                  playsinline  
                  class="usd-img2 img-fluid" 
                  alt="usd-img2"
                  data-fallback="{% static 'usd-videoImg2.jpg'%}"
                >
                  <source src="https://daedzhbgqwmn0.cloudfront.net/reel-2.mp4" type="video/mp4"></source>
                </video>
              </a>
              <a href="https://www.instagram.com/reel/DKmhQ8gyGd3/" class="usd-img-wrapper">
                <video 
                  autoplay
                  loop
                  muted
                  playsinline  
                  class="usd-img3 img-fluid" 
                  alt="usd-img3"
                  data-fallback="{% static 'usd-videoImg3.jpg'%}"
                >
                  <source src="https://daedzhbgqwmn0.cloudfront.net/reel-9.mp4" type="video/mp4"></source>
                </video>
              </a>
              <a href="https://www.instagram.com/reel/DBQ-063KXmf/" class="usd-img-wrapper ">
                <video   
                  autoplay
                  loop
                  muted
                  playsinline  
                  class="usd-img4 img-fluid" 
                  alt="usd-img4"
                  data-fallback="{% static 'usd-videoImg4.jpg'%}"
                >
                  <source src="https://daedzhbgqwmn0.cloudfront.net/reel-4.mp4" type="video/mp4"></source>
                </video>
              </a>
              <a href="https://www.instagram.com/reel/DG2uNjSS7AT/" class="usd-img-wrapper">
                <video  
                  autoplay
                  loop
                  muted
                  playsinline  
                  class="usd-img5 img-fluid" 
                  alt="usd-img5"
                  data-fallback="{% static 'usd-videoImg5.jpg'%}"
                >
                  <source src="https://daedzhbgqwmn0.cloudfront.net/reel-3.mp4" type="video/mp4"></source>
                </video>
                <div class="usd-bg-shadow"></div>
              </a>
              <a href="https://www.instagram.com/reel/C-H-Qm2KwU5/" class="usd-img-wrapper">
                <video
                  autoplay
                  loop
                  muted
                  playsinline  
                  class="usd-img6 img-fluid" 
                  alt="usd-img6"
                  data-fallback="{% static 'usd-videoImg6.jpg'%}"
                >
                  <source src="https://daedzhbgqwmn0.cloudfront.net/reel-5.mp4" type="video/mp4"></source>
                </video>
                <div class="usd-bg-shadow"></div>
              </a>
              <a href="https://www.instagram.com/reel/C8HMFoeKigC/" class="usd-img-wrapper">
                <video  
                  autoplay
                  loop
                  muted
                  playsinline  
                  class="usd-img7 img-fluid" 
                  alt="usd-img7"
                  data-fallback="{% static 'usd-videoImg7.jpg'%}"
                >
                  <source src="https://daedzhbgqwmn0.cloudfront.net/reel-1.mp4" type="video/mp4"></source>
                </video>
              </a>
              <a href=" https://www.instagram.com/reel/DKwrEzaqRoZ/" class="usd-img-wrapper">
                <video   
                  autoplay
                  loop
                  muted
                  playsinline  
                  class="usd-img8 img-fluid" 
                  alt="usd-img8"
                  data-fallback="{% static 'usd-videoImg8.jpg'%}"
                >
                  <source src="https://daedzhbgqwmn0.cloudfront.net/reel-6.mp4" type="video/mp4"></source>
                </video>
              </a>
              <a href="https://www.instagram.com/reel/DNkgB1EIQZo/" class="usd-img-wrapper ">
                <video  
                  autoplay
                  loop
                  muted
                  playsinline  
                  class="usd-img9 img-fluid" 
                  alt="usd-img9"
                  data-fallback="{% static 'usd-videoImg9.jpg'%}"
                >
                  <source src="https://daedzhbgqwmn0.cloudfront.net/reel-7.mp4" type="video/mp4"></source>
                </video>
              </a>
              <a href="https://www.instagram.com/reel/DM-PS3tKjpt/ " class="usd-img-wrapper ">
                <video 
                  autoplay
                  loop
                  muted
                  playsinline  
                  class="usd-img9 img-fluid" 
                  alt="usd-img9"
                  data-fallback="{% static 'usd-videoImg10.jpg'%}"
                >
                  <source src="https://daedzhbgqwmn0.cloudfront.net/reel-10.mp4" type="video/mp4"></source>
                </video>
                <div class="usd-bg-shadow"></div>
              </a>
            </div>
        </div>
      </div>
  </section>
</div>
{% endblock body %}

{% block js %}
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script>
  {% if messages %}
      {% for message in messages %}
          Swal.fire({
              position: "top-end",
              icon: "{% if message.tags == 'success' %}success{% else %}error{% endif %}",
              title: "{{ message }}",
              showConfirmButton: false,
              timer: 1500
          });
      {% endfor %}
  {% endif %}
</script>
{% endblock js %}
