{% extends 'base.html' %}
{% load static %}

    
  
{% block header %}

{% endblock header %}

{% block css %}

{% endblock css %}

{% block body %}
     <!-- Content -->
     <div class="page-content" style="border-top:1px solid #ddd; ">
        <section class="breadcrumbs-section contactus-breadcrumbs-section">
            <div class="container">
              <h1 class="breadcrumbs-title bg-linear-gradient mb-0 fw-bold cool" >{{data.name}}</h1>
              {% comment %} <img src="{% static 'Group 291.svg' %}" class="find-dentist-img img-fluid" /> {% endcomment %}
            </div>
          </section>
                    
        <!-- Left & right section -->
        <div class="aon-page-jobs-wrap d-flex justify-content-center" style="padding-top: 40px ">
            <img src="{% static 'doc_detail_vec.svg' %}" class=" img-fluid bg_detail_vec1" loading="lazy" alt="background vector" />
            <div class="container">
                <div class="row">
                    <!-- Left part start -->
                    <div class="col-lg-12 d-flex justify-content-center flex-column align-items-center">              

                        <!-- Doctor about -->
                        <div class="Doctor_photo_card">
                            {% if data.profile %}
                             <img src="{{data.profile.url}}" alt="" class="img-fluid Doctor_photo" />
                             {% else %}
                             <img src="{% static 'noimage-team.webp' %}" alt="Image" />
                             {% endif %}    
                             
                             <div class="bat appoint_btn">Book Appointment</div>
                        </div>

                        <!-- doctor detail card -->
                        <div class="Doctor_Detail_Card">
                            <h2 class="Doctor_Name  cool">{{data.name}}</h2>
                            <div class="Doctor-City Doctor-Text">
                                {% if data.city %}
                                {{data.city.city}}
                                {% else %}
                                India
                                {% endif %}
                            </div>

                            <div class="Doctor-Text mt-2">
                                {{data.bio}}
                            </div>

                            <h3 class="Doctor-subtext cool">Education Training</h3>
                            <ul class="Education_list Doctor-Text">
                                {{data.education|safe}}
                            </ul>

                            <h3 class="Doctor-subtext cool">Experience</h3>
                            <ul class="sf-doc-exp-list-detail Doctor-Text">
                                {{data.experience|safe}}
                            </ul>

                            <h3 class="Doctor-subtext cool">Specializations</h3>
                            <div class="row">
                                {% for ie in data.specializations.all  %}
                                     <div class="col-md-4 col-sm-6 mb-4">
                                         <div class="aon-insuranc-list">
                                             <div class="Doctor-Text">{{ie}}</div> 
                                         </div> 
                                     </div>    
                                {% endfor %}  
                            </div>
                        </div>

                        <!--Location-->
                        <div class="aon-docLocation-wrap" id="aon-locations-area">
                            {% comment %} <h3 class="mb-4"><span class="cool">Location</span></h3> {% endcomment %}
                            <div class="sf-doc-location">
                                <div class="row">
                                    <div class="col-lg-8">
                                        <h3 class="Loc-subtext cool">Location</h3>
                                        <div class="details_card">
                                                <div class="address_dr">{{data.address}}</div>
                                                <div class="sf-doc-location-map grayscle-area">
                                                    {{data.iframe|safe}} 
                                                </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <h3 class="Loc-subtext cool">Photo Gallery</h3>
                                        <div class="details_card">
                                            <div class="aon-find-doctors-wrap">
                                                <div class="aon-photo-gallery d-flex">
                                                    {% if gallery|length > 5 %}
                                                        <a class="aon-photo-num elem pic-long d-flex justify-content-center align-items-center" href="{% static 'a5.png' %}">10+</a>
                                                    {% endif %}

                                                    <!-- Loop through the gallery and show up to 5 images -->
                                                    {% for ie in gallery|slice:":5" %}
                                                        <a class="elem pic-long" href="{{ ie.image.url }}">
                                                            <img src="{{ ie.image.url }}" alt="Gallery Image" class="img-thumbnail"/>
                                                        </a>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div> 
    </div>
{% endblock body %}

{% block js %}
    
{% endblock js %}
    