{% extends 'base.html' %} {% load static %} 
{% block seo%}
<title>{{data.name}} - Smile Design Expert Dentist in {{data.city}}</title>
<meta name="description" content="Explore {{data.name}}'s profile, a smile design expert and best dentist in {{data.city}}. {{data.name}} provides comprehensive dental and cosmetic smile solutions." />
<link rel="canonical" href="https://ultimatesmiledesign.com/certified-dentists/{{data.slug}}/" />
<meta property="og:image" content="{{data.profile.url}}">
<meta property="og:image:secure_url" content="{{data.profile.url}}">
<meta property="og:image:width" content="600" />
<meta property="og:image:height" content="600" />
<meta property="og:locale" content="en_IN" />
<meta property="og:type" content="website" />
<meta property="og:title" content="{{data.name}} - Smile Design Expert Dentist in {{data.city}}" />
<meta property="og:description" content="Explore {{data.name}}'s profile, a smile design expert and best dentist in {{data.city}}. {{data.name}} provides comprehensive dental and cosmetic smile solutions." />
<meta property="og:url" content="https://ultimatesmiledesign.com/certified-dentists/{{data.slug}}/" />
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{data.name}} - Smile Design Expert Dentist in {{data.city}}">
<meta name="twitter:description" content="Explore {{data.name}}'s profile, a smile design expert and best dentist in {{data.city}}. {{data.name}} provides comprehensive dental and cosmetic smile solutions."/>
{% endblock seo%}
{% block header %} {% endblock header %} 
{% block css %} 
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
{% endblock css %} 
{% block body %}
<!-- Content -->
<div class="page-content" style="border-top: 1px solid #ddd">
  <section class="breadcrumbs-section contactus-breadcrumbs-section">
    <div class="container">
      <div class="breadcrumbs-path">
        <a href="{% url 'home:home' %}"> Home </a> &nbsp;
        <i class="fa fa-solid fa-angles-right"></i> &nbsp;
        <a href="{% url 'home:search_all_usd' %}">Certified Dentists </a> &nbsp;
        <i class="fa fa-solid fa-angles-right"></i> &nbsp;{{data.name}}
      </div>
      <h1 class="breadcrumbs-title bg-linear-gradient mb-0 fw-bold cool fs-3">
        {{data.name}} - Dentist in {{data.city}}
      </h1>
      {% comment %}
      <img
        src="{% static 'Group 291.svg' %}"
        class="find-dentist-img img-fluid"
      />
      {% endcomment %}  
    </div>
  </section>

  <!-- Left & right section -->
  <div
    class="aon-page-jobs-wrap d-flex justify-content-center"
    style="padding-top: 40px"
  >
    <img
      src="{% static 'group-new.svg' %}"
      class="img-fluid bg_detail_vec1"
      loading="lazy"
      alt="background vector"
    />
    <div class="container">
      <div class="row">
        <!-- Left part start -->
        <div
          class="col-lg-12 d-flex justify-content-center flex-column align-items-center"
        >
          <!-- Doctor about -->
          <div class="Doctor_photo_card">
            {% if data.profile %}
            <img
              src="{{data.profile.url}}"
              alt="{{data.name}} - Dentist in {{data.city}}"
              class="img-fluid Doctor_photo"
            />
             
            {% else %}
            
            <img src="{% static 'noimage-team.webp' %}" alt="Image" />
            {% endif %}
            <div class="bat appoint_btn" onclick="BookAppoinment('{{data.id}}','{{data.profile.name}}','{{data.city}}')">Book Appointment</div>

           
          </div>

          <!-- doctor detail card -->
          <div class="Doctor_Detail_Card">
            <h2 class="Doctor_Name cool">About {{data.name}}</h2>
            {% comment %} <div class="Doctor-City Doctor-Text">
              {% if data.city %} {{data.city.city}} {% else %} India {% endif %}
            </div> {% endcomment %}

            <div class="Doctor-Text mt-2">{{data.bio}}</div>

            <h3 class="Doctor-subtext cool">Education Training</h3>
            <ul class="Education_list Doctor-Text">
              {{data.education|safe}} 
            </ul>

            <h3 class="Doctor-subtext cool">Experience</h3>
            <ul class="sf-doc-exp-list-detail Doctor-Text">
              {{data.experience|safe}}
            </ul>

            <h3 class="Doctor-subtext cool">Specializations</h3>
            <div class="row">
              <div class="col-md-4 col-sm-6 mb-4">
                <div class="aon-insuranc-list">
                  <ul class="Doctor-Text">
                    {% for ie in data.specializations.all %}
                    <li>{{ie}}</li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!--review card start-->
          {% comment %} <div class="dentist-review-section pt-50 position-relative" >
            <div class="container">
              <h3 class="Loc-subtext cool">Review</h3>
                <div class="row justify-content-center">
                  <div class="col-lg-10 col-12 review-content-wrapper">
                    <div class="swiper-container">
                      <div class="swiper review-swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                              <div class="review-card card">
                                <h2 class="review-title mb-2  text-center">Mr.Yashpal</h2>
                                <div class="stars cool text-center mb-2">
                                  <i class="fa-solid fa-star"></i>
                                  <i class="fa-solid fa-star"></i>
                                  <i class="fa-solid fa-star"></i>
                                  <i class="fa-solid fa-star"></i>
                                  <i class="fa-solid fa-star"></i>  
                                </div>
                                <p class="review-description text-center">
                                  Dr. Apeksha Maheshwari is one of the top Dentist in Bhatar, Surat. She has done BDS. She has helped numerous patients in her 9 years of experience as a Dentist. You can consult Dr. Apeksha Maheshwari at Maheshwari Dental & Orthodontic Clinic in Bhatar, Surat. You can freely conversation in English, Hindi, Gujarati with Dr. Apeksha Maheshwari. Dr. Apeksha Maheshwari offers best medical services like Consultation, Basic Dental Care, Dental Ceramics, Dental Services, Preventive Dental Treatments and many more.
                                </p>
                              </div>
                            </div>
                            <div class="swiper-slide">
                              <div class="review-card card">
                                <h2 class="review-title mb-2  text-center">Review 2</h2>
                                <div class="stars cool text-center mb-2">
                                  <i class="fa-solid fa-star"></i>
                                  <i class="fa-solid fa-star"></i>
                                  <i class="fa-solid fa-star"></i>
                                  <i class="fa-solid fa-star"></i>
                                  <i class="fa-solid fa-star"></i>  
                                </div>
                                <p class="review-description text-center">
                                  Dr. Apeksha Maheshwari is one of the top Dentist in Bhatar, Surat. She has done BDS. She has helped numerous patients in her 9 years of experience as a Dentist. You can consult Dr. Apeksha Maheshwari at Maheshwari Dental & Orthodontic Clinic in Bhatar, Surat. You can freely conversation in English, Hindi, Gujarati with Dr. Apeksha Maheshwari. Dr. Apeksha Maheshwari offers best medical services like Consultation, Basic Dental Care, Dental Ceramics, Dental Services, Preventive Dental Treatments and many more.
                                </p>
                              </div>
                            </div>
                            <div class="swiper-slide">
                              <div class="review-card card">
                                <h2 class="review-title mb-2  text-center">Review 3</h2>
                                <div class="stars cool text-center mb-2">
                                  <i class="fa-solid fa-star"></i>
                                  <i class="fa-solid fa-star"></i>
                                  <i class="fa-solid fa-star"></i>
                                  <i class="fa-solid fa-star"></i>
                                  <i class="fa-solid fa-star"></i>  
                                </div>
                                <p class="review-description text-center">
                                  Dr. Apeksha Maheshwari is one of the top Dentist in Bhatar, Surat. She has done BDS. She has helped numerous patients in her 9 years of experience as a Dentist. You can consult Dr. Apeksha Maheshwari at Maheshwari Dental & Orthodontic Clinic in Bhatar, Surat. You can freely conversation in English, Hindi, Gujarati with Dr. Apeksha Maheshwari. Dr. Apeksha Maheshwari offers best medical services like Consultation, Basic Dental Care, Dental Ceramics, Dental Services, Preventive Dental Treatments and many more.
                                </p>
                              </div>
                            </div>
                        </div>
                      </div>
                       <!-- Pagination Dots -->
                        <div class="swiper-pagination"></div>

                        <!-- Navigation Buttons -->
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                  </div>
                </div>
            </div>
          </div> {% endcomment %}
          <!--review card end-->
          <!--Location-->
          <div class="aon-docLocation-wrap" id="aon-locations-area">
            <div class="sf-doc-location">
              <div class="row">
                <div class="col-lg-8">
                  <h3 class="Loc-subtext cool">Location</h3>
                  <div class="details_card">
                    <div class="address_dr">{{data.address}}</div>
                    <div class="sf-doc-location-map grayscle-area">
                      {{data.iframe|safe}}
                    </div>
                  </div>
                </div>
                <div class="col-lg-4">
                  <h3 class="Loc-subtext cool">Photo Gallery</h3>
                  <div class="details_card">
                    <div class="aon-find-doctors-wrap">
                      <div class="aon-photo-gallery d-flex">
                        {% if gallery|length > 5 %}
                        <a
                          class="aon-photo-num elem pic-long d-flex justify-content-center align-items-center"
                          href="{% static 'a5.png' %}"
                          >10+</a
                        >
                        {% endif %}

                        <!-- Loop through the gallery and show up to 5 images -->
                        {% for ie in gallery|slice:":5" %}
                        <a class="elem pic-long" href="{{ ie.image.url }}">
                          <img
                            src="{{ ie.image.url }}"
                            alt="Gallery Image"
                            class="img-thumbnail"
                          />
                        </a>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock body %} 
{% block js %}
<script>
  function BookAppoinment(id,name,city){
    //console.log("sdf",id,name,city)
    const doctordata = {
      id:id,
      name:name,
      city:city
    }
    localStorage.setItem('selectedDoctor',JSON.stringify(doctordata));
    window.location.href="/consult-with-dentist/";
  }
</script>
<script>
  document.addEventListener("DOMContentLoaded",function () {
    const mySwiper = new Swiper(".review-swiper",{
      loop:true,
      centeredSlides:true,
      spaceBetween:20,
      speed:800,
      effect: "slide",
      grabCursor:true,
      slidesPerView:1,
      observeParents:true,
      observer:true,
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      pagination: {
        el: ".swiper-pagination",
        dynamicBullets: true,
      },
    })
  })
</script>
{% endblock %}
