{% extends 'base.html' %} {% load static %} 

{% block header %} 
{% endblock header %} 
{% block seo%}
<title>Ultimate Smile Design | Custom Smile Design by Expert Dentists</title>
<meta name="description" content="Experience custom smile designing with Ultimate Smile Design. Connect with expert dentists across cities and book your personalized smile makeover appointment." />
<link rel="canonical" href="https://ultimatesmiledesign.com/" />
<meta property="og:image" content="{% static 'feature-usd.webp'%}">
<meta property="og:image:secure_url" content="{% static 'feature-usd.webp'%}">
<meta property="og:image:type" content="image/webp" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta property="og:locale" content="en_IN" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Ultimate Smile Design | Custom Smile Design by Expert Dentists" />
<meta property="og:description" content="Experience custom smile designing with Ultimate Smile Design. Connect with expert dentists across cities and book your personalized smile makeover appointment." />
<meta property="og:url" content="https://ultimatesmiledesign.com/" />
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Ultimate Smile Design | Custom Smile Design by Expert Dentists">
<meta name="twitter:description" content="Experience custom smile designing with Ultimate Smile Design. Connect with expert dentists across cities and book your personalized smile makeover appointment.">
{% endblock seo%}
{% block css %}
<!-- Owl Carousel CSS -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
/>

<!-- Owl Carousel JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<link rel="stylesheet" href="{% static 'css/service.css' %}" />
<style>
  #sync1 .item {
    margin-right: 10px !important;
  }
  /* Apply margin only for mobile view (up to 768px width) */
</style>
{% endblock css %}
{% block body %}
<!-- CONTENT START -->
<div class="page-content">
  <!-- BANNER SECTION START -->
  <section class="Banner_Section position-relative pt-50">
    <div class="">
      <div class="row ">
        <div class="main-body-section text-center container">
          <div class="text-center banner_main_txt position-relative container">
            <!-- tooth Images -->
            <img src="{% static 'usdBannerTeeth2.png' %}" class="banner-teeth-2 bg_1 img-fluid" loading="lazy" alt="Smile Step Group 1" />
            <!-- Banner Text -->
            <p class="position-relative mb-0">Nothing You Wear is More Important </p>
            <p class="cool position-relative">Than Your Smile</p>
          </div>
          <!-- data-aos="fade-down" data-aos-duration="1500" data-aos-delay="0" -->
           <!-- Search Functionality -->
            {% comment %} <div class="container">
              <div class="aon-banner-search d-none d-md-inline-block  position-relative " style="margin-top: 30px; background-color: #2D2D2D" >
                <form class="aon-search2-form aon-search2-form-area" action="{% url 'home:search_all_usd' %}" method="GET"> 
                  {% csrf_token %}
                  <div class="d-flex">
                    <img src="{% static 'personG.svg' %}" class="img-fluid"  alt="location" width="25" height="25"/>
                    <input type="text" class="  banner-txt-field" placeholder="Enter Doctor's Name" name="q" id="doctor-search" style=" ">
                  </div>
                  <div class="d-flex">
                    <img  src="{% static 'process-1.svg' %}"  class="img-fluid pl-2"  alt="location"  width="25"  height="25" />
                    <select class=" banner-form" name="city" id="location-select" style="">
                      <option value="" selected>Select City</option>
                        {% for city in cities %}
                        <option value="{{ city.id }}" style="color: white">{{ city.city }}</option>
                        {% endfor %}
                    </select>
                  </div>
                  <div class="aon-search2-right ">
                    <div class="aon-search2-col aon-search-btn">
                        <button class="submit_banner_btn bat" type="submit">Find</button>
                    </div>
                  </div>
                </form>
              </div>
            </div> {% endcomment %}
          
          <!-- USD MAin Banner Teeth Image -->
          <img  src="{% static 'usdBannerTeeth2.webp' %}"  class=" img-fluid mt-5"  loading="lazy"  alt="Smile Step Group 1" />
        </div>
        <!-- Left Column -->
        
        <!-- Right Column -->
        {% comment %} <div class="col-lg-6 d-flex align-items-center flex-column" style="margin-top: 50px;">
          <div class="banner_main_txt " data-aos="zoom-in-left" data-aos-duration="1500" data-aos-delay="300">
            
            <img src="{% static 'banner_vec.png' %}" class="banner_vector img-fluid" loading="lazy" alt="Smile Step Group 1" />   
          </div>
          <div class="banner_buttons">
            <a href="{% url 'home:dentist' %}" target="_blank" class="bat banner_btn ">
              For Patients</a>            
            <a href="https://dentist.ultimatesmiledesign.com/" target="_blank" class="bat banner_btn ">
              For Dentist</a>
          </div>
          </div>
      </div>     {% endcomment %}
      </div>
    </div>
  </section>

  <!-- BANNER SECTION END -->
  <section class="Developer_Section pt-50" >
    <div class="container">
      <div class="row">
        <!-- Left Column -->
        <div class="col-lg-5 mainImageCard position-relative order-0 order-lg-2">
          <img  src="{% static 'smile-discover.webp' %}"  class="Discover_Group img-fluid"  loading="lazy"  alt="Smile Step Group 1"  />
          <img  src="{% static 'ring.svg' %}"  class="usd_ring"  loading="lazy"  alt="USD ring"  />
          <img  src="{% static 'sm-orange.svg' %}"  class="smile_orange"  loading="lazy"  alt="orage smile"  />
        </div>

        <!-- Right Column -->
        <div
          class="px-0 col-lg-7 d-flex align-items-center flex-column justify-content-center"
          style="margin-top: 12px; margin-bottom: 18px; position: relative"
        >
          <div class="step_card d-flex flex-row align-items-start">
            <div class="step_header">
              <h1 class="Discover_text text-header-subtitle">Discover Your Ideal Smile with Our Ultimate Smile Designers</h1>
              <h2 class="Discover_heading cool text-header">Transform Your Smile with The Expert Smile Designer</h2>
              <p class="text-subcontent">
                Begin your journey to a radiant smile with our curated list of
                Ultimate Smile Designers.
              </p>
              <p class="text-subcontent">
                Our platform offers you access to premier dental experts who are
                adept at crafting smiles that not only look stunning but also
                complement your individuality.
              </p>
              <p class="text-subcontent">
                Through cutting-edge digital dentistry, our professionals are
                committed to providing you with a smile that enhances both your
                aesthetic appeal and dental health, tailored specifically to
                your facial features and personal preferences.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="working-section text-center pt-50">
    <div class="container">
      <p class="working_title position-relative text-header mb-0 text-center cool">WORKING PROCESS </p>
     
      <h2 class="working_subtitle text-header-subtitle mb-0">How Our Platform Works</h2>
      <div
        class="row working-main-content justify-content-lg-center justify-content-center gap-md-0"
      >
        <div class="col-lg-4 col-md-6 col-sm-10 col-12">
          <div class="card working-main-wrapper card_1" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="50">
            <div class=" mx-auto my-lg-4 mt-4 mb-3 d-flex align-items-center justify-content-center ">
            <img  src="{% static 'sm-grey.svg' %}"  class="smile_orange"  loading="lazy"  alt="orage smile"  />
              <img
                src="{% static 'process-1.svg' %}"
                class="img-fluid"
                alt="location"
                style="width: 60px; height: 60px;"
              />
            </div>
            <div class="card-body">
              <h3 class="working-main-title text-center fw-bold mb-1 mb-lg-2">
                Search for Your Smile Designer
              </h3>
              <p class="working-main-description text-center fw-600 my-lg-3 my-2">
                Explore our directory to find your ideal Ultimate Smile
                Designer. Filter by location, expertise, and ratings to find the
                perfect match for your smile goals.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-10 col-12">
          <div class="card working-main-wrapper card_2" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="100">
            <div
              class=" mx-auto my-lg-4 mt-4 mb-3 d-flex align-items-center justify-content-center"
            >
              <img
                src="{% static 'process-2.svg' %}"
                class="img-fluid"
                alt="location"
                style="width: 60px; height: 60px;"
              />
            </div>
            <div class="card-body">
              <h3 class="working-main-title mb-1 mb-lg-2">
                Book Your Appointment
              </h3>
              <p class="working-main-description my-lg-3 my-2">
                Select your preferred time and date to schedule an appointment
                with your chosen Smile Designer. Our platform makes booking easy
                and convenient.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-10 col-12">
          <div class="card working-main-wrapper card_3" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="150">
            <div
              class=" mx-auto my-lg-4 mt-4 mb-3 d-flex align-items-center justify-content-center "
            >
            <img  src="{% static 'sm-yellow.svg' %}"  class="smile_yellow"  loading="lazy"  alt="orage smile"  />
              <img
                src="{% static 'process-3.svg' %}"
                class="img-fluid"
                alt="location"
                style="width: 60px; height: 60px;"
              />
            </div>
            <div class="card-body">
              <h3 class="working-main-title mb-1 mb-lg-2">
                Experience Your Smile Transformation
              </h3>
              <p class="working-main-description my-lg-3 my-2 position-relative">
                Attend your appointment to start the journey towards your dream
                smile. With expert care and advanced digital techniques, your
                Smile Designer will bring your vision to life.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% include "location.html" %}

  {% comment %} <section class="registration_Patient">
    <img
      src="{% static 'bg_vec.svg' %}"
      class="vec_one"
      loading="lazy"
      alt="care Icon"
    />
    <img
      src="{% static 'bg_vec.svg' %}"
      class="vec_two"
      loading="lazy"
      alt="care Icon"
    />
    <div class="container">
      <div class="inner_card text-center">
        <h2 class="registrayion_small text-center">Registration</h2>
        <img
          src="{% static 'text_vec.svg' %}"
          class="text_vec"
          loading="lazy"
          alt="text vector"
          style="width: 136px; height: 10px"
        />
        <h3 class="registration_heading text-header-subtitle">
          Want to Schedule Your Smile <br />
          Design Appointment Easily?
        </h3>
        <p class="registration_subtext">
          Transform your smile and boost your confidence. Our network of
          Ultimate Smile Designers is ready to provide you with personalized
          dental solutions. If you're aiming for a radiant smile, our experts
          are here to guide you every step of the way. Should you require a more
          tailored approach, don't hesitate to get in touch with us.
        </p>
        <div class="loc-button-container">
          <button class="bat loc_btn" onclick="window.location.href='{% url 'home:dentist' %}';">Get in Touch</button>
        </div>
      </div>
    </div>
  </section> {% endcomment %}

  <section class="registration_section text-center pt-50">
    <div class="container">
      <div class="row register_wrapper justify-content-center position-relative overflow-hidden">
        <div class="col-lg-9 col-md-10 col-12 text-center">
          <p class="text-header  text-center cool">REGISTRATION</p>
          <h2 class="text-header-subtitle">Want to Schedule Your Smile Design Appointment Easily?</h2>
          <p class="text-center  text-subcontent">Transform your smile and boost your confidence. Our network of Ultimate Smile Designers is ready to provide you with personalized dental solutions. If you're aiming for a radiant smile, our experts are here to guide you every step of the way. Should you require a more tailored approach, don't hesitate to get in touch with us.</p>
          <img src="{% static 'toothbg1.png'%}" class=" img-fluid tooth-bg" />
          <button class="btn getInTouch-btn bat my-1"><a href="/consult-with-dentist/">GET IN TOUCH</a></button>
        </div>
      </div>
    </div>
  </section>

  <section class="dentists-section position-relative pt-50">
    <img src="{% static 'vector2.svg'%}" class="position-absolute vector2-img img-fluid"/>
     <div class="container pt-4 pb-2">
       <p class="text-center cool dentists_title position-relative text-header mb-0">Dentists</p>
       <h2 class="dentists_subtitle text-header-subtitle">Best Dentist Near Me - ADE Verified</h2>
       <div class="dentists-content-1 d-flex align-items-end justify-content-between">
         <p class="mb-0 text-subcontent">
           Discover trusted dental professionals via Ultimate Smile Designers.
           Our platform connects you to expert dentists offering check‐ups,
           cosmetic, and advanced procedures. Enjoy personalized, quality care
           for your smile with us.
         </p>
         <form id="searchForm" class="form position-relative" method="GET" action="{% url 'home:home' %}" style="width:20%">
           {% csrf_token %}
               <select
                 id="cityDropdown"
                 class="form-select d-flex align-items-center justify-content-between w-100"
                 name="city"
                 placeholder="Select Location"
                 aria-label="Default select example">
                   <option value="">Select Location</option>
                   {% for ie in a_city %}
                   <option value="{{ie.id}}" {% if ie.city == "Surat" or city == ie.id|stringformat:"s" %}selected{% endif %}>
                     {{ie.city}}
                   </option>
                   {% endfor %}
               </select>
         </form>
       </div>
       <div class="row dentists-content-2 mt-5 pb-4 justify-content-center " id="dentist-list" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="100">
        {% for ie in data %}
        {% comment %} {{ie.slug}} {% endcomment %}
         <div class="col-lg-4 col-md-6 col-sm-10 mb-md-3 mb-0 col-12">
           <div class="card dentists-content justify-content-center">
             <a href="{% url 'home:find_dentist_d' ie.slug %}">
               {% if ie.profile %}
                 <img src="{{ ie.profile.url }}" class="img-fluid" alt= "{{ ie.name }}" />
               {% else %}
                <img src="{% static 'noimage-team.webp' %}" class="img-fluid" alt="Image" />
               {% endif %}
             </a>
             <div class="card-body pt-1 text-end px-0 pb-0">
               <p class="dentists-content-title fw-600 fs-20 font-Barlow   white text-start mb-0">
                 {{ie.name}}
               </p>
               <p class="mb-2 font-Barlow white fs-14 fw-500 text-start">{{ie.city}}</p>
               <button class="btn  btn-appointment bat w-100 my-2">
                 <a href="/consult-with-dentist/" onclick="BookAppoinment('{{ie.name}}','{{ie.city}}')">Book Appointment</a>
               </button>
               <span class="cool font-Barlow fw-500 text-end position-relative mb-0">ADE Verified Dentist</span>
             </div>
           </div>
         </div>
         {% endfor %}
       </div>
     </div>
     <img src="{% static 'vector1.svg'%}" class="vector1-img img-fluid"/>
  </section>

  <section class="smile_step_Section text-center pt-50">
    <div class="container pt-1 pt-sm-3 pb-sm-4 pb-0">
      <div class="inner_smile_step_section">
        <p class="registrayion_small text-header cool  mb-0">Creating Smiles</p>
        <h2 class="registration_heading  text-header-subtitle"> We are Crafting Beautiful Smiles for a Brighter Future.</h2>
      </div>
      
      <div class="all_step pb-sm-3 pb-0">
        <div class="step_left text-sm-start text-center d-flex align-items-center ">
          <div class="step_image_content position-relative" data-aos="zoom-in" data-aos-duration="1500" >
          <p class="step_number step_number_left"> 01 </p>
          <img  src="{% static 'step1.jpg' %}"  class="step_image img-fluid"  loading="lazy"  alt="Smile Step Group 1"  />
        </div>
          <div class="step_content" data-aos="fade-up" data-aos-duration="1500">
            <h3 class="step_head white font-Glida-display">Find Your Ultimate Smile Designer</h3>
            <p class="step_text font-Barlow">Explore our extensive directory to discover a skilled Ultimate Smile Designer near you, one who aligns with your smile aspirations and dental needs.</p>
          </div>
        </div>

        <div class="step_right text-sm-end text-center d-flex align-items-center justify-content-sm-end justify-content-center ">
          <div class="step_content_right order-1" data-aos="fade-up" data-aos-duration="1500">
            <h3 class="step_head white font-Glida-display">Customize Your Smile Journey</h3>
            <p class="step_text font-Barlow">Select the perfect time for your appointment and embark on a personalized journey to achieve the smile that best fits your personality and desires.</p>
          </div>
          <div class="step_image_content order-0 order-md-1 order-lg-1 " data-aos="zoom-in" data-aos-duration="1500" >
          <p class="step_number step_number_right"> 02 </p>
          <img  src="{% static 'step2.webp' %}"  class="step_image img-fluid opacity-07 "  loading="lazy"  alt="Smile Step Group 1"  />
        </div>
        </div>

        <div class="step_left">
          <div class="step_image_content" data-aos="zoom-in" data-aos-duration="1500" >
          <p class="step_number step_number_left"> 03 </p>
          <img  src="{% static 'step3.jpg' %}"  class="step_image img-fluid"  loading="lazy"  alt="Smile Step Group 1"  />
        </div>
          <div class="step_content" data-aos="fade-up" data-aos-duration="1500" >
            <h3 class="step_head white font-Glida-display">Your Perfect Smile, Ready to Shine</h3>
            <p class="step_text font-Barlow">Feel your perfect ready to shine smile with our expert ultimate smile designers and advanced digital equipment's.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  {% comment %} <section class="usd-studio-section overflow-hidden">
      <div class="usd-title-wrapper usd_shadow_1cu">
          <div class="usd_shadow_1mt"  style="image-rendering: pixelated; flex-shrink: 0; fill: rgba(0, 0, 0, 1); color: rgba(0, 0, 0, 1);">
            <div class="usd_shadow_svg_container" style="width:100%; height:100%; aspect-ratio:inherit">
              <svg
                style="width: 100%; height: 100%"
                viewBox="0 0 109 118"
                preserveAspectRatio="none"
                width="100%"
                height="100%"
              > 
                <path
                  d="M104.85 0.19043C88.5797 9.33738 65.8538 24.5176 43.6795 48.5182C21.4337 72.6004 8.09434 96.5601 0.270508 113.527"
                  stroke="url(#svg58189272_565_paint0_linear_444_3161)"
                  stroke-width="3.47222"
                  stroke-miterlimit="10"
                ></path>
                <defs>
                    <linearGradient
                      id="svg58189272_565_paint0_linear_444_3161"
                      x1="-0.189117"
                      y1="56.7463"
                      x2="105.095"
                      y2="56.7463"
                      gradientUnits="userSpaceOnUse"
                    >
                      <stop offset="0.12%"  stop-color="#C3942F" stop-opacity="0.2" />
                      <stop offset="41.31%" stop-color="#D89C27" />
                      <stop offset="53.42%" stop-color="#E7DC96" />
                      <stop offset="65.82%" stop-color="#DFC86F" />
                      <stop offset="75.96%" stop-color="#D89C27" />
                      <stop offset="84.47%" stop-color="#C99C30" />
                    </linearGradient>
                </defs>
              </svg>
            </div>
          </div>
          <div class="usd_shadow_199" style="image-rendering: pixelated; flex-shrink: 0; fill: rgba(0, 0, 0, 1); color: rgba(0, 0, 0, 1);">
            <div class="usd_shadow_svg_container" style="width:100%;height:100%;aspect-ratio:inherit">
              <svg style="width: 100%; height: 100%" viewBox="0 0 61 172" preserveAspectRatio="none" width="100%" height="100%">
                <path
                  d="M56.1654 0.667969C41.6397 15.6709 20.4794 41.9535 8.99555 79.6039C1.63353 103.772 1.01636 124.282 0.906147 129.547C0.619602 144.727 2.29479 157.571 4.14632 167.154"
                  stroke="url(#svg-2012698338_616_paint0_linear_444_3162)"
                  stroke-width="3.47222"
                  stroke-miterlimit="10"
                ></path>
                <defs>
                  <linearGradient
                    id="svg-2012698338_616_paint0_linear_444_3162"
                    x1="-0.217993"
                    y1="83.6135"
                    x2="56.9589"
                    y2="83.6135"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop offset="5.12%" stop-color="#C3942F" stop-opacity="0.4" />
                    <stop offset="31.31%" stop-color="#D89C27"  />
                    <stop offset="53.42%" stop-color="#E7DC96" />
                    <stop offset="65.82%" stop-color="#DFC86F" />
                    <stop offset="75.96%" stop-color="#D89C27" />
                    <stop offset="84.47%" stop-color="#C99C30" />
                  </linearGradient>
                </defs>
              </svg>
            </div>
          </div>
          <div class="usd_shadow_frm" style="image-rendering: pixelated; flex-shrink: 0; fill: rgba(0, 0, 0, 1); color: rgba(0, 0, 0, 1);">
            <div class="usd_shadow_svg_container" style="width: 100%; height: 100%; aspect-ratio: inherit">
              <svg style="width: 100%; height: 100%" viewBox="0 0 75 185" preserveAspectRatio="none" width="100%" height="100%">
                <path
                  d="M0.192383 0.794922C13.5623 25.8163 27.2081 54.5128 39.8733 86.7619C53.182 120.634 63.0383 152.404 70.423 180.998"
                  stroke="url(#svg1250815804_565_paint0_linear_444_3163)"
                  stroke-width="3.47222"
                  stroke-miterlimit="10"
                ></path>
                <defs>
                  <linearGradient
                    id="svg1250815804_565_paint0_linear_444_3163"
                    x1="-0.267241"
                    y1="90.8352"
                    x2="70.9132"
                    y2="90.8352"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop offset="12.12%" stop-color="#C3942F" />
                    <stop offset="20.31%" stop-color="#D89C27" />
                    <stop offset="30.42%" stop-color="#E7DC96" />
                    <stop offset="40.82%" stop-color="#DFC86F" />
                    <stop offset="50.96%" stop-color="#D89C27" />
                    <stop offset="84.47%" stop-color="#C99C30" />
                  </linearGradient>
                </defs>
              </svg>
            </div>
          </div>
          <div class="usd_shadow_16e" style="image-rendering: pixelated; flex-shrink: 0; fill: rgba(0, 0, 0, 1); color: rgba(0, 0, 0, 1);">
            <div class="usd_shadow_svg_container" style="width: 100%; height: 100%; aspect-ratio: inherit">
              <svg style="width: 100%; height: 100%" viewBox="0 0 102 304" preserveAspectRatio="none" width="100%" height="100%">
                <path
                  d="M0.348633 0.0664062C20.2313 20.7109 48.598 55.5778 69.7216 106.792C103.788 189.418 98.7376 265.541 94.6398 299.046"
                  stroke="url(#svg641629864_548_paint0_linear_444_3164)"
                  stroke-width="3.47222"
                  stroke-miterlimit="10"
                ></path>
                <defs>
                  <linearGradient
                    id="svg641629864_548_paint0_linear_444_3164"
                    x1="-0.141941"
                    y1="149.329"
                    x2="98.2903"
                    y2="149.329"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop offset="12.12%" stop-color="#C3942F" />
                    <stop offset="30.31%" stop-color="#D89C27" />
                    <stop offset="45.42%" stop-color="#E7DC96" />
                    <stop offset="50.82%" stop-color="#DFC86F" />
                    <stop offset="55.96%" stop-color="#D89C27" stop-opacity="0.9" />
                    <stop offset="84.47%" stop-color="#C99C30" stop-opacity="0" />
                  </linearGradient>
                </defs>
              </svg>
            </div>
          </div>
          <div class="usd_shadow_1n9" style="image-rendering: pixelated; flex-shrink: 0; fill: rgba(0, 0, 0, 1); color: rgba(0, 0, 0, 1);">
            <div class="usd_shadow_svg_container" style="width:100%; height: 100%; aspect-ratio: inherit">
              <svg style="width: 100%; height: 100%" viewBox="0 0 102 304" preserveAspectRatio="none" width="100%" height="100%">
                <path
                  d="M0.348633 0.0664062C20.2313 20.7109 48.598 55.5778 69.7216 106.792C103.788 189.418 98.7376 265.541 94.6398 299.046"
                  stroke="url(#svg641629864_548_paint0_linear_444_3165)"
                  stroke-width="3.47222"
                  stroke-miterlimit="10"
                ></path>
                <defs>
                  <linearGradient
                    id="svg641629864_548_paint0_linear_444_3165"
                    x1="-0.141941"
                    y1="90.329"
                    x2="98.2903"
                    y2="90.329"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop offset="12.12%" stop-color="#C3942F" />
                    <stop offset="30.31%" stop-color="#D89C27" />
                    <stop offset="45.42%" stop-color="#E7DC96" />
                    <stop offset="50.82%" stop-color="#DFC86F" />
                    <stop offset="55.96%" stop-color="#D89C27"  />
                    <stop offset="75.47%" stop-color="#C99C30" stop-opacity="0.1" />
                  </linearGradient>
                </defs>
              </svg>
            </div>
          </div>
          <div class="usd_shadow_8g9" style="image-rendering: pixelated; flex-shrink: 0; fill: rgba(0, 0, 0, 1); color: rgba(0, 0, 0, 1);">
            <div class="usd_shadow_svg_container" style="width: 100%; height: 100%; aspect-ratio: inherit">
              <svg style="width: 100%; height: 100%" viewBox="0 0 75 185" preserveAspectRatio="none" width="100%" height="100%">
                <path
                  d="M70.8722 0.794922C57.5022 25.8163 43.8565 54.5128 31.1913 86.7619C17.8826 120.634 8.02623 152.404 0.641602 180.998"
                  stroke="url(#svg1062752523_566_paint0_linear_444_3166)"
                  stroke-width="3.47222"
                  stroke-miterlimit="10"
                ></path>
                <defs>
                  <linearGradient
                    id="svg1062752523_566_paint0_linear_444_3166"
                    x1="0.141122"
                    y1="90.8352"
                    x2="71.3216"
                    y2="90.8352"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop offset="0.12%" stop-color="#C3942F" stop-opacity="0" />
                    <stop offset="60.31%" stop-color="#D89C27" stop-opacity="0.5" />
                    <stop offset="70.42%" stop-color="#E7DC96" />
                    <stop offset="75.82%" stop-color="#DFC86F" />
                    <stop offset="84.96%" stop-color="#D89C27" />
                    <stop offset="100.47%" stop-color="#C99C30" />
                  </linearGradient>
                </defs>
              </svg>
            </div>
          </div>
          <div class="usd_shadow_ssr_variant">
            <a href="#" class="usd_shadow_oal2">
                <div class="" style="position:absolute; border-radius:inherit;inset:0;">
                  <img  src="{% static 'title.png' %}" class="img-fluid" width="432" height="420" alt="usd social logo" style="display:block;width: 100%;height: 100%;border-radius: inherit;object-position: center center;object-fit: fill;" />
                </div>
            </a>
          </div>
      </div>
      <div class="usd-floating-images position-absolute d-none">
          <div class="container">
            <a href="#" class="usd-img-wrapper">
              <img src="{% static 'usd-img8.png' %}" srcset="{% static 'usd-img8.png' %}" class="usd-img1 img-fluid" alt="usd-img1" />
              <div class="usd-bg-shadow"></div>
            </a>
            <a href="#" class="usd-img-wrapper" >
              <img src="{% static 'usd-img1.png' %}" srcset="{% static 'usd-img1.png' %}" class="usd-img2 img-fluid" alt="usd-img2" width="408" height="640" sizes="calc(100vw * 0.0967)" />
            </a>
            <a href="#" class="usd-img-wrapper">
              <img src="{% static 'usd-img2.png' %}" srcset="{% static 'usd-img2.png' %}" class="usd-img3 img-fluid" alt="usd-img3" />
            </a>
            <a href="#" class="usd-img-wrapper">
              <img src="{% static 'usd-img3.png' %}" srcset="{% static 'usd-img3.png' %}" class="usd-img4 img-fluid" alt="usd-img4" />
            </a>
            <a href="#" class="usd-img-wrapper">
              <img src="{% static 'usd-img7.png' %}" srcset="{% static 'usd-img7.png' %}" class="usd-img5 img-fluid" alt="usd-img5" />
            </a>
            <a href="#" class="usd-img-wrapper">
              <img src="{% static 'usd-img5.png' %}" srcset="{% static 'usd-img5.png' %}" class="usd-img6 img-fluid" alt="usd-img6" />
               <div class="usd-bg-shadow"></div>
            </a>
            <a href="#" class="usd-img-wrapper">
              <img src="{% static 'usd-img4.png' %}" srcset="{% static 'usd-img4.png' %}" class="usd-img7 img-fluid" alt="usd-img7" />
            </a>
            <a href="#" class="usd-img-wrapper">
              <img src="{% static 'usd-img7.png' %}" srcset="{% static 'usd-img7.png' %}" class="usd-img8 img-fluid" alt="usd-img8" />
            </a>
            <a href="#" class="usd-img-wrapper">
              <img src="{% static 'usd-img6.png' %}" srcset="{% static 'usd-img6.png' %}" class="usd-img9 img-fluid" alt="usd-img9" />
            </a>
            <a href="#" class="usd-img-wrapper">
              <img src="{% static 'usd-img4.png' %}" srcset="{% static 'usd-img4.png' %}" class="usd-img10 img-fluid" alt="usd-img10" />
            </a>
          </div>
      </div>
  </section> {% endcomment %}

  <section class="schedule-data-section position-relative pt-50" >
    <img src="{% static 'vector31.svg' %}" class="vector3-img img-fluid" />
    <div class="container py-sm-5 py-4">
      <div class="row position-relative justify-content-center">
        <div class="schedule-data-content-img1 col-xl-4 col-lg-5 col-md-6 px-md-1 position-relative">
          <img src="{% static 'filter-Subtract.webp' %}" class="img-fluid" />
          <div class="bg-schedule text-center" data-aos="fade-up" data-aos-duration="1500">
            <div class="d-flex align-items-center justify-content-center">
              <img
                src="{% static 'Frame.svg' %}"
                class="mt-4 mb-md-3 mb-4 schedule-data-icon img-fluid"
                alt="dentists"
              />
            </div>
            <p class="text-center fw-400 mb-md-1 mb-1 cool fs-4"><b> <span class="counter">432</span>+</b></p>
            <p class="text-center fw-500 mb-md-2 mb-0">Dentists</p>
          </div>
        </div>
        <div class="col-xl-6 col-lg-7 col-md-6 schedule-data-content">
          <p class="schedule-data-title position-relative text-header mb-0 cool">Get Started</p>
          <h2 class="schedule-data-subtitle text-header-subtitle">Call Us and Schedule Your Smile Design Consultation</h2>
          <p class="text-subcontent  pb-0 fw-400">
            Discover the leading destinations where patients connect with our
            network of Ultimate Smile Designers. Our platform helps you find
            expert dentists across various prime locations, ensuring you're
            never far from achieving your perfect smile.
          </p>
          <div class="schedule-data-content-2 row pt-lg-3 pt-sm-4 pt-md-3 pt-3">
            <div class="col-lg-4 col-sm-6 col-6 d-lg-none d-md-none d-sm-block" data-aos="fade-up" data-aos-duration="1500">
              <div class="schedule-data-link text-center">
                <div
                  class="d-flex justify-content-center align-items-center mx-auto"
                >
                  <img
                    src="{% static 'Frame.svg'%}"
                    class="mt-4 mb-3 img-fluid"
                    alt="smile-makeover"
                    style="width: 23.35%"
                  />
                </div>
                <p class="mb-0 cool fs-4"><b> <span class="counter">432 </span>+ </b></p>
                <p class="text-center mb-0 pb-2">Dentists</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-6 px-xl-3 px-lg-2 px-md-2" data-aos="fade-up" data-aos-duration="1500">
              <div class="schedule-data-link text-center">
                <div
                  class="d-flex justify-content-center align-items-center mx-auto text-center"
                >
                  <img
                    src="{% static 'smile-makeover.svg'%}"
                    class="mt-4 mb-3 pt-1 img-fluid"
                    alt="smile-makeover"
                  />
                </div>
                <p class="mb-0 text-center cool fs-4 fw-600"> <span class="counter">12 </span>K+</p>
                <p class="text-center mb-0 pb-2">Smile Makeover</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-6 px-xl-3 px-lg-2 px-md-2" data-aos="fade-up" data-aos-duration="1500">
              <div class="schedule-data-link text-center">
                <div
                  class="d-flex justify-content-center align-items-center mx-auto"
                >
                  <img
                    src="{% static 'cities.svg'%}"
                    class="mt-4 mb-3 img-fluid"
                    alt="smile-makeover"
                  />
                </div>
                <p class="mb-0 text-center cool fs-4 fw-600"> <span class="counter">25</span>+</p>
                <p class="text-center mb-0 pb-2">Cities</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-6 px-xl-3 px-lg-2 px-md-2" data-aos="fade-up" data-aos-duration="1500">
              <div class="schedule-data-link text-center">
                <div
                  class="d-flex justify-content-center align-items-center mx-auto"
                >
                  <img
                    src="{% static 'experience-year.svg'%}"
                    class="mt-4 mb-3 img-fluid"
                    alt="smile-makeover"
                  />
                </div>
                <p class="mb-0 text-center cool fs-4 fw-600"> <span class="counter">15</span>+</p>
                <p class="text-center mb-0 pb-2">Experience Years</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-6 mt-sm-3 mt-0 px-md-3 callus-btn-wrapper" data-aos="zoom-in" data-aos-duration="1500">
              <a href="tel:+918469888877">
                <button
                  class="d-flex w-100 fs-16 font-Barlow align-items-center justify-content-center btn btn-call bat">
                  <b>Call Us</b>
                  <i class="ms-2 white  fa-solid fa-arrow-right-long"></i>
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% comment %} <section class="registration_Doctor">
    <div class="container">
      <div class="inner_card_doctor text-center">
        <img
          src="{% static 'bg_vec2.svg' %}"
          class="vec2_two"
          loading="lazy"
          alt="vector "
        />
        <img
          src="{% static 'bg_vec2.svg' %}"
          class="vec2_one"
          loading="lazy"
          alt="vector "
        />
        <h2 class="registrayion_small text-center">Registration</h2>
        <img
          src="{% static 'text_vec.svg' %}"
          class="text_vec position-relative"
          loading="lazy"
          alt="text vector"
          style="width: 110px; height: 12px"
        />
        <p class="registration_heading position-relative">
          Are You a Dentist Interested in <br />
          Attracting New Patients?
        </p>
        <p class="Doctor_subtext">
          <img
            src="{% static 'point_grey.svg' %}"
            class="point"
            loading="lazy"
            alt="Point"
          />Join our exclusive network of Ultimate Smile Designers.
        </p>
        <p class="Doctor_subtext">
          <img
            src="{% static 'point_grey.svg' %}"
            class="point"
            loading="lazy"
            alt="Point"
          />Connect with patients looking for top-notch smile transformations.
        </p>
        <p class="Doctor_subtext">
          <img
            src="{% static 'point_grey.svg' %}"
            class="point"
            loading="lazy"
            alt="Point"
          />Showcase your expertise and grow your practice with our platform.
        </p>
        <div class="loc-button-container">
        <a href="https://dentist.ultimatesmiledesign.com/">
          <button class="bat loc_btn">List Your Practice With Us</button>
        </a>
        </div>
      </div>
    </div>
  </section> {% endcomment %}

  {% comment %} <section class="beforeAndAfter_Section">
    <div class="container">
      <h2 class="registrayion_small" style="padding-left: 5px">Gallery</h2>
      <img
        src="{% static 'text_vec.svg' %}"
        class="text_vec1"
        loading="lazy"
        alt="text vector"
      />
      <h3 class="registration_heading text-header-subtitle mb-3">
        Before & After Smile Transformations
      </h3>
      <p class="Discover_subtext mb-0">
        Explore our gallery to see the remarkable transformations achieved
        through our Ultimate Smile Design services. Witness the power of expert
        smile design in enhancing confidence and creating beautiful smiles with
        these before-and-after showcases.
      </p>
      <div class="swiper-container">
        <div class="swiper Beforeswiper">
          <div class="swiper-wrapper">
            {% for ie in gallery %}
            <div class="swiper-slide">
              <img
                src="{{ie.image.url}}"
                alt="Slide 1"
                class="BAImg"
                loading="lazy"
              />
            </div>
            {% endfor %}
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </section> {% endcomment %}

  <section class="gallery-section">
    <div class="container position-relative">
      <div class="gallery-container mt-xl-4" style="padding-top:130px">
          <div class="floating-images position-relative w-100 d-flex justify-content-center " data-aos="fade-down" data-aos-duration="1500">
              <img src="{% static 'home-gallery/home-gallery1.webp' %}" alt="Before & After">
              <img src="{% static 'home-gallery/home-gallery10.webp' %}" alt="Before & After">
              <img src="{% static 'home-gallery/home-gallery6.webp' %}" alt="Before & After">
              <img src="{% static 'home-gallery/home-gallery11.webp' %}" alt="Before & After">
              <img src="{% static 'home-gallery/home-gallery4.webp' %}" alt="Before & After">
              <img src="{% static 'home-gallery/home-gallery5.webp' %}" alt="Before & After">
              <img src="{% static 'home-gallery/home-gallery7.webp' %}" alt="Before & After">
              <img src="{% static 'home-gallery/home-gallery12.webp' %}" alt="Before & After">
              <img src="{% static 'home-gallery/home-gallery9.webp' %}" alt="Before & Aft0er">
              <img src="{% static 'home-gallery/home-gallery8.webp' %}" alt="Before & After">
              <img src="{% static 'home-gallery/home-gallery3.webp' %}" alt="Before & After">
          </div>
          <div class="d-flex justify-content-center" style="margin-top:100px;margin-bottom:40px" data-aos="zoom-in" data-aos-duration="1500">
            <img src="{% static 'vector4.svg' %}" class="img-fluid" style="width:67%" />
          </div>
          <div class="gallery-text text-center">
              <p class="working_title schedule-data-title position-relative text-header mb-0 cool">GALLERY</p>
              <h2 class="text-header-subtitle mb-0 mt-0">Before & After Smile Transformations</h2>
              <p>Explore our gallery to see the remarkable transformations achieved through our Ultimate Smile Design services. Witness the power of expert smile design in enhancing confidence and creating beautiful smiles with these before-and-after showcases.</p>
              <button class="bat btn btn-gallery">
                <a href="/gallery/">Explore Our Gallery</a>
              </button>
          </div>
      </div>
    </div>
  </section>

  <section class="new-testimonial-section pt-50 position-relative" style="background-color:#000">
    <img src="{% static 'vector5.svg' %}" class="testimonial-vector-img img-fluid" />
    <div class="container pt-sm-4 pb-sm-5 pt-3 pb-3 overflow-hidden">
      <p class="text-center position-relative text-header mb-0 cool d-table m-auto">TESTIMONIALS</p>
      <h2 class="text-header-subtitle text-center">Stories Behind the Smiles</h2>
      <p class="mb-0 fw-500 testimonial_subcontent text-center text-center d-flex m-auto">
        Discover the stories of transformation and joy from our patients who have experienced remarkable smile makeovers with our Ultimate Smile Designers.
      </p>
      <div class="swiper-bg-grident"></div>
      
      <div class="swiper-container mt-sm-5 mt-0">
         
        <div class="swiper myswiper">
         <div class="border-frame"></div>
          <div class="swiper-wrapper">
        
            {% for ie in review %}
              <div class="swiper-slide testimonial-slide">
                <div class="card">
                  <div class="card-header bg-transparent border-0 p-0">
                      <p class="reviewName">{{ie.doctor_name}}</p>
                  </div>
                  <div class="card-body border-0 p-0">
                      <p class="reviewContent">{{ie.review}}</p>
                  </div>
                  <div class="card-footer bg-transparent border-0 p-0">
                      <div class="stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                      </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
  </section>

  {% comment %} <section class="testimonials-section beforeAndAfter_Section1">
    <div class="container">
      <h2 class="registrayion_small">Testimonials</h2>
      <img
        src="{% static 'text_vec.svg' %}"
        class="text_vec"
        loading="lazy"
        alt="text vector"
      />
      <h3 class="registration_heading text-header-subtitle" style="color: #fff">What People Say</h3>
      <p class="Discover_subtext" style="color: white">
        Discover the stories of transformation and joy from our patients who
        have experienced remarkable smile makeovers with our Ultimate Smile
        Designers.
      </p>
      <div class="swiper-container">
        <div class="swiper myswiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img
                src="{% static 'Quotes.svg' %}"
                class="bgreviw"
                loading="lazy"
                alt="Quotes"
              />
              <p class="reviewName">Priyanka Sharma</p>
              <div class="reviewContent">
                I never imagined my smile could look this great. The entire
                process was smooth and tailored to my needs. I'm so grateful to
                the team and my smile designer!
              </div>
              <div class="stars">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
              </div>
            </div>
            <div class="swiper-slide">
              <img
                src="{% static 'Quotes.svg' %}"
                class="bgreviw"
                loading="lazy"
                alt="Quotes"
              />
              <p class="reviewName">Priyanka Sharma</p>
              <div class="reviewContent">
                I never imagined my smile could look this great. The entire
                process was smooth and tailored to my needs. I'm so grateful to
                the team and my smile designer!
              </div>
              <div class="stars">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
              </div>
            </div>

            <div class="swiper-slide">
              <img
                src="{% static 'Quotes.svg' %}"
                class="bgreviw"
                loading="lazy"
                alt="Quotes"
              />
              <p class="reviewName">Priyanka Sharma</p>
              <div class="reviewContent">
                I never imagined my smile could look this great. The entire
                process was smooth and tailored to my needs. I'm so grateful to
                the team and my smile designer!
              </div>
              <div class="stars">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
              </div>
            </div>

            <div class="swiper-slide">
              <img
                src="{% static 'Quotes.svg' %}"
                class="bgreviw"
                loading="lazy"
                alt="Quotes"
              />
              <p class="reviewName">Priyanka Sharma</p>
              <div class="reviewContent">
                I never imagined my smile could look this great. The entire
                process was smooth and tailored to my needs. I'm so grateful to
                the team and my smile designer!
              </div>
              <div class="stars">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
              </div>
            </div>

            <div class="swiper-slide">
              <img
                src="{% static 'Quotes.svg' %}"
                class="bgreviw"
                loading="lazy"
                alt="Quotes"
              />
              <p class="reviewName">Priyanka Sharma</p>
              <div class="reviewContent">
                I never imagined my smile could look this great. The entire
                process was smooth and tailored to my needs. I'm so grateful to
                the team and my smile designer!
              </div>
              <div class="stars">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>   {% endcomment %}
</div>

{% endblock body %} {% block js %}
{% comment %} <script>
  $(document).ready(function () {
    var sync1 = $("#sync1");
    var sync2 = $("#sync2");
    var slidesPerPage = 5; // globally define number of elements per page
    var syncedSecondary = true;

    sync1
      .owlCarousel({
        items: 4, // Default number of items on larger screens
        slideSpeed: 2000,
        nav: true,
        autoplay: true,
        dots: true,
        loop: true,
        responsiveRefreshRate: 200,
        navText: [
          '<i class="fa fa-chevron-left"></i>',
          '<i class="fa fa-chevron-right"></i>',
        ],
        responsive: {
          0: {
            items: 1, // Show 1 item on mobile devices (0px to 768px)
          },
          768: {
            items: 2, // Optional: Show 2 items on tablets or larger
          },
          992: {
            items: 3,
          },
          1000: {
            items: 4, // Default to 3 items on larger screens
          },
        },
      })
      .on("changed.owl.carousel", syncPosition);

    sync2
      .on("initialized.owl.carousel", function () {
        sync2.find(".owl-item").eq(0).addClass("current");
      })
      .owlCarousel({
        items: slidesPerPage,
        dots: false,
        nav: false,
        margin: 15,
        smartSpeed: 200,
        slideSpeed: 500,
        slideBy: slidesPerPage, // alternatively you can slide by 1
        responsiveRefreshRate: 100,
      })
      .on("changed.owl.carousel", syncPosition2);

    function syncPosition(el) {
      var count = el.item.count - 1;
      var current = Math.round(el.item.index - el.item.count / 2 - 0.5);

      if (current < 0) {
        current = count;
      }
      if (current > count) {
        current = 0;
      }

      sync2
        .find(".owl-item")
        .removeClass("current")
        .eq(current)
        .addClass("current");
      var onscreen = sync2.find(".owl-item.active").length - 1;
      var start = sync2.find(".owl-item.active").first().index();
      var end = sync2.find(".owl-item.active").last().index();

      if (current > end) {
        sync2.data("owl.carousel").to(current, 100, true);
      }
      if (current < start) {
        sync2.data("owl.carousel").to(current - onscreen, 100, true);
      }
    }

    function syncPosition2(el) {
      if (syncedSecondary) {
        var number = el.item.index;
        sync1.data("owl.carousel").to(number, 100, true);
      }
    }

    sync2.on("click", ".owl-item", function (e) {
      e.preventDefault();
      var number = $(this).index();
      sync1.data("owl.carousel").to(number, 300, true);
    });
  });

  $(document).ready(function () {
    $(".aon-med-testimonial2-area .owl-carousel").owlCarousel({
      items: 1, // Show one testimonial at a time
      loop: true, // Enable looping
      autoplay: true, // Auto-play enabled
      autoplayTimeout: 2000, // 5-second auto-slide
      nav: true, // Navigation arrows
      dots: true, // Dots navigation
      navText: [
        '<i class="fa fa-chevron-left"></i>',
        '<i class="fa fa-chevron-right"></i>',
      ],
    });
  });
</script> {% endcomment %}
<script>
  function BookAppoinment(name,city){
    //console.log("sdf",id,name,city)
    const doctordata = {
      name:name,
      city:city
    }
    localStorage.setItem('selectedDoctor',JSON.stringify(doctordata));
    window.location.href="/consult-with-dentist/";
  }
</script>
<script>
    document.getElementById("cityDropdown").addEventListener("change", function () {
        let form = document.getElementById("searchForm");
        let formData = new FormData(form);
        let url = form.getAttribute("action") + "?" + new URLSearchParams(formData).toString();
    
        fetch(url, {
            method: "GET",  // Use GET since the Django view expects it
        })
        .then(response => response.text())
        .then(data => {
            let parser = new DOMParser();
            let doc = parser.parseFromString(data, "text/html");
            let newContent = doc.querySelector("#dentist-list");

            if (newContent) {
                document.getElementById("dentist-list").innerHTML = newContent.innerHTML;
            }
        })
        .catch(error => console.error("Error:", error));
    });
</script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const swiper = new Swiper(".Beforeswiper", {
      loop: true,
      autoplay: {
        delay: 3000,
        disableOnInteraction: false,
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      pagination: {
        el: ".swiper-pagination",
        dynamicBullets: true,
      },
      breakpoints: {
        1200: { slidesPerView: 4, spaceBetween: 20 }, // Large screens
        992: { slidesPerView: 3, spaceBetween: 15 }, // Medium screens
        768: { slidesPerView: 2, spaceBetween: 10 }, // Small screens
        480: { slidesPerView: 1, spaceBetween: 5 }, // Extra small screens
      },
    });
  });
</script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const totalslides = document.querySelectorAll(".myswiper .swiper-slide").length;
    const enableLoop = totalslides > 2;

    console.log("totalslides", totalslides, "loop:", enableLoop);

    const mySwiper = new Swiper(".myswiper", {
      loop: true,
      centeredSlides: true,
      autoplay: true,
      slidesPerView: 'auto',
      spaceBetween: 40,
      speed: 800, 
      effect: "slide", 
      grabCursor: true,
      observer: true,
      observeParents: true,
      breakpoints: {
        576:{
          slidesPerView: 1.4,
          spaceBetween:30
        },
        768: {
          slidesPerView: 2,
          spaceBetween: 40,
        },
        1024: {
          slidesPerView:3,
          spaceBetween: 20,
        },
        1200: {
          slidesPerView:3,
          spaceBetween: 40,
        },
      },
    });
  });
</script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init({
    offset: 100,
  });
</script>
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "name": "Ultimate Smile Design | Custom Smile Design by Expert Dentists",
  "url": "https://ultimatesmiledesign.com/"
}
</script>
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebPage",
  "url": "https://ultimatesmiledesign.com/",
  "name": "Ultimate Smile Design | Custom Smile Design by Expert Dentists",
  "description": "Experience custom smile designing with Ultimate Smile Design. Connect with expert dentists across cities and book your personalized smile makeover appointment."
}
</script>
{% endblock js %}
