{% extends 'base.html' %} {% load static %} {% block header %}{% endblock header %} {% block css %}

<style>
  .circular-image {
    width: 100px !important; /* Adjust size as needed */
    height: 100px !important; /* Adjust size as needed */
    border-radius: 50% !important;
    object-fit: cover !important; /* Ensures the image covers the circle area without distortion */
  }
</style>

{% endblock css %} {% block body %}

<div class="page-content">
  <section class="breadcrumbs-section contactus-breadcrumbs-section">
    <div class="container">
      <h1 class="breadcrumbs-title bg-linear-gradient mb-0 fw-bold">Find Dentist</h1>
      <img src="{% static 'Group 291.svg' %}" class="img-fluid" />
    </div>
  </section>
  <section class="searchbar-wrap pt-4">
    <div class="container">
      <div class="searchInfo-content-wrapper mb-5">
        {% comment %} <h2 class="searchInfo-title text-header">Dentist</h2> {% endcomment %}
        {% if noshow %}
        <h1 class="searchInfo-subtitle">
          Ultimate Smile Designers found in Surat
        </h1>
        {% else %} {% if nomatch %}
        <h1 class="searchInfo-subtitle">{{nomatch}} in {{city}}</h1>
        {% else %}
        <h1 class="searchInfo-subtitle">
          {{total}} ultimate Smile Designers found in {{city}} </h1>
        <p class="searchInfo-description">
          Book appointments with minimum wait-time & verified dentist details
        </p>
        {% endif %} {% endif %}
      </div>

      <form
        class="row form d-flex mb-5"
        method="GET"
        action="{% url 'home:search_all_usd' %}"
      >
        {% csrf_token %}
        <div class="col-lg-4 col-md-6 col-12">
          <div class="searchbar-box-wrapper">
            <img class="img-fluid" src="{% static 'search-icon-light.svg' %}" />
            <input
              name="q"
              type="text"
              class="form-control w-100"
              placeholder="Search doctors, clinics, hospitals, etc."
            />
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12">
          <div class="searchbar-box-wrapper">
            <img class="img-fluid" src="{% static 'location1.svg' %}" />
            <select
              class="form-select"
              name="city"
              placeholder="Select Location"
              aria-label="Default select example"
            >
              <option value="">Select Location</option>
              {% for ie in a_city %}
              <option value="{{ie.id}}">{{ie.city}}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6 col-12">
          <button class="btn w-100 search-button" type="submit">Search</button>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6 col-12">
          <div
            class="d-flex align-items-center justify-content-center searchbar-button-wrapper"
          >
            <a href="tel:+918488888877">
              <img src="{% static 'call.svg' %}" class="img-fluid" />
              <span>Customer Support</span>
            </a>
          </div>
        </div>
      </form>
    </div>
  </section>

  <section class="dentist-section">
    <div class="container">
      <div class="row mt-4 mt-md-4 mt-sm-5">
        {% for ie in data %}
        <div class="col-lg-3 col-md-4 col-sm-4 col-12 mb-4">
          <div class="dentist-content">
            <div class="card">
              <a href="{% url 'home:find_dentist_d' ie.slug %}">
                {% if ie.profile %}
                <img
                  src="{{ ie.profile.url }}"
                  class="img-fluid"
                  alt="{{ ie.name }}"
                />
                {% else %}
                <img src="{% static 'noimage-team.webp' %}" alt="Image" />
                {% endif %}
              </a>

              <div class="card-body">
                <h2>{{ie.name}}</h2>
                <p>{{ie.city}}</p>
                <button class="btn bookAppoinment-btn w-100">
                  <a href="/account/dentist/">Book Appointment</a>
                </button>
                <span>ADE Verified Dentist</span>
              </div>
              
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-md-8 col-sm-8 col-12 mb-4">
          <div class="dentist-content1">
            <h2 class="mt-3">{{ie.name}}</h2>
            {% comment %} <h1 class="mt-3">{{ie.name}}</h1> {% endcomment %}
            <h3>{{ie.city}}</h3>
            {% comment %} <h2>{{ie.city}}</h2> {% endcomment %}
            <p>{{ie.bio}}</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 col-12 mb-4">
          <div class="dentist-content2">
            {% if ie.iframe %} {{ie.iframe | safe}} {% else %}
            <p class="d-flex align-items-center justify-content-center h-100">
              No Location Available
            </p>
            {% endif %}
          </div>
        </div>
        {% endfor %} {% include 'pagination.html' %}
      </div>
    </div>
  </section>
</div>
<!-- Content END-->

{% endblock body %} {% block js %}{% endblock js %}
