{% load static %}
  <section class="location-section pt-50" >
    <div class="container">
      <div class="row pt-3 pt-sm-5 pb-0">
        <div class="col-lg-6 col-md-8 col-12">
          <h2 class="text-header text-start position-relative mb-0 cool">Locations </h2>
          <h3 class="text-header-subtitle">Top Searched Locations</h3>
          <p class="Loc-description text-subcontent">
            Discover the leading destinations where patients connect with our
            network of Ultimate Smile Designers. Our platform helps you find
            expert dentists across various prime locations.
          </p>
        </div>
        {% for city in cities %}
          <div class="col-lg-3 col-md-4 col-6 col-sm-6  square-card-wrapper">
             <div class="square-card position-relative w-100">
              <img
                src="{% static 'bg_loc.svg' %}"
                class="bgloc"
                loading="lazy"
                alt="Location Icon"
              />
              <div class="square-card-content">
                <h4 class="city_txt cool">
                  <a href="{% url 'home:search_all_usd' %}?city={{ city.id }}"
                    >{{ city.city }}</a>
                </h4>
                <p class="Designer_txt mb-0">{{ city.countdr }} - Smile Designers</p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <!-- JavaScript for Hiding Extra Rows Dynamically -->
  <script>
    function updateCardDisplay() {
      let cards = document.querySelectorAll(".square-card-wrapper");
      let maxCards;
      if (window.innerWidth >= 992) {
        maxCards = 6;
      } else if (window.innerWidth >= 768) {
        maxCards = 4;
      } else {
        maxCards = 2;
      }
      cards.forEach((card, index) => {
        if (index >= maxCards) {
          card.style.display = "none";
        } else {
          card.style.display = "block";
        }
      });
    }
    document.addEventListener("DOMContentLoaded", updateCardDisplay);
    window.addEventListener("resize", updateCardDisplay);
  </script>
