{% extends 'base.html' %} {% load static %} {% block header %} 
{% block seo %}
<title>Consult with Dentist - Personalized Dental Advice in Minutes</title>
<meta name="description" content="Book a one-on-one consultation with certified dentists at Advance Dental Export. Get expert guidance on your dental restoration and treatment. Schedule now!" />
<link rel="canonical" href="https://ultimatesmiledesign.com/consult-with-dentist/" />
<meta property="og:image" content="{% static 'feature-usd.webp' %}">
<meta property="og:image:secure_url" content="{% static 'feature-usd.webp' %}">
<meta property="og:image:type" content="image/webp" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta property="og:locale" content="en_IN" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Consult with Dentist - Personalized Dental Advice in Minutes" />
<meta property="og:description" content="Book a one-on-one consultation with certified dentists at Advance Dental Export. Get expert guidance on your dental restoration and treatment. Schedule now!" />
<meta property="og:url" content="https://ultimatesmiledesign.com/consult-with-dentist/" />
{% endblock seo %}
{% endblock header %} {% block css %}
<link
  href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css"
  rel="stylesheet"
/>

{% endblock css %} {% block body %}
<link rel="stylesheet" href="{% static 'css/contact.css' %}" />
<link rel="stylesheet" href="{% static 'css/common.css' %}" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
  integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>


<div class="page-content" >
<section class="breadcrumbs-section">
        <div class="container">
            <div class="breadcrumbs-path"> <a href="/"> Home&nbsp;</a> <i class=" fa fa-solid fa-angles-right"></i>&nbsp; Consult With Dentist </div>
            <h1 class="breadcrumbs-title bg-linear-gradient mb-0 fw-bold cool">Consult with Expert Dentist Today</h1>
        </div>
    </section>
  <section class="request-section d-flex justify-content-center align-items-center"  >
    <div class="container">
      <div class="request-img-section d-flex justify-content-center mx-auto">
        {% comment %} <a href="/" style="display:contents">
          <img class="img-fluid usd-logo-img" src="{% static 'usdlog.png' %}" alt="logo-img"/>
        </a> {% endcomment %}
        {% comment %} <a href="/"><i class="fa fa-solid fa-xmark cnacel_btn" ></i></a> {% endcomment %}
        
        <div class="request-content text-center d-block">
          <img class="img-fluid usd-2-logo" src="{% static 'usdlog.png' %}" alt="logo-img"/>
          {% comment %} <h2 class="pt-4"></h2> {% endcomment %}
          <p class="mb-0 cool">Please enter the details below for a call back.</p>

          <form method="post" class="aon-login-form login-form form ">
            {% csrf_token %}
            <div class="row text-center justify-content-center">
              <div class="col-lg-6">
                {% comment %} <label class="form-label">First Name</label> {% endcomment %}
                <div class="inputicon-box">
                  <input
                    class="form-control"
                    name="first_name"
                    type="text"
                    placeholder="First Name"
                    required
                  />
                  <i class="fa-solid fa-user"></i>
                </div>
              </div>
              <div class="col-lg-6">
                {% comment %} <label class="form-label">Last Name</label> {% endcomment %}
                <div class="inputicon-box">
                  <input
                    class="form-control"
                    name="last_name"
                    type="text"
                    placeholder="Last Name"
                    required
                  />
                  <i class="fa-solid fa-user"></i>
                </div>
              </div>
              <div class="col-lg-6">
                {% comment %} <label class="form-label">Phone Number</label> {% endcomment %}
                <div class="inputicon-box">
                  <input
                    class="form-control"
                    name="phone"
                    type="text"
                    placeholder="Phone Number"
                    required
                  />
                  <i class="fa-solid fa-phone"></i>
                </div>
              </div>
              
              <div class="col-lg-6">
                {% comment %} <label class="form-label">Email</label> {% endcomment %}
                <div class="inputicon-box">
                  <input
                    class="form-control"
                    name="email"
                    type="email"
                    placeholder="Email"
                    required
                  />
                  <i class="fa-solid fa-envelope"></i>
                </div>
              </div>
              <div class="row" id="doctor-info">
              </div>
              <div class="col-12 d-flex align-items-center">
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="agree_to_terms"
                  required
                />
                <label class="mb-0 form-label">By submitting, you agree to receive SMS or emails via the provided channel.</label>
              </div>

              <div class="col-lg-3 col-md-4 col-sm-5 col-6">
                    <button type="submit" class=" request-button bat-form">submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>

{% endblock body %} {% block js %}

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
document.addEventListener('DOMContentLoaded', function(){
  const doctordata = JSON.parse(localStorage.getItem('selectedDoctor'));
   console.log("window",window,doctordata)
   if(doctordata !== null){
      if(doctordata.name && doctordata.city){
        document.getElementById("doctor-info").innerHTML =
        `
        <div class="col-lg-6 ps-0">
          <div class="inputicon-box">
            <input
              class="form-control"
              name="phone"
              type="text"
              placeholder="Phone Number"
              required
              value="${doctordata.name}"
              readonly
            />
            <i class="fa-solid fa-user-doctor"></i>
          </div>
        </div>
        <div class="col-lg-6 pe-0">
          <div class="inputicon-box">
            <input
              class="form-control"
              name="phone"
              type="text"
              placeholder="Phone Number"
              required
              value="${doctordata.city}"
              readonly
            />
            <i class="fa-solid fa-location-dot"></i>
          </div>
        </div>
        `
      }else{
        document.getElementById("doctor-info").style.display = "none !important";
      }
   } else{
     document.getElementById("doctor-info").classList.add('d-none')
   }
   
})

</script>
{% if messages %}
<script>
  {% for message in messages %}
  Swal.fire({
      position: 'top-end',
      icon: 'success',
      title: '{{ message }}',
      showConfirmButton: false,
      timer: 1500
  });
  {% endfor %}
</script>
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebPage",
  "url": "https://ultimatesmiledesign.com/consult-with-dentist/",
  "name": "Consult with Dentist - Personalized Dental Advice in Minutes",
  "description": "Book a one-on-one consultation with certified dentists at Advance Dental Export. Get expert guidance on your dental restoration and treatment. Schedule now!"
}
</script>
{% endif %} {% endblock js %}
