{% load static %}
<head>
  <link href="{% static 'css/smile_step.css' %}" rel="stylesheet" />
</head>
<body>

     <!-- Discover Section -->
     <section class="Developer_Section">
        <img src="{% static 'bg_vec.svg' %}" class="vec_one" loading="lazy" alt="care Icon" />
        <img src="{% static 'bg_vec.svg' %}" class="vec_two" loading="lazy" alt="care Icon" />
        <div class="container">
            <div class="row">
                <!-- Left Column -->
                <div class="col-lg-7 mainImageCard order-0 order-lg-2">
                  <img src="{% static 'Discover_Group.png' %}" class="Discover_Group img-fluid" loading="lazy" alt="Smile Step Group 1" />
                  <img src="{% static 'ring.svg' %}" class="usd_ring" loading="lazy" alt="USD ring" />
        
                   <div class="Discover_text_card">
                    <p class="Discover_text">Discover Your <br>Ideal Smile with <br> Our Ultimate <br> Smile Designers</p>
                  </div> 
                </div>
        
                <!-- Right Column -->
                <div class="col-lg-5 d-flex align-items-center flex-column justify-content-center " style="margin-top: 12px; margin-bottom: 18px; position: relative;">
                  <div class="step_card d-flex flex-row align-items-start ">
                    <div class="step_header">
                      <h3 class="Discover_heading cool">Transform Your Smile with The <br> Expert Smile Designer</h3>
                      <p class="Discover_text1">Discover Your Ideal Smile with Our Ultimate Smile Designers</p>
                      <p class="Discover_subtext">Begin your journey to a radiant smile with our curated list of Ultimate Smile Designers.</p>
                      <p class="Discover_subtext">Our platform offers you access to premier dental experts who are adept at crafting smiles that not only look stunning but also complement your individuality.</p>
                      <p class="Discover_subtext">Through cutting-edge digital dentistry, our professionals are committed to providing you with a smile that enhances both your aesthetic appeal and dental health, tailored specifically to your facial features and personal preferences.</p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </section>


    <!-- step toeards smile  -->
  <section class="smile_step_Section">
    <div class="container">
        <p class="registrayion_small cool">Creating Smiles</p><br>
        <img src="{% static 'text_vec.svg' %}" class="text_vec" loading="lazy" alt="text vector" />
        <p class="registration_heading">We are Crafting Beautiful Smiles for a Brighter Future.</p>
      <div class="row">
        <!-- Left Column -->
        <div class="col-lg-6 mainImageCard">
          <img src="{% static 'smile_S1.png' %}" class="smile_S1 img-fluid" loading="lazy" alt="Smile Step Group 1" />

          <div class="card one">
            <img src="{% static 'top_Rank.svg' %}" class="icon_img mx-auto d-block" loading="lazy" alt="Top rank Icon" />
            <p class="s_heading1 cool">Consult Top Smile Designers</p>
            <p class="s_subheading1">Connect with leading smile experts who blend artistry and science to craft your perfect smile.</p>
          </div>

          <div class="card two">
            <img src="{% static 'care.svg' %}" class="icon_img mx-auto d-block" loading="lazy" alt="care Icon" />
            <p class="s_heading1 cool">Experience Unmatched Care</p>
            <p class="s_subheading1">With our Ultimate Smile Designers, rest assured you are in capable hands committed to your dental health and beauty.</p>
          </div>
        </div>

        <!-- Animated Line in the Center -->
        <div class="col-lg-1 d-flex justify-content-center dashed_line">
          <div class="animated-line"></div>
        </div>

        <!-- Right Column -->
        <div class="col-lg-5 d-flex align-items-center flex-column justify-content-center" style="margin-top: 12px; margin-bottom: 18px;">
          <div class="step_card d-flex flex-row align-items-start">
            <img src="{% static 'point.svg' %}" class="point" loading="lazy" alt="Top rank Icon" />
            <div class="step_header">
              <h3 class="s_heading2 cool">Find Your Ultimate Smile Designer</h3>
              <p class="s_subheading1">Explore our extensive directory to discover a skilled Ultimate Smile Designer near you, one who aligns with your smile aspirations and dental needs.</p>
              <hr class="line" />
            </div>
          </div>

          <div class="step_card d-flex flex-row align-items-start">
            <img src="{% static 'point.svg' %}" class="point" loading="lazy" alt="Top rank Icon" />
            <div class="step_header">
              <h3 class="s_heading2 cool">Customize Your Smile Journey</h3>
              <p class="s_subheading1">Select the perfect time for your appointment and embark on a personalized journey to achieve the smile that best fits your personality and desires.</p>
              <hr class="line" />
            </div>
          </div>

          <div class="step_card d-flex flex-row align-items-start">
            <img src="{% static 'point.svg' %}" class="point" loading="lazy" alt="Top rank Icon" />
            <div class="step_header">
              <h3 class="s_heading2 cool">Secure and Easy Payment</h3>
              <p class="s_subheading1">Enjoy a seamless booking experience our secure and straightforward payment process, setting you on the path to your smile transformation.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Registration For Patient -->
  <section class="registration_Patient">
    <img src="{% static 'bg_vec.svg' %}" class="vec_one" loading="lazy" alt="care Icon" />
    <img src="{% static 'bg_vec.svg' %}" class="vec_two" loading="lazy" alt="care Icon" />
    <div class="container">
        <div class="inner_card text-center">
            <p class="registrayion_small cool">Registration</p><br>
            <img src="{% static 'text_vec.svg' %}" class="text_vec" loading="lazy" alt="text vector" />
            <p class="registration_heading">Want to Schedule Your Smile <br> Design Appointment Easily?</p>
            <p class="registration_subtext">Transform your smile and boost your confidence. Our network of Ultimate Smile Designers is ready to provide you with personalized dental solutions. If you're aiming for a radiant smile, our experts are here to guide you every step of the way. Should you require a more tailored approach, don't hesitate to get in touch with us.</p>
            <div class="loc-button-container">
                <button class="bat loc_btn">Get in Touch</button>
              </div> 
        </div>       
    </div>
  </section>

  <!-- Registration For Doctor -->
   <section class="registration_Doctor">
        <div class="container " style="">
            <div class="inner_card_doctor text-center">
                <img src="{% static 'bg_vec2.svg' %}" class="vec2_two" loading="lazy" alt="vector " />
                <img src="{% static 'bg_vec2.svg' %}" class="vec2_one" loading="lazy" alt="vector " />
                <div style="position: relative;">
                    <p class="registrayion_small cool">Registration</p><br>
                    <img src="{% static 'text_vec.svg' %}" class="text_vec" loading="lazy" alt="text vector" />
                    <p class="registration_heading">Are You a Dentist Interested in <br> Attracting New Patients?</p>
                    <p class="Doctor_subtext"><img src="{% static 'point_grey.svg' %}" class="point" loading="lazy" alt="Point" />Join our exclusive network of Ultimate Smile Designers.</p>
                    <p class="Doctor_subtext"><img src="{% static 'point_grey.svg' %}" class="point" loading="lazy" alt="Point" />Connect with patients looking for top-notch smile transformations.</p>
                    <p class="Doctor_subtext"><img src="{% static 'point_grey.svg' %}" class="point" loading="lazy" alt="Point" />Showcase your expertise and grow your practice with our platform.</p>
                    <div class="loc-button-container">
                        <button class="bat loc_btn">List Your Practice With Us</button>
                    </div> 
                </div>
                
            </div>       
        </div>
   </section>

   

    <!-- Testanomial Slider-->
    <!-- Review Section -->




<section class="beforeAndAfter_Section1">
  <div class="container">
    <p class="registrayion_small cool " style="padding-left: 12px">Testimonials</p><br>
    <img src="{% static 'text_vec.svg' %}" class="text_vec" loading="lazy" alt="text vector" />
    <p class="registration_heading " style="color: white">What People Say</p>
    <p class="Discover_subtext" style="color: white">Discover the stories of transformation and joy from our patients who have experienced remarkable smile makeovers with our Ultimate Smile Designers.</p>
    <div class="swiper-container">
    <div class="swiper myswiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="{% static 'Quotes.svg' %}" class="bgreviw" loading="lazy" alt="Quotes" />
          <p class="reviewName">Priyanka Sharma</p>
          <div class="reviewContent">I never imagined my smile could look this great. The entire process was smooth and tailored to my needs. I'm so grateful to the team and my smile designer!</div>
          <div class="stars">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            {% comment %} <i class="fa-regular fa-star"></i>  {% endcomment %}
          </div>
        </div>
        <div class="swiper-slide">
          <img src="{% static 'Quotes.svg' %}" class="bgreviw" loading="lazy" alt="Quotes" />
          <p class="reviewName">Priyanka Sharma</p>
          <div class="reviewContent">I never imagined my smile could look this great. The entire process was smooth and tailored to my needs. I'm so grateful to the team and my smile designer!</div>
          <div class="stars">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            {% comment %} <i class="fa-regular fa-star"></i>  {% endcomment %}
          </div>
        </div>

        <div class="swiper-slide">
          <img src="{% static 'Quotes.svg' %}" class="bgreviw" loading="lazy" alt="Quotes" />
          <p class="reviewName">Priyanka Sharma</p>
          <div class="reviewContent">I never imagined my smile could look this great. The entire process was smooth and tailored to my needs. I'm so grateful to the team and my smile designer!</div>
          <div class="stars">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            {% comment %} <i class="fa-regular fa-star"></i>  {% endcomment %}
          </div>
        </div>

        <div class="swiper-slide">
          <img src="{% static 'Quotes.svg' %}" class="bgreviw" loading="lazy" alt="Quotes" />
          <p class="reviewName">Priyanka Sharma</p>
          <div class="reviewContent">I never imagined my smile could look this great. The entire process was smooth and tailored to my needs. I'm so grateful to the team and my smile designer!</div>
          <div class="stars">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            {% comment %} <i class="fa-regular fa-star"></i>  {% endcomment %}
          </div>
        </div>

        <div class="swiper-slide">
          <img src="{% static 'Quotes.svg' %}" class="bgreviw" loading="lazy" alt="Quotes" />
          <p class="reviewName">Priyanka Sharma</p>
          <div class="reviewContent">I never imagined my smile could look this great. The entire process was smooth and tailored to my needs. I'm so grateful to the team and my smile designer!</div>
          <div class="stars">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            {% comment %} <i class="fa-regular fa-star"></i>  {% endcomment %}
          </div>
        </div>
      </div>
    </div>
    </div>
    
  </div>
  
</section>

<!-- Before & After -->
<section class="beforeAndAfter_Section">
  <div class="container">
    <p class="registrayion_small cool " style="padding-left: 12px">Gallery</p><br>
    <img src="{% static 'text_vec.svg' %}" class="text_vec1" loading="lazy" alt="text vector" />
    <p class="registration_heading">Before & After Smile Transformations</p>
    <p class="Discover_subtext">Explore our gallery to see the remarkable transformations achieved through our Ultimate Smile Design services. Witness the power of expert smile design in enhancing confidence and creating beautiful smiles with these before-and-after showcases.</p>
    <div class="swiper-container">
    <div class="swiper Beforeswiper">
      <div class="swiper-wrapper">
        {% for ie in gallery %}
        <div class="swiper-slide">
          <img src="{{ie.image.url}}" alt="Slide 1" class="BAImg" loading="lazy" >
        </div>
        {% comment %} <div class="ser-shop-media">
          <a href="{% url 'home:gallery' %}"><img src="{{ie.image.url}}" loading="lazy" alt=""></a>
          <span class="bedge">New</span>
      </div> {% endcomment %}
        {% endfor %}
      </div>
    
      <!-- Navigation Buttons -->
      <!-- <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div> -->
    </div>
      <!-- Pagination Dots -->
      <div class="swiper-pagination "></div>
    </div>
    
  </div>
  
</section>


    

    <!-- Before & After Script -->
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const swiper = new Swiper(".Beforeswiper", {
          loop: true,
          autoplay: {
            delay: 3000,
            disableOnInteraction: false,
          },
          navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
          },
          pagination: {
            el: ".swiper-pagination",
            dynamicBullets: true,
          },
          breakpoints: {
            1200: { slidesPerView: 4, spaceBetween: 20 }, // Large screens
            992: { slidesPerView: 3, spaceBetween: 15 },  // Medium screens
            768: { slidesPerView: 2, spaceBetween: 10 },  // Small screens
            480: { slidesPerView: 1, spaceBetween: 5 }    // Extra small screens
          }
        });
      });
    </script>


     <!-- Review Script -->

     <script>
      document.addEventListener("DOMContentLoaded", function () {
        const mySwiper = new Swiper(".myswiper", {
          loop: true,
          centeredSlides: true,
          slidesPerView: "auto", // Adjusts based on container size
          spaceBetween: 20,
          autoplay: {
            delay: 2500,
            disableOnInteraction: false,
          },
          speed: 800, // Smooth transition
          effect: "slide", // Ensure smooth sliding
          grabCursor: true,
          observer: true,
          observeParents: true,
          breakpoints: {
            768: {
              slidesPerView: 1.5, 
        spaceBetween: 10,
            },
            1024: {
              slidesPerView: 3,
            },
          },
        });
      });
      
     </script>
     



  
</body>



