.breadcrumbs-section{
    background-image: url('../../static/breadcrumbs-banner.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 350px;
}

@media (max-width: 575px) {
    .breadcrumbs-section {
        /* background-position: right !important; */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 200px;
    }
    .breadcrumbs-title{
        font-size: 20px !important;
        line-height: 30px;
    }
    .breadcrumbs-path{
        margin-bottom: 0px !important;
    }
    .breadcrumbs-section .container{
        top: 55% !important;
    }
    
}   
.breadcrumbs-section .container{
    position: relative;
    top:65%;
}
.breadcrumbs-title{
    font-size: 36px;
    line-height: 49px;
    font-family: "Gilda Display", serif;
    z-index: 100;
}
.breadcrumbs-path  {
    color: white;
    font-size: 12px;
    margin-bottom: 20px;
}
.breadcrumbs-path a {
    color: white;
}

.breadcrumbs-section img{
    height: 8px;
    width: 75px;
    position: relative;
    margin-bottom: 10px;
}
.blog-content{
    background-color: #222;
}
.blog-content-wrapper .col-lg-6:first-child{
    padding: 80px 65px 0px 15px;
}
.blog-content-title{
    font-family: "Gilda Display", serif;
    font-weight: 400;
    line-height: 44px;
    font-size: 22px;
    color:#fff;
    margin-bottom: 25px;
}
.blog-content-wrapper span{
    color:#fff
}
.blog-content-wrapper .icon-img{
    width:18px;
    height: 18px;
    margin-bottom: 3px;
}
.blog-content-title1{
    color:#fff;
    font-weight: 400;
    font-family: "Gilda Display", serif;
    font-size: 32px;
    line-height: 44px;
    margin-bottom: 15px;
    width: 96%;
}
.blog-content-subtitle{
    font-weight: 400;
    font-family: "Barlow", sans-serif;
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 37px; 
    border-image-source: linear-gradient(130deg, #C3942F 0%, #D89C27 18%, #DFC86F 37%, #E7DC96 50%, #DFC86F 64%, #D89C27 82%, #C99C30 100%) !important;
    border-image-slice: 1;
    border-bottom:  2px solid ;
}
.blog-content-wrapper {
    position: relative;
}
.read-more{
    font-weight: 400;
    font-family: "Barlow", sans-serif;
    font-size: 16px;
    line-height: 28px;
    background-color: #000;
    color: #fff;
    position: absolute;
    z-index: 1;
    bottom: 1%;
    padding: 0px 14px;
    right:20%;
}
.blog-icon-content1{
    margin-bottom: 1rem;
}
.blog-content-details-card{
    color: #fff;
    background-color: var(--bg-content-color);
    border:1px solid;
    border-image-source: linear-gradient(130deg, #C3942F 0%, #D89C27 18%, #DFC86F 37%, #E7DC96 50%, #DFC86F 64%, #D89C27 82%, #C99C30 100%) !important;
    border-image-slice: 1;  
    border-image-width: 1px;
    border-radius: 0px;
}
.blog-content-details-card img{
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}
.blog-content-details{
    font-weight: 400;
    font-size: 20px;
    font-family: "Gilda Display", serif;
    border-image-source: linear-gradient(130deg, #C3942F 0%, #D89C27 18%, #DFC86F 37%, #E7DC96 50%, #DFC86F 64%, #D89C27 82%, #C99C30 100%) !important;
    border-image-slice: 1;
    border-bottom: 2px solid;
    margin: 16px 16px 40px;
    padding: 0px;
    display: inline-block;
}
.blog-content-details img{
    margin: 0px auto 5px;
}
.blog-content-details span{
    font-family: "Barlow", sans-serif;
    font-size: 16px;
}
.blog-content-details span a{
    color: #fff;
}
.blog-content-details .read-more1{
    font-weight: 400;
    font-family: "Barlow", sans-serif;
    font-size: 16px;
    line-height: 28px;
    background-color: rgba(21,21,21,1);
    color: #fff;
    position: absolute;
    z-index: 1;
    bottom: -6.5%;
    padding: 0px 14px;
    right: 13%;
    border: none;
}
.blog-content-details .read-more1 a{
    color:#fff;
}
.blog_date{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 67px;
    height: 68px;
    padding: 10px;
    border:2px solid;
    border-image-source: linear-gradient(130deg, #C3942F 0%, #D89C27 18%, #DFC86F 37%, #E7DC96 50%, #DFC86F 64%, #D89C27 82%, #C99C30 100%) !important;
    border-image-slice: 1;  
    border-image-width: 2px;
    background-color:rgba(21,21,21,1);
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    font-family: "Gilda Display", serif;
    position: absolute;
    top: -26.5%;
    border-radius: 0px;
    text-align: center;
    line-height: 28px;
}
.blog-content-details p{
    margin-top: 25px;
}
.blog-content-details p a{
    color: #fff;
    display: block;
    height: 95px;
}
.first-blog-content h2 a,
.first-blog-content span a{
    color: #fff;
}
.blog-page-pagination ul li{
    margin: 0px 6px !important;
}
.blog-page-pagination .pagination .page-item .page-link{
    font-size: 14px;
    background-color: #000;
    border: 1px solid;
    border-image: linear-gradient(130deg, #C3942F 0%, #D89C27 18%, #DFC86F 37%, #E7DC96 50%, #DFC86F 64%, #D89C27 82%, #C99C30 100%) 1 !important;
    color: #fff;
    font-weight: 900;
    min-width: 36px;
    padding: 5px 2px;
    text-align: center;
}
.blog-page-pagination ul .page-item.disabled .page-link{
    border: 1px solid #6c757d;
    color: #6c757d
}
.blog-page-pagination .pagination .page-item .page-link span{
    font-size: 14px;
}
.blog-page-pagination .pagination .page-item .page-link span i{
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px 0px;
}
.blog-page-pagination .pagination .active .page-link,
.blog-page-pagination .pagination .page-item .page-link:hover{
    background: linear-gradient(130deg, #C3942F 0%, #D89C27 18%, #DFC86F 37%, #E7DC96 50%, #DFC86F 64%, #D89C27 82%, #C99C30 100%) !important;
    color: #000;
}
.blog-page-pagination .pagination .page-item .page-link:focus{
    box-shadow: none;
}
@media(min-width:1400px) and (max-width:1599px){
    .read-more{
        bottom: 1%;
    } 
}
@media(min-width:1200px) and (max-width:1400px){
    .blog-content-wrapper .col-lg-6:first-child{
        padding: 30px 65px 0px 15px;
    }
    .blog-content-title1{
        font-size: 26px;
    }
    .blog-content-subtitle{
        padding-bottom: 30px;
        font-size: 16px;
    }
} 
@media(max-width:1220px){
    .read-more{
        bottom: 4.5%;
    }
}
@media(max-width:1200px){
    .blog-content-wrapper .col-lg-6:first-child{
        padding: 30px 65px 0px 15px;
    }
    .blog-content-subtitle{
        font-size: 16px;
        padding-bottom: 30px;
        line-height: 25px;
    }
    .blog-content-title1{
        font-size: 26px;
        margin-bottom: 25px;
        line-height: 36px;
    }
    .blog-icon-content1{
        margin-bottom: 1rem;
    }
    .read-more{
        bottom: 6%;
    }
    .blog-content-details p{
        font-size: 16px;
        margin-top: 30px;
    }
    .blog-content-details p a{
        display: block;
        height: 82px;
    }
    .blog-content-details .read-more1{
        padding: 0px 10px;
        font-size: 14px;
        bottom: -7.5%;
    }
}
@media(max-width:1024px){
    .blog-content-subtitle{
        font-size: 16px;
    }
    .read-more{
        bottom: 2%;
    }
}
@media(max-width:991px){
    .blog-content-wrapper .col-lg-6:first-child{
        padding: 5px 35px 0px 15px;
    }
    .blog-icon-content1{
        margin-bottom: 0.5rem;
    }
    .blog-icon-content1 span{
        font-size: 14px;
    }
    .blog-icon-content1{
        justify-content: space-between;
    }
    .blog-icon-content1 span:first-child{
        margin-right: 0rem !important;
    }
    .blog-content-title1{
        width: 100%;
        font-size: 19px;
        line-height: 33px;
        margin-bottom: 15px;
    }
    .blog-content-subtitle{
        font-size: 14px;
        line-height: 20px;
        padding-bottom: 20px;
    }
    .blog-content-wrapper span{
        font-size: 14px;
    }
    .read-more{
        bottom: 11%;
    }
    .blog-content-details{
        margin: 16px 20px 30px;
    }
    .blog-content-details p{
        font-size: 18px;
        margin-bottom: 0.7rem;
    }
    .blog-content-details p a{
        display: block;
        height: 92px;
    }
    .blog_date{
        top:-28%;
    }
}
@media(max-width:768px){
    .breadcrumbs-title{
        font-size: 30px;
    }
    .blog-content-wrapper{
        flex-direction: column-reverse;
    }
    .blog-content-wrapper .col-lg-6:first-child {
        padding: 20px 15px 0px 15px;
    }
    .blog-content-wrapper .col-lg-6:last-child{
        margin-top: 20px;
    }
    .blog-content-title1{
        font-size: 26px;
        margin-bottom:22px;
        margin-top: 12px;
    }
    .blog-content-subtitle{
        font-size: 16px;
        line-height: 24px;
        padding-bottom: 30px;
    }
    .read-more{
        bottom: 2%;
        right:12%;
        padding: 0px 10px;
    }
    .blog-content-details-card{
        border-radius: 30px;
        margin-bottom: 20px;
    }
    .blog-content-details-card img{
        border-top-left-radius: 30px !important;
        border-top-right-radius: 30px !important;
    }
    .blog-content-title{
        margin-bottom: 10px;
    }
    .blog_date{
        top:-33%;
    }
}
@media(max-width:576px){
    .blog-content-title1{
        font-size: 22px;
        margin-bottom: 20px;
        margin-top: 0px;
    }
    .blog-content-subtitle{
        font-size: 16px;
        line-height: 22px;
    }
}