/* Outer Section */
.contact-banner {
  padding: 40px 0;
  display: flex;
  justify-content: center;
}

/* Box */
.contact-box {
  width: 100%;
  padding: 40px 30px;
  border: 2px solid rgba(201, 156, 48, 0.8);
  border-radius: 14px;
  background-color: var(--bg-content-color);
  text-align: center;
  box-shadow: 0 0 18px rgba(201, 156, 48, 0.4);
}

/* Text */
.contact-text {
  color: #fff;
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 30px;
  max-width: 550px;
  margin: 0 auto 30px;
  text-align: center;
}

/* Button */
.new-contact-btn {
    outline: none;
    color: #000;
    padding: 10px 20px;
    letter-spacing: 1px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    display: inline-table;
    border: none;
    font-size: 15px;
    transition: 0.5s all ease;
    border-radius: 10px;
}
.new-contact-btn svg{
    margin-left: 10px;
    vertical-align: middle;
    transition: 0.5s all ease;
    width: 10%;
}