/* common css */
.find-dentist-img {
  height: 100% !important;
  width: 200px !important;
}
.searchInfo-content-wrapper .searchInfo-title {
  font-family: "Barlow Condensed", serif;
  font-size: 22px;
  font-weight: 600;
  background: linear-gradient(
      50deg,
      rgb(220, 173, 129) 0%,
      rgb(216, 169, 124) 1.5%,
      rgb(255, 210, 164) 5%,
      rgb(216, 169, 124) 8%,
      rgb(220, 173, 129) 51%
    )
    text;
  color: transparent;
}
.searchInfo-content-wrapper .searchInfo-subtitle {
  color: rgba(255, 255, 255, 1);
  font-family: "Gilda Display", serif;
  font-weight: 400;
  font-size: 40px;
}
.searchInfo-content-wrapper .searchInfo-description {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
}
.searchbar-wrap .row {
  --bs-gutter-x: 0.8rem !important;
}
.searchbar-box-wrapper {
  height: 40px;
  background-color: var(--bg-content-color);
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 22px 15px;
}
.searchbar-box-wrapper input,
.searchbar-box-wrapper select {
  flex: 1;
  height: 20px;
  background-color: transparent;
  color: #fff !important;
  border: none;
  outline: none;
  font-size: 15px;
  padding: 0px 7px 0px 10px;
}
input:-internal-autofill-selected {
  background-color: rgba(34, 34, 34, 0.6) !important;
}
.searchbar-box-wrapper input:focus,
.searchbar-box-wrapper select:focus {
  background-color: transparent;
  box-shadow: none !important;
}
.searchbar-box-wrapper input[placeholder],
.searchbar-box-wrapper select[placeholder] {
  color: rgb(255, 255, 255, 0.7) !important;
}
.searchbar-box-wrapper select option {
  background-color: rgba(34, 34, 34, 0.98);
  color: #fff;
}
.searchbar-box-wrapper select option:hover {
  background-color: var(--bg-content-color) !important;
  color: #222 !important;
}
.searchbar-box-wrapper svg,
.searchbar-box-wrapper i {
  color: #777;
  border-right: 1.5px solid rgba(177, 177, 177, 1);
  padding: 5px 8px 5px 0px;
  width: 10%;
  height: 30px;
}
.searchbar-box-wrapper i {
  padding: 3px 10px 3px 0px;
  width: auto;
  background: var(--text-gradient) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  background-clip: text !important;
}
.search-button {
  border-radius: 8px !important;
  padding: 8px 12px !important;
}
.searchbar-button-wrapper {
  border-radius: 8px;
  padding: 9px 8px;
  gap: 10px;
}
.searchbar-button-wrapper svg {
  width: 10%;
}
.searchbar-button-wrapper span {
  font-size: 15px;
  color: #222;
  font-weight: 600;
}
.certified-dentist-title{
  font-family: "Barlow", sans-serif;
  font-weight: 400 !important;
}
/* dentists section */
.dentist-content {
  background-color: rgba(34, 34, 34, 0.6);
  padding: 15px;
  border-radius: 20px;
  height: 100%;
}
.dentist-content .card {
  border-radius: 24px;
  background-color: transparent;
  border: none;
}
.dentist-content .card img {
  border-radius: 12px;
  width: 230px;
  /* height: 230px; */
  display: flex;
  margin: 8% auto auto;

}
.dentist-content .card-body .bookAppoinment-btn {
  border-radius: 8px;
  padding: 9px 12px;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 16px;
}
/* .dentist-content .card-body .bookAppoinment-btn a{
    color: #222;
} */
.dentist-content .card-body {
  background-color: transparent;
  padding: 0px 5px 0px;
}
.dentist-content .card-body h2 {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 3px;
}
.dentist-content .card-body p {
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: rgba(255, 255, 255, 1);
}
.dentist-content .card-body span {
  font-family: "Barlow", sans-serif;
  font-style: italic;
  font-size: 12px;
  color: #08a300;
  margin-bottom: 0px;
  font-weight: 500;
  text-align: end;
  position: relative;
  display: block;
}
.dentist-content1,
.dentist-content2 {
  background-color: var(--bg-content-color);
  padding: 15px;
  border-radius: 20px;
  height: 100%;
}
.dentist-content1 h2 {
  /* font-family: "Barlow Condensed", serif; */
  font-size: 28px;
}
.dentist-content1 p {
  font-size: 14px;
}
.dentist-content1 h3 {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 15px;
}
.dentist-content2 iframe {
  border-radius: 15px;
  width: 100%;
  height: 100%;
}
/* suggestions */
#suggestions {
  position: absolute;
  top: 52px;
  left: 10px;
  width: 95%;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px -2px 10px rgba(27, 137, 118, 0.25);
  z-index: 1;
}
#suggestions p {
  border-bottom: none;
  padding: 20px;
  margin-bottom: 0px;
  color: #000;
  font-weight: bold;
}
#suggestions a {
  display: inline-block;
  width: 100%;
}
#suggestions a:hover {
  color: #000;
}
#suggestions a:last-child {
  border-bottom: none !important;
}
@media (min-width: 1900px) {
  .dentist-content .card img {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 1200px) {
  .searchbar-button-wrapper span {
    font-size: 13px;
  }
  .searchbar-button-wrapper {
    padding: 8px 5px;
  }
  .searchbar-box-wrapper {
    padding: 22px 10px;
  }
  /* dentist content */
  .dentist-section .row {
    --bs-gutter-x: 1rem;
  }
  .dentist-section .row .col-12 {
    margin-bottom: 1rem !important;
  }
  .dentist-content .card img {
    width: 200px;
    /* height: 240px; */
  }
  .dentist-content {
    padding: 10px;
  }
  .dentist-content1 h2 {
    font-size: 28px;
  }
  .dentist-content1 h3 {
    font-size: 16px;
  }
  .dentist-content1 p {
    line-height: 1.6;
  }
}
@media (max-width: 991px) {
  .certified-dentist-title{
    font-size: 18px !important;
  }
  .searchbar-wrap .row .col-lg-5,
  .searchbar-wrap .row .col-lg-2 {
    margin-bottom: 20px;
  }
  .searchInfo-content-wrapper .searchInfo-subtitle {
    font-size: 36px;
  }
  .searchbar-box-wrapper {
    padding: 22px 15px;
  }
  .searchbar-button-wrapper {
    padding: 8px 12px;
  }
  .searchbar-button-wrapper svg {
    width: 5%;
    margin-right: 8px;
  }
  .searchbar-button-wrapper span {
    font-size: 16px;
  }
  /* dentist content */
  .dentist-content .card-body h2 {
    font-size: 16px;
  }
  .dentist-content .card-body p {
    font-size: 14px;
  }

  .dentist-content1,
  .dentist-content2 {
    padding: 8px;
  }
  .dentist-content{
    padding: 8px;
  }
  .dentist-content2 iframe {
    border-radius: 12px;
  }
  .dentist-content .card img{
    margin: 4% auto auto;
  }
}
@media (max-width: 768px) {
  .certified-dentist-title {
    font-size: 18px !important;
  }
  .searchInfo-content-wrapper .searchInfo-title {
    font-size: 20px;
  }
  .searchInfo-content-wrapper .searchInfo-subtitle {
    font-size: 32px;
  }
  .searchbar-box-wrapper svg {
    width: 6%;
  }
  /* dentist section */
  .dentist-content,
  .dentist-content1,
  .dentist-content2 {
    padding: 8px;
  }
  .dentist-content .card-body .bookAppoinment-btn {
    padding: 4px 7px;
    font-size: 14px;
  }
  .dentist-content1 h2 {
    font-size: 26px;
  }
  .dentist-content1 h3 {
    font-size: 14px;
  }
  .dentist-content{
    display: flex;
    align-items: start;
    justify-content: center;
    height: 100%;
  }
  .dentist-content .card img {
    width: 240px;
    /* height: 40vh; */
    height: 100%;
  }
}
@media (max-width: 576px) {
  .certified-dentist-title {
    font-size: 16px !important;
  }
  .searchbar-box-wrapper svg {
    width: 8%;
  }
  .searchbar-button-wrapper svg {
    width: 5%;
  }
  /* dentist section */
  .searchInfo-content-wrapper .searchInfo-title {
    font-size: 18px;
  }
  .searchInfo-content-wrapper .searchInfo-subtitle {
    font-size: 30px;
  }
  .dentist-content .card img {
    width: 100%;
    height: 100%;
  }
  .searchbar-wrap .row,
  .dentist-section .row {
    justify-content: center;
  }
  .searchbar-wrap .row,
  .dentist-section .row .col-10 {
    margin-bottom: 1.2rem !important;
  }
  .dentist-content1,
  .dentist-content2 {
    padding: 0px 12px 12px;
  }
  .dentist-content{
    padding: 0px 12px 12px;
  }
  .dentist-content .card-body {
    padding: 0px 12px 12px;
  }
  .dentist-content .card-body .bookAppoinment-btn {
    padding: 9px 12px;
    font-size: 16px;
  }
  .dentist-content1 h1 {
    font-size: 24px;
  }
}
@media (max-width: 500px) {
  .searchbar-box-wrapper svg {
    width: 9%;
  }
}
:root {
  --f-thumbs-gap: 10px;
}
.f-carousel__toolbar__column .f-button:first-child {
  display: none;
}
.f-carousel__counter {
  display: none !important;
}
.f-button:hover:not([aria-disabled]) {
  background-color: #fff;
  color: #000;
}
.f-button.is-arrow {
  border-radius: 0;
  width: 40px;
  height: 40px;
}
.f-button.is-arrow svg {
  width: 20px;
  height: 20px;
}
.is-horizontal.is-ltr .f-button.is-arrow.is-next {
  right: 0px;
  top: 29px;
  left: 15%;
}
.is-horizontal.is-ltr .f-button.is-arrow.is-prev {
  top: 29px;
  left: 0%;
}
.fancybox__container {
  --f-button-height: 42px;
}
.fancybox__backdrop {
  background-color: rgba(24, 24, 27, 0.3);
}
.f-thumbs-prev,
.f-thumbs-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
  border-radius: 0%;
  background: rgba(54, 54, 54, 0.65);
  color: #fff;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 0px;
  font-size: 14px;
}
.f-thumbs-prev {
  left: 10px;
}
.f-thumbs-next {
  right: 10px;
}
.fancybox__dialog {
  height: 100%;
  width: 50% !important;
  display: flex !important;
  margin: auto !important;
}
.f-thumbs__slide {
  transform: none !important;
  left: 0px !important;
  width: 80% !important;
}
.f-thumbs__slide button{
  all:inherit !important;
}
.f-thumbs.is-modern .f-thumbs__slide button {
  width: 80% !important;
  margin-inline: 0% !important;
  clip-path: none !important;
}
.f-thumbs.is-modern .f-thumbs__viewport {
  width: 100% !important;
  margin-left: 0px;
  display: flex !important;
  /* gap: 20px; */
  margin-inline:unset !important;
}
/* .f-thumbs.is-modern .f-thumbs__slide.is-selected button{
  width:100% !important;
} */
.f-thumbs__slide.is-selected button{
  width:100% !important;
  border: 2px solid #fff !important;
}

.f-thumbs.is-modern .f-thumbs__slide{
  --clip-shift:none !important;
  --clip-path: none !important;
  /* --clip-path: none !important; */
  transition: none !important;
}

@media (max-width: 992px) {
  .is-horizontal.is-ltr .f-button.is-arrow.is-next {
    left: 20%;
  }
}
@media (max-width: 768px) {
  .fancybox__backdrop {
    background-color: rgba(24, 24, 27, 0.6);
  }
  .fancybox__dialog {
    width: 100% !important;
  }
  .is-horizontal.is-ltr .f-button.is-arrow.is-next {
    left: 14%;
  }
  .f-panzoom__viewport > .f-panzoom__content {
    object-fit: cover !important;
  }
  img.f-panzoom__content {
    vertical-align: middle !important;
  }
  .f-thumbs__slide {
    transform: none !important;
    left: 0px !important;
    width: 100% !important;
  }
  .f-thumbs.is-modern .f-thumbs__slide button {
    width: 100% !important;
    margin-inline: 0% !important;
  }
  .f-thumbs.is-modern .f-thumbs__viewport {
    width: 100% !important;
    margin-left: 0px;
    display: flex !important;
    gap: 20px;
  }
}

@media (max-width: 576px) {
  .is-horizontal.is-ltr .f-button.is-arrow.is-next {
    left: 22%;
  }
  .f-thumbs.is-modern .f-thumbs__slide {
    --clip-shift: 0px !important;
    --clip-path: 0px !important;
  }
}
