/* -----------------------Banner section -------------------------- */
.Banner_Section {
  background-color: var(--black);
  overflow: hidden;
}
.main-body-section {
  margin-top: 120px;
}
.banner_main_txt {
  font-family: var(--font-Glida-Display);
  font-size: 40px;
  font-weight: var(--fw-500);
  color: var(--white);
  z-index: 20;
  margin-bottom: 0px;
}
.banner-teeth-2 {
  position: absolute;
  height: 270px;
  width: 270px;
  z-index: 0;
}
.bg_1 {
  top: -79%;
  right: 6%;
}
/* search form */
.aon-banner-search {
  border-radius: 15px;
  margin-bottom: 80px;
  z-index: 20;
}
.aon-search2-form-area {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 20px;
}
.banner-txt-field,
.banner-form {
  border: none !important;
  width: 80%;
  padding-left: 10px;
  background-color: #2d2d2d;
  color: var(--white) !important;
  box-shadow: none !important;
}
.banner-txt-field:focus,
.banner-txt-field:active,
.banner-form:focus,
.banner-form:active {
  background-color: #2d2d2d !important;
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}
.banner-form option:hover {
  background-color: #fff !important;
}
.banner-form .selected:hover {
  background-color: #fff !important;
}
.submit_banner_btn {
  border: none;
  border-radius: 12px;
  padding: 6px 30px;
  margin-top: 3px;
}

@media (max-width: 1200px) {
  .bg_1 {
    top: -75%;
    right: -1%;
    width: 250px;
    height: 250px;
  }
}
@media (max-width: 991px) {
  .banner_main_txt {
    margin-bottom: 40px;
  }
  .banner-teeth-2 {
    height: 200px;
    width: 200px;
  }
  .bg_1 {
    top: -56%;
    right: -13%;
  }
}
@media (max-width: 768px) {
  .banner_main_txt {
    font-size: 30px;
    margin-bottom: 40px;
  }
  .banner-teeth-2 {
    height: 170px;
    width: 170px;
  }
  .bg_1 {
    top: -70%;
  }
}
@media (max-width: 576px) {
  .Banner_Section {
    padding: 50px 0px 0px !important;
  }
  .banner_main_txt {
    font-size: 20px;
    margin-bottom: 30px;
  }
  .main-body-section {
    margin-top: 80px;
  }
  .banner-teeth-2 {
    height: 120px;
    width: 120px;
  }
  .bg_1 {
    top: -81%;
    right: -4%;
  }
}

/* ------------------------------Devloper section --------------------- */
.Developer_Section {
  background-color: var(--black);
  overflow: hidden;
}
/* image card */
.mainImageCard {
  margin: 40px 0px 0px;
}
.Discover_Group {
  padding: 40px 90px;
}
.usd_ring {
  height: 130px;
  width: 130px;
  position: absolute;
  top: 0%;
  left: 12%;
  animation: rotateRing 10s linear infinite;
}
.smile_orange {
  position: absolute;
  width: 200px;
  height: 177.78px;
  bottom: 4%;
  right: 4%;
}
@keyframes rotateRing {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* part-2 */
.step_card {
  margin-top: 12px;
}
.step_header {
  padding: 0 20px;
}
.Discover_text {
  margin-top: 10px;
  margin-bottom: 0px;
}
.Discover_heading {
  font-weight: var(--fw-500) !important;
  margin-bottom: 20px;
}
@media (max-width: 1200px) {
  .usd_ring {
    top: -3.5%;
    left: 5%;
  }
  .Discover_text {
    font-size: 30px;
    margin-top: 0px;
  }
}
@media (max-width: 992px) {
  .Developer_Section {
    padding: 20px 0px 15px !important;
  }
  .mainImageCard {
    text-align: center;
    position: relative;
    margin: 10px 0px;
  }
  .usd_ring {
    height: 130px;
    width: 130px;
    top: 0%;
    left: 18%;
  }
  .smile_orange {
    right: 10%;
  }
  .Discover_heading {
    font-size: 22px;
  }
}
@media (max-width: 768px) {
  .mainImageCard {
    margin: 10px 0px;
  }
  .Discover_Group {
    width: 100%;
    height: auto;
    padding: 40px 90px 10px;
  }
  .usd_ring {
    height: 130px;
    width: 130px;
    top: 0%;
    left: 8%;
  }
  .smile_orange {
    width: 150px;
    height: 133.33px;
  }
  .Discover_text {
    margin-bottom: 5px;
  }
  .Discover_heading {
    margin-bottom: 15px;
    font-size: 20px !important;
  }
}
@media (max-width: 576px) {
  .Developer_Section {
    padding: 30px 0px 15px !important;
  }
  .Discover_Group {
    padding: 40px 40px 0px;
  }
  .usd_ring {
    height: 80px;
    width: 80px;
    top: 3%;
    left: 7%;
  }
  .smile_orange {
    width: 115px;
    right: 2%;
  }
  /* part 2 */
  .step_header {
    padding: 0 10px;
  }
  .Discover_heading {
    font-size: 18px !important;
  }
}

/* --------------------- working section -------------- */
.working-section {
  margin: 20px auto;
  padding: 25px 0px 5px !important;
}
.working_subtitle {
  margin-top: 10px;
  margin-bottom: 5px !important;
}
.working-main-content {
  margin: 35px auto;
  padding-bottom: 10px;
}
/* main content */
.working-main-wrapper {
  box-shadow: 2px 8px 15.7px rgba(255, 255, 255, 0.25);
  border-radius: 22px;
  background-color: transparent;
  height: 378px;
}
.card_1 {
  background-color: rgba(244, 243, 248, 0.4);
  position: relative;
  overflow: hidden;
}
.card_2 {
  background-image: url("../process_img.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.card_3 {
  background-color: rgba(216, 156, 39, 0.67);
  position: relative;
  overflow: hidden;
}
.smile_yellow {
  position: absolute;
  width: 200px;
  height: 177.78px;
  bottom: 10%;
  right: -15%;
}
.working-main-title {
  font-family: var(--font-Barlow);
  font-size: 22px;
  line-height: 28.25px;
  letter-spacing: 0.03em;
  color: var(--white);
}
.working-main-description {
  color: var(--light-gray);
  font-family: var(--font-Barlow);
  line-height: 28.8px;
  font-weight: var(--fw-600);
}
@media (min-width: 576px) {
  .working-section .row {
    --bs-gutter-x: 1.1rem !important;
  }
}
@media (max-width: 1200px) {
  .working_subtitle {
    line-height: normal !important;
  }
  /* main content */
  .working-main-wrapper {
    height: 420px;
  }
}
@media (max-width: 992px) {
  .working-main-content {
    margin: 18px auto;
  }
  .working-main-content .col-sm-10 {
    margin-bottom: 10px;
  }
  /* main content */
  .working-main-wrapper {
    height: 360px;
  }
  .working-main-title {
    font-size: 18px;
  }
  .working-main-description {
    font-size: 14px;
    line-height: 24px;
  }
}
@media (max-width: 768px) {
  .working_title {
    line-height: normal !important;
  }
  .working-main-content {
    gap: 25px;
    margin: 30px auto;
  }
  /* main content */
  .working-main-wrapper {
    height: 340px;
  }
  .working-main-title {
    font-size: 20px;
  }
  .working-main-description {
    font-size: 16px;
    line-height: 28.8px;
  }
}
@media (max-width: 576px) {
  .working-section {
    padding: 20px 0px 0px !important;
    margin: 0px auto 10px !important;
  }
  .working_title {
    margin-bottom: 0px !important;
  }
  .working_subtitle {
    line-height: 35px !important;
  }
  .working-main-content {
    margin: 15px auto;
  }
  /* main content */
  .working-main-wrapper {
    height: 330px;
  }
  .card_1 .smile_orange {
    right: 18%;
  }
  .working-main-title {
    font-size: 18px;
  }
  .working-main-description {
    font-size: 14px;
    line-height: 24px;
  }
}

/* ---------------------location Section ------------------------ */
.location-subtitle {
  margin-bottom: 12px;
}
/* main content */
.location-section .row .col-lg-6 {
  padding-left: 25px;
  padding-right: 25px;
}
.square-card-wrapper {
  max-width: 250px;
  margin: auto;
  margin-bottom: 40px;
}
.square-card {
  padding-top: 100%;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 15px;
  box-shadow: 0px -2px 10px rgba(255, 255, 255, 0.25);
}
.bgloc {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px;
}
.square-card-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.city_txt {
  font-family: "Gilda Display", serif;
  font-size: 22px;
  font-weight: 500;
}
.Designer_txt {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
}
@media (max-width: 768px) {
  .Loc-description {
    text-align: left;
    margin-bottom: 20px;
  }
}
@media (max-width: 576px) {
  .location-section {
    padding: 25px 0px 40px !important;
  }
  .location-section .row .col-lg-6 {
    padding-left: 12px;
    padding-right: 12px;
  }
  .square-card-wrapper {
    margin-top: 12px !important;
    margin-bottom: 20px;
  }
  .city_txt {
    font-size: 16px;
  }
  .Designer_txt {
    font-size: 13px;
  }
}

/* ---------------------- Register Section ----------------- */
.registration_section {
  margin: 30px auto 40px;
}
.register_wrapper {
  background-color: rgba(34, 34, 34, 0.6);
  border-radius: 30px;
  padding: 70px 0px 100px;
}
.register_content {
  position: relative;
}
.register_wrapper h3 {
  font-size: 29px !important;
}
.register_wrapper p {
  position: relative;
  padding-top: 5px;
  margin-bottom: 18px;
}
.getInTouch-btn {
  border: none;
  padding: 0.6rem 1.25rem !important;
  font-size: 15px;
  z-index: 1;
  position: relative;
}
.tooth-bg {
  position: absolute;
  top: 22%;
  left: 0%;
  right: 0%;
  /* padding-left: 211px; */
  opacity: 0.4;
  display: flex;
  justify-content: center;
  width: 60%;
  margin: auto;
  align-items: center;
  max-width: none;
}
/* @media (min-width: 2800px) {
  .register_wrapper p {
    width: 90%;
    left: 5%;
    top: 37%;
  }
} */
@media (min-width: 2800px) {
  .tooth-bg {
    width: 50%;
  }
}
@media (max-width: 1200px) {
  .register_wrapper h3 {
    font-size: 28px !important;
    line-height: 40px;
    margin-top: 5px;
  }
  .register_wrapper p {
    font-size: 14px;
  }
}
@media (max-width: 991px) {
  .registration_section {
    margin: 0px auto 40px;
  }
  .register_wrapper {
    padding: 50px 0px 60px;
  }
  .register_wrapper h3 {
    font-size: 26px !important;
  }
  /* .register_wrapper p {
    line-height: 22px;
    width: 100%;
    left: 0%;
    top: 38%;
  } */
  .register_wrapper img {
    height: 42%;
  }
}
@media (max-width: 768px) {
  .register_wrapper {
    padding: 45px 0px 95px;
  }
  .register_wrapper h3 {
    font-size: 24px !important;
    line-height: 38px;
  }
  /* .register_wrapper p {
    width: 86%;
    left: 6.5%;
    top: 40%;
  } */
  .register_wrapper img {
    height: 58%;
  }
}
@media (max-width: 576px) {
  .register_wrapper {
    padding: 35px 0px 40px;
  }
  .registration_section {
    padding: 10px 0px 35px !important;
    margin: 15px auto 20px;
  }
  .register_wrapper h3 {
    font-size: 20px !important;
    line-height: 35px;
    margin-top: 5px;
  }
  .register_wrapper p {
    font-size: 13px;
    line-height: 20px;
  }
  .register_wrapper img {
    display: none;
  }
}

/*--------------------------- Dentist Section ----------------------- */
.dentists-section {
  background-color: rgb(216, 156, 39, 0.44);
  padding: 50px 0px;
}
.vector2-img {
  right: 0%;
  z-index: -1;
  top: 12%;
}
.vector1-img {
  position: absolute;
  z-index: -1;
  bottom: 20%;
}
.dentists-content-1 p {
  width: 65%;
}
.dentists-content-1 .form-select {
  background-color: var(--bg-content-color) !important;
  border-radius: 15px;
  padding: 0.4rem 1.1rem;
  border: none !important;
  color: var(--white) !important;
  margin-left: auto;
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/></svg>");
}
.dentists-content-1 .form-select:hover option {
  color: var(--white);
}
.dentists-content-1 .form-select:focus {
  border-color: var(--white) !important;
  box-shadow: none;
}
/* main content */
.dentists-content-2 {
  margin-bottom: 15px;
}
.dentists-content-2 .col-12 {
  padding-left: 1.1rem !important;
  padding-right: 1.1rem !important;
}
.dentists-content {
  padding: 18px;
  background-color: var(--bg-content-color);
  border-radius: 25px;
  z-index: 1;
}
.dentists-content img {
  width: 100%;
  height: auto;
  border-radius: 18px;
  display: flex;
  margin: auto;
}
.dentists-content-title {
  line-height: 36px;
}
.btn-appointment {
  padding: 12px 0.75rem !important;
}
.dentists-content span {
  font-style: italic;
  font-size: 12px;
}
@media (min-width: 2400px) {
  .vector3-img {
    left: 10%;
  }
}
@media (min-width: 2600px) {
  .vector3-img {
    left: 25%;
  }
}
@media (min-width: 992px) {
  .dentists-content-2 .col-12 {
    width: 30%;
  }
}
@media (max-width: 1200px) {
  .vector2-img {
    top: 9%;
  }
  .dentists-content-1 {
    gap: 50px;
  }
  /* main content */
  .dentists-content {
    border-radius: 35px;
    padding: 20px;
  }
}
@media (max-width: 991px) {
  .dentists-content-1 {
    gap: 0px;
  }
  .dentists-content-1 p {
    width: 64%;
  }
  .dentists-content-1 .form {
    width: 30% !important;
  }
}
@media (max-width: 768px) {
  .dentists_subtitle {
    font-size: 36px;
    line-height: normal;
    margin-bottom: 21px;
  }
  .dentists-content-1 {
    flex-direction: column !important;
    gap: 20px;
  }
  .dentists-content-1 .form {
    width: 100% !important;
  }
  /* main content */
  .dentists-content-2 {
    gap: 25px;
  }
  .dentists-content {
    border-radius: 40px;
  }
  .dentists-content-1 p {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .dentists-section {
    padding: 25px 0px 20px !important;
  }
  .vector2-img {
    top: 7%;
  }
  .dentists_subtitle {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .dentists-content-1 p {
    font-size: 15px;
    line-height: 25px;
    width: 100%;
  }
  /* main content */
  .dentists-content-2 {
    margin-top: 2rem !important;
  }
  .dentists-content {
    border-radius: 30px;
    padding: 22px;
  }
}

/* ---------------------- smile step section ---------------------- */
.smile_step_Section {
  background-color: #000000;
  padding: 50px 0px;
  text-align: center;
}
.inner_smile_step_section {
  width: 100%;
}
.smile_step_Section .registration_heading {
  position: relative;
}
.step_image_content {
  position: relative;
}
.step_head {
  font-family: "Gilda Display", serif;
  font-size: 22px;
  color: #ffffff;
}
.step_content {
  padding-left: 50px;
}
.step_content_right {
  padding-right: 50px;
}
.step_left {
  text-align: left;
  display: flex;
  align-items: center;
  margin-top: 40px;
}
.step_number {
  font-size: 100px;
  font-weight: bold;
  font-family: "Barlow", sans-serif;
  position: absolute;
  z-index: 10;
}
.step_number_left {
  color: rgba(216, 156, 39, 0.9);
  top: -30%;
  left: 1%;
}
.step_number_right {
  color: rgba(255, 255, 255, 0.9);
  top: -30%;
  right: 1%;
}
.step_image {
  height: 300px;
  width: 240px;
  border-radius: 12px;
}
.step_text {
  font-family: "Barlow", sans-serif;
  width: 500px;
}
.step_right {
  text-align: right;
  justify-content: right;
  display: flex;
  align-items: center;
  margin-top: 40px;
}
.registrayion_small {
  font-family: "Barlow Condensed", sans-serif;
  display: block;
  margin-bottom: 0px;
  font-size: 24px;
  font-weight: 600;
  line-height: 38.4px;
  letter-spacing: 0.03em;
  display: inline-block;
  position: relative;
}
.registration_heading {
  font-family: "Gilda Display", serif;
  font-size: 36px;
  color: #fff;
  font-weight: 400;
  margin-bottom: 20px;
  line-height: 1.4 !important;
}
@media (min-width: 601px) and (max-width: 992px) {
  .step_number {
    font-size: 80px;
  }
  .step_text {
    width: 350px;
  }
  .step_image {
    height: 250px;
    width: 200px;
  }
}
@media (max-width: 768px) {
  .step_number {
    font-size: 80px;
  }
  .step_image {
    height: 250px;
    width: 200px;
  }
  .step_text {
    width: 250px;
  }
  .smile_step_Section .registration_heading {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .step_head {
    font-family: "Gilda Display", serif;
    font-size: 18px;
    color: #ffffff;
  }
  .step_left {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .all_step {
    padding-top: 20px;
  }
  .step_content {
    padding-top: 20px;
    padding-left: 0px;
  }
  .step_content_right {
    padding-top: 20px;
    padding-right: 0px;
  }
  .step_text {
    width: 100%;
  }
  .step_right {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .smile_step_Section .text_vec {
    margin-bottom: 20px;
  }
  .registration_heading {
    font-size: 20px;
  }
}
/* ------------------ Schedule Data Section ----------------- */
.schedule-data-section {
  padding: 30px 0px 30px !important;
}
.vector3-img {
  position: absolute;
  z-index: 0;
  top: 12%;
}
.schedule-data-section .row {
  margin: 0px auto 0px;
  z-index: 1;
}
.bg-schedule {
  background-image: url("../bg-schedule.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 38%;
  height: 35%;
  right: 9px;
  top: 65%;
  position: absolute;
  z-index: 1;
  border-radius: 15px;
  padding: 15px 0px;
}
.schedule-data-icon {
  width: 30%;
  left: -4px;
  position: relative;
}
.schedule-data-link .h3,
.bg-schedule .h3 {
  font-family: "Gilda Display", serif;
  font-size: 25px;
  /* color: #fbe9d0; */
  letter-spacing: 0.03em;
}
.bg-schedule p {
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  letter-spacing: 0.03em;
}
.schedule-data-subtitle {
  line-height: 45px !important;
  width: 75%;
  font-size: 32px !important;
}
.schedule-data-content p {
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 24px;
}
.schedule-data-content-2 .col-sm-5:last-child {
  margin-top: 20px !important;
  width: 34%;
}
.schedule-data-link {
  background-color: var(--bg-content-color);
  padding: 0px 0px;
  border-radius: 25px;
  z-index: 1;
  position: relative;
}
.schedule-data-link div img {
  width: 25%;
}
.btn-call {
  font-weight: 700;
  padding: 0.3rem 0.55rem;
  border: none;
}
.btn-call b {
  color: #000;
}
.schedule-data-content-2 .callus-btn-wrapper i {
  background-color: #000;
  padding: 8px;
  border-radius: 50%;
  transform: rotate(-40deg);
  font-size: 20px;
}
.schedule-data-content-2 .callus-btn-wrapper i::before {
  color: #fbe9d0;
}
@media (max-width: 1400px) {
  .bg-schedule {
    top: 65.5%;
    right: 10px;
  }
}
@media (max-width: 1200px) {
  .vector3-img {
    top: 16%;
  }
  .bg-schedule {
    top: 62.6%;
    width: 39%;
    height: auto;
    right: 5px;
  }
  .schedule-data-section {
    padding: 30px 0 30px !important;
  }
  .schedule-data-subtitle {
    font-size: 30px !important;
    line-height: 50px !important;
    width: 88%;
  }
  .schedule-data-content p {
    font-size: 12px;
    margin-bottom: 20px;
  }
  .schedule-data-content-2 .col-sm-5:last-child {
    margin-top: 0px !important;
    padding: 0.5rem 0.75rem;
    width: 36%;
  }
  .schedule-data-link h3 {
    font-size: 20px;
    text-align: center;
  }
  .btn-call {
    padding: 0.5rem 0.75rem;
  }
  .btn-call b {
    font-size: 18px;
  }
}
@media (max-width: 1024px) {
  .bg-schedule {
    top: 63%;
  }
}
@media (max-width: 1014px) {
  .bg-schedule {
    /* top: 63%; */
    width: 38.4%;
    right: 8px;
  }
}
@media (max-width: 991px) {
  .vector3-img {
    top: 16.5%;
  }
  .bg-schedule {
    top: 62%;
    width: 37%;
    right: 9px;
  }
  .schedule-data-icon {
    left: -1px;
  }
  /* .schedule-data-link h3,
  .bg-schedule h3 {
    font-size: 28px;
  } */
  .schedule-data-subtitle {
    font-size: 25px !important;
    line-height: 40px !important;
    margin-top: 0px;
    width: 100%;
  }
  .schedule-data-content p {
    margin-bottom: 0px;
    line-height: 18px;
  }
  .schedule-data-content-2 .col-sm-5:last-child {
    width: 49%;
  }
  .schedule-data-link {
    border-radius: 15px;
  }
  .btn-call {
    border-radius: 12px;
    padding: 6px 9px !important;
    margin-top: 10px !important;
  }
  .schedule-data-content-2 .callus-btn-wrapper i {
    padding: 7px;
    font-size: 16px;
  }
}
@media (max-width: 900px) {
  .bg-schedule {
    top: 64%;
  }
}
@media (max-width: 768px) {
  .vector3-img {
    top: 28%;
  }
  .schedule-data-section {
    padding: 10px 0px 5px !important;
  }
  .schedule-data-section .row {
    margin: 0px auto;
  }
  .schedule-data-content-img1 {
    display: none;
  }
  .schedule-data-content p {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .schedule-data-content-2 {
    justify-content: center;
  }
  .schedule-data-content-2 .col-sm-5:last-child {
    margin-top: 0px !important;
  }
  .schedule-data-content-2 .col-sm-6 {
    margin-bottom: 22px;
  }
  .btn-call {
    border-radius: 15px;
    margin: 15px auto;
  }
  .schedule-data-content-2 .callus-btn-wrapper i {
    padding: 13px;
  }
}
@media (max-width: 576px) {
  .schedule-data-section {
    padding: 0px !important;
  }
  .schedule-data-section .row {
    margin: 5px auto 5px;
  }
  .vector3-img {
    top: 47%;
  }
  .schedule-data-content-2 {
    --bs-gutter-x: 1.3rem;
  }
  .btn-call b {
    font-size: 16px;
  }
  .btn-call {
    border-radius: 12px;
    margin: 5px auto;
  }
  .schedule-data-content-2 .callus-btn-wrapper {
    width: 50% !important;
  }
  .schedule-data-content-2 .callus-btn-wrapper i {
    padding: 8px;
  }
}

/* ----------------------- gallery section ------------------------- */
.floating-images {
  width: 100%;
  height: 250px;
  flex-wrap: wrap;
  gap: 20px;
}
.floating-images img {
  width: 140px;
  height: 175px;
  /* border-radius: 15px; */
  box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.3);
  object-fit: 100%;
  position: absolute;
  transition: transform 0.3s ease-in-out;
}
/* Randomized Positioning */
.floating-images img:nth-child(1) {
  top: 10px;
  left: 0%;
}
.floating-images img:nth-child(2) {
  top: -80px;
  left: 14.5%;
}
.floating-images img:nth-child(3) {
  top: 20px;
  left: 29%;
}
.floating-images img:nth-child(4) {
  top: 80px;
  left: 44.1%;
}
.floating-images img:nth-child(5) {
  top: 20px;
  right: 29.3%;
}
.floating-images img:nth-child(6) {
  top: -80px;
  right: 14.7%;
  filter: saturate(0.5);
}
.floating-images img:nth-child(7) {
  top: 115px;
  right: 14.7%;
}
.floating-images img:nth-child(8) {
  top: 10px;
  right: 0%;
}
.floating-images img:nth-child(9) {
  top: 208px;
  right: 0%;
}
.floating-images img:nth-child(10) {
  top: 202px;
  left: 0%;
}
.floating-images img:nth-child(11) {
  top: 115px;
  left: 14.5%;
}
/* Hover Effect */
.floating-images img:hover {
  transform: scale(1.1);
}
/* .floating-images img {
  animation: float 3s infinite ease-in-out alternate;
} */
@keyframes float {
  0% {
    /* transform: translateY(0px); */
    transform: scale(1);
  }
  50% {
    /* transform: translateY(-10px); */
    transform: scale(0.98);
  }
  100% {
    /* transform: translateY(0px);  */
    transform: scale(1);
  }
}
/* Gallery Text */
.gallery-text {
  margin-top: 0px;
  position: absolute;
  z-index: 1;
  bottom: 15%;
}
.gallery-text h3 {
  color: gold;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.gallery-text h2 {
  font-size: 28px;
  margin: 10px 0;
}
.gallery-text p {
  font-size: 16px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.8;
}
.btn-gallery {
  border: none;
}

@media (max-width: 1400px) {
  .floating-images img:nth-child(4) {
    left: 43.5%;
  }
}
@media (max-width: 1200px) {
  .floating-images img {
    width: 120px;
    height: 150px;
  }
  .floating-images img:nth-child(2),
  .floating-images img:nth-child(6) {
    top: -61px;
  }
  .floating-images img:nth-child(7),
  .floating-images img:nth-child(11) {
    top: 105px;
  }
  .floating-images img:nth-child(9),
  .floating-images img:nth-child(10) {
    top: 180px;
  }
  .gallery-text {
    bottom: 10%;
  }
}
@media (max-width: 1024px) {
  .floating-images img {
    width: 110px;
    height: 140px;
  }
}
@media (max-width: 991px) {
  .floating-images img {
    width: 120px;
    height: 150px;
  }
  .floating-images img:nth-child(1),
  .floating-images img:nth-child(8),
  .floating-images img:nth-child(10) {
    display: none;
  }
  .floating-images img:nth-child(2) {
    left: 0%;
  }
  .floating-images img:nth-child(3) {
    left: 20.8%;
  }
  .floating-images img:nth-child(4) {
    left: 41.2%;
  }
  .floating-images img:nth-child(5) {
    right: 21%;
  }
  .floating-images img:nth-child(6) {
    right: 0%;
  }
  .floating-images img:nth-child(7) {
    right: 0%;
  }
  .floating-images img:nth-child(9) {
    right: 0%;
    display: none;
  }
  .floating-images img:nth-child(11) {
    left: 0%;
  }
  .gallery-text {
    bottom: 9%;
  }
  .gallery-text p {
    width: 90%;
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .floating-images img {
    width: 95px;
    height: 125px;
  }
  .floating-images img:nth-child(2) {
    left: -3%;
  }
  .floating-images img:nth-child(3) {
    top: 9px;
    left: 18.7%;
  }
  .floating-images img:nth-child(4) {
    left: 40.5%;
  }
  .floating-images img:nth-child(5) {
    right: 19%;
  }
  .floating-images img:nth-child(6) {
    right: -3%;
  }
  .floating-images img:nth-child(7) {
    top: 78px;
    right: -3%;
  }
  .floating-images img:nth-child(11) {
    top: 78px;
    left: -3%;
  }
  /* gallery main content */
  .gallery-text p {
    width: 100%;
  }
  .btn-gallery {
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  .gallery-container {
    padding-top: 100px !important;
  }
  .gallery-container .d-flex {
    margin-bottom: 40px !important;
  }
  .floating-images img:nth-child(3),
  .floating-images img:nth-child(5) {
    display: none;
  }
  .floating-images img:nth-child(2) {
    left: 3%;
  }
  .floating-images img:nth-child(4) {
    top: 20px;
    left: 35.5%;
  }
  .floating-images img:nth-child(6) {
    right: 3%;
  }
  .floating-images img:nth-child(7) {
    top: 82px;
    right: 3%;
  }
  .floating-images img:nth-child(11) {
    top: 82px;
    left: 3%;
  }
  .gallery-text {
    bottom: -4%;
  }
  .gallery-text h3 {
    font-size: 16px;
  }
  .gallery-text h2 {
    font-size: 20px;
    line-height: 50px;
  }
  .gallery-text p {
    font-size: 12px;
  }
  .btn-gallery {
    font-size: 12px;
  }
}

/*-------------------- Tesimonial section ----------------- */
/* .new-testimonial-section{
    padding: 50px 0px;
} */
.testimonial-vector-img {
  position: absolute;
  z-index: -1;
  top: 14%;
}
.myswiper {
  width: 100%;
  max-width: 100%;
  padding: 20px 0px;
  overflow: visible !important;
}
.myswiper .swiper-wrapper {
  display: flex;
}
.testimonial-slide {
  background-color: transparent;
  /* box-shadow: 0px 0px 20px rgba(255,255,255,0.35); */
  align-items: center;
  text-align: left;
  border-radius: 0px;
  padding: 10px;
  transform: scale(0.9) !important;
}
.testimonial-slide .card {
  background: rgba(29, 29, 29, 1);
  /* padding: 20px 20px 60px; */
  padding: 20px 20px 20px;
  text-align: left;
  border-radius: 0px;
  border: 0px;
}
.testimonial-slide img {
  width: 20%;
  margin: 30px 0px 0px;
}
.myswiper .swiper-slide-active {
  /* transform: translateY(-15px);
  opacity: 1; */
  margin-bottom: 10px !important;
}
/* .myswiper .swiper-slide-active.testimonial-slide {
  padding: 10px;
  border: 3px solid;
  border-image-source: linear-gradient(
    129deg,
    #c3942f 1%,
    #000 12%,
    #000 28%,
    #000 38%,
    #c3942f 51%,
    #000 62%,
    #000 84%,
    #000 89%,
    #c99c30 100%
  ) !important;
  border-image-slice: 1;
  border-image-width: 3px;
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  top: -26.5%;
  border-radius: 0px;
  text-align: center;
  line-height: 28px;
  transform: scale(1.1) !important;
} */
/* .myswiper .swiper-slide-prev.testimonial-slide .card{
  animation: smallBig2 4s ease-in-out forwards;
} */
.myswiper .swiper-slide.testimonial-slide .card {
  animation: smallBig2 2s ease-in-out forwards;
}
.myswiper .swiper-slide-prev.testimonial-slide .card {
  z-index: 2;
  animation: smallBig 2s ease-in-out forwards;
}
.myswiper .swiper-slide-active.testimonial-slide .card {
  animation: smallBig1 2s ease-in-out forwards;
}
/* .myswiper .swiper-slide-next.testimonial-slide .card {
  background: linear-gradient(
    90deg,
    rgba(29, 29, 29, 1) 15%,
    rgba(0, 0, 0, 0.2) 85%
  );
  z-index: 2;
} */
/* .anim-in {
  animation: fadeInUp 1s ease forwards;
}
.anim-out {
  animation: fadeOutDown 1s ease forwards;
}
@keyframes fadeInUp {
  from {
    transform: translateY(30px) scale(0.9);
    opacity: 0;
  }
  to {
    transform: translateY(0px) scale(1);
    opacity: 1;
  }
}
@keyframes fadeOutDown {
  from {
    transform: translateY(0px) scale(1);
    opacity: 0;
  }
  to {
    transform: translateY(-30px) scale(0.95);
    opacity: 1;
  }
} */

/* .myswiper .swiper-slide-active.testimonial-slide{
  animation: smallBig 4s ease-in-out forwards;
} */
/* .border-frame{
  position: absolute;
  z-index: 9999;
  left:34.3%;
  right:50%;
  border: 3px solid;
  border-image-source: linear-gradient(
    129deg,
    #c3942f 1%,
    #000 12%,
    #000 28%,
    #000 38%,
    #c3942f 51%,
    #000 62%,
    #000 84%,
    #000 89%,
    #c99c30 100%
  ) !important;
  border-image-slice: 1;
  border-image-width: 3px;
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  top: -0.5%;
  border-radius: 0px;
  text-align: center;
  line-height: 28px;
  height: 452px;
  width:350px;
} */

.border-frame {
  position: absolute;
  inset: 0; /* replaces top/left/right/bottom */
  margin: auto;
  width: 31%; /* responsive: 90% of the swiper-slide width */
  height: 98%; /* responsive height */
  z-index: 9999;
  border: 3px solid;
  /* border-image-source: linear-gradient(128deg, #C3942E 1%,  13%, transparent 36%, transparent 37%, #c3942f 47%, transparent 63%, transparent 87%, transparent 85%, #c99c30 100%); */
  border-image-source: linear-gradient(
    129deg,
    #c3942f 1%,
    transparent 12%,
    transparent 28%,
    transparent 38%,
    #c3942f 51%,
    transparent 62%,
    transparent 84%,
    transparent 89%,
    #c99c30 100%
  );
  border-image-slice: 1;
  border-image-width: 3px;
  border-radius: 0;
  text-align: center;
  font-size: 1rem;
  line-height: 1.4;
  color: #fff;
  top: -2%;
}
.swiper-bg-grident {
  background-image: url("../swiper-bg-grident17.png");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  pointer-events: none;
  position: absolute;
  z-index: 2;
  inset: 0;
}
@keyframes smallBig {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0.9);
  }
}
@keyframes smallBig1 {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1.1);
  }
}
@keyframes smallBig2 {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(0.9);
  }
}

/* @keyframes smallBig2{
  0%{
    transform: translateY(0px) scale(1);
  }
  100%{
    transform: translateY(0px) scale(0.8);
  }
} */
/* .myswiper .swiper-slide-next.testimonial-slide .card{
    background: linear-gradient(90deg, rgba(29,29,29,1) 15%, rgba(0,0,0,0.2) 85%);
    z-index: 2;
}
.myswiper .swiper-slide-prev.testimonial-slide .card{
    background: linear-gradient(90deg, rgba(0,0,0,0.2) 20%, rgba(29,29,29,1) 80%);
    z-index: 2;
} */

.reviewName {
  position: relative;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 500;
  font-size: 22px;
  color: #fff;
}
.reviewContent {
  position: relative;
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  font-size: 15px;
  padding: 0px;
  margin-bottom: 10px;
  height: 280px;
  line-height: 1.6;
  letter-spacing: 0.5px;
  /* color: #fff; */
  /* border-image-source: linear-gradient(137deg, #C3942F 6%,#C3942F 9%, #000 7%, #000 15%,#000 30%,#000 35%, #C3942F 45%, #000 67%, #000 89%, #C99C30 92% , #C3942F 100% ) !important; */
  /* border-image-source: linear-gradient(130deg, #C3942F 0%, #000 18%, #000 37%, #C3942F 50%, #000 64%, #000 82%, #C99C30 100%) !important; */
}
.myswiper .swiper-slide-active .reviewContent {
  height: 280px;
  line-height: 1.75;
}
.testimonial_subcontent {
  width: 64%;
}
.stars {
  position: relative;
  /* color: #f1c40f; */
  color: #fff;
  font-size: 18px;
  margin-bottom: 15px;
}
.quote2-img {
  position: absolute;
  top: -2%;
  width: 12% !important;
  left: 5%;
}
.quote1-img {
  position: absolute;
  bottom: 4%;
  width: 12% !important;
  right: 5%;
}
@media (max-width: 1200px) {
  @keyframes smallBig {
    0% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(0.95);
    }
  }
  @keyframes smallBig1 {
    0% {
      transform: scale(0.95);
    }
    100% {
      transform: scale(1.1);
    }
  }
  .testimonial-slide {
    padding: 20px 10px 10px;
  }
  .testimonial-slide .card {
    padding: 10px 12px 10px;
  }
  .reviewContent {
    height: 285px;
  }
  .myswiper .swiper-slide-active .reviewContent {
    height: 305px;
  }
  .stars {
    margin-bottom: 8px;
  }
  .reviewName {
    font-size: 20px;
    margin-bottom: 0.5rem;
  }
  .border-frame {
    width: 40%;
    height: 87%;
    top: -8.5%;
  }
}
@media (max-width: 1024px) {
  .testimonial-slide {
    padding: 20px 15px 60px;
  }
  .reviewContent {
    font-size: 14px;
    height: 160px;
  }
  .myswiper .swiper-slide-active .reviewContent {
    height: 200px;
  }
  .border-frame {
    width: 48.3%;
    height: 85%;
    top: -10.5%;
    z-index: 0;
    border-image-source: linear-gradient(
      139deg,
      #c3942f 1%,
      #000 15%,
      #000 32%,
      #000 36%,
      #c3942f 50%,
      #000 66%,
      #000 82%,
      #000 85%,
      #c99c30 100%
    );
  }
}
@media (max-width: 991px) {
  .testimonial_subcontent {
    width: 80%;
  }
  .reviewContent {
    font-size: 13px;
    height: 190px;
  }
  .border-frame {
    width: 47.6%;
    /* height: 85%; */
    border-image-source: linear-gradient(
      129deg,
      #c3942f 1%,
      #000 15%,
      #000 32%,
      #000 36%,
      #c3942f 50%,
      #000 66%,
      #000 82%,
      #000 85%,
      #c99c30 100%
    );
    /* border-image-source: linear-gradient(140deg, #c3942f 1%, #000 13%, #000 32%, #000 36%, #c3942f 50%, #000 64%, #000 82%, #000 88%, #c99c30 100%); */
  }
}
@media (max-width: 767px) {
  .testimonial_subcontent {
    width: 100%;
    font-size: 15px;
  }
  .testimonial-vector-img {
    top: 20%;
  }
  .reviewContent {
    height: 195px;
  }
  .reviewName {
    font-size: 18px;
    letter-spacing: 0.5px;
  }
  .testimonial-slide .card {
    padding: 10px 15px;
  }
  .myswiper .swiper-slide-active .reviewContent {
    height: 240px;
  }
  .border-frame {
    width: 80.5%;
    height: 84.5%;
    left: 0.5%;
    top: -9.8%;
    border-image-source: linear-gradient(
      140deg,
      #c3942e 1%,
      #000 13%,
      #000 36%,
      #000 37%,
      #c3942f 47%,
      #000 63%,
      #000 87%,
      #000 85%,
      #c99c30 100%
    );
  }
  .reviewContent {
    font-size: 15px;
  }
}
@media (max-width: 576px) {
  .new-testimonial-section{
    padding: 25px 0px 0px !important;
  }
  .testimonial-slide{
    padding: 20px 15px 10px;
  }
  .testimonial-vector-img {
    top: 50%;
  }
  .testimonial_subcontent {
    width: 100%;
    font-size: 14px;
  }
  .reviewContent {
    height: 320px;
  }
  .myswiper .swiper-slide-active .reviewContent {
    height: 320px;
  }
  .border-frame {
    width: 98%;
    height: 88%;
    top: -8.4%;
    left: 0.2%;
    border-image-source: linear-gradient(
      128deg,
      #c3942e 1%,
      transparent 13%,
      transparent 36%,
      transparent 37%,
      #c3942f 47%,
      transparent 63%,
      transparent 87%,
      transparent 85%,
      #c99c30 100%
    );
    /* border-image-source: linear-gradient(128deg, #C3942E 1%, #000 13%, #000 36%, #000 37%, #c3942f 47%, #000 63%, #000 87%, #000 85%, #c99c30 100%); */
  }
}
/* @media (max-width: 500px) {
  .reviewContent {
    height: 168px;
  }
} */
/* ---------------------- find section -------------------- */
.find-section {
  background-color: #000;
  padding: 50px 0;
}
.find-section-title {
  line-height: 25px;
  text-align: center !important;
}
.find-section-description {
  padding: 0px 61px;
}
/* search bar section */
.searchbar-box-wrapper1 {
  height: 50px;
  background-color: rgba(247, 245, 240, 1);
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 22px 15px;
  position: relative;
}
.searchbar-box-wrapper1 i {
  color: #222;
  padding: 5px 10px 5px 0px;
  display: flex;
  border-right: 1px solid rgba(177, 177, 177, 1);
}
.searchbar-box-wrapper1 input,
.searchbar-box-wrapper1 select {
  flex: 1;
  height: 20px;
  background-color: transparent;
  color: #212529 !important;
  border: none;
  outline: none;
  font-size: 15px;
  padding: 0px 7px 0px 10px;
}
.searchbar-box-wrapper1 input:focus,
.searchbar-box-wrapper1 select:focus {
  background-color: transparent !important;
  box-shadow: none !important;
}
.searchbar-box-wrapper1 select option {
  background-color: rgba(247, 245, 240, 1);
  color: #222;
}
.searchbar-box-wrapper1 select option:checked,
.searchbar-box-wrapper1 select option:active,
.searchbar-box-wrapper1 select option:hover {
  background-color: #fff !important;
  color: #222 !important;
}
.searchbar-box-wrapper1 img {
  color: #777;
  border-right: 1px solid rgba(177, 177, 177, 1);
  padding: 2px 9px 2px 0px;
  width: 6%;
}
@media (max-width: 991px) {
  .searchbar-box-wrapper1 img {
    width: 8.3%;
  }
}
@media (max-width: 768px) {
  .find-section-subtitle {
    font-size: 35px;
    line-height: 40px;
  }
  .find-section-description {
    padding: 0px;
  }
  .searchbar-box-wrapper1 img {
    width: 5.5%;
  }
}
@media (max-width: 576px) {
  .find-section-subtitle {
    font-size: 35px;
    line-height: 40px;
  }
  .find-section-description {
    font-size: 14px !important;
    line-height: 24px !important;
  }
  .searchbar-box-wrapper1 img {
    width: 6.5%;
  }
}
@media (max-width: 500px) {
  .searchbar-box-wrapper1 i {
    padding: 5px 8px 5px 0px;
  }
  .searchbar-box-wrapper1 img {
    width: 7.5%;
  }
}

/*------------------------------ usd studio section ----------------------------- */
body {
  --framer-aspect-ratio-supported: auto;
}
.usd-studio-section {
  height: 800px;
  position: relative;
}
.usd-title-wrapper {
  display: flex;
  margin: auto;
  justify-content: center;
  position: relative;
  /* width:15%; */
}
.usd-title-img {
  width: 31%;
  position: relative;
  z-index: 2;
  margin-left: -10%;
}
.usd-left-title-img {
  position: absolute;
  z-index: 1;
  left: 28%;
  top: 15%;
}
.usd-right-title-img {
  position: absolute;
  z-index: 1;
  right: 30.5%;
  top: 14%;
}
.usd-floating-images {
  width: 100%;
  height: 250px;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 18%;
}
.usd-floating-images .container {
  margin: 0px 5%;
}
.usd-img-wrapper {
  flex: none;
  position: absolute;
  border-radius: 11px;
  transform: translate(-50%, -50%);
  text-decoration: none;
  /* position: relative; */
  /* margin-top: 15%; */
}
.usd-img-wrapper img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  object-position: center;
  object-fit: cover;
}
.usd-img-wrapper:nth-child(1) .usd-bg-shadow {
  aspect-ratio: 1.0666666666666667 / 1;
  background: linear-gradient(269.9999984327143deg, #0000, #0d080f);
  border-radius: 11px;
  flex: none;
  height: 150px;
  left: 48%;
  position: absolute;
  text-decoration: none;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 2;
}
.usd-img-wrapper:nth-child(1) {
  aspect-ratio: 1 / 1;
  height: var(--framer-aspect-ratio-supported, 106px);
  left: 30%;
  overflow: hidden;
  top: 41%;
  width: 8.5%;
}
.usd-img-wrapper:nth-child(2) {
  aspect-ratio: 0.6338797814207651 / 1;
  height: var(--framer-aspect-ratio-supported, 183px);
  left: 40%;
  overflow: visible;
  top: 40%;
  width: 9.9%;
}
.usd-img-wrapper:nth-child(3) {
  aspect-ratio: 0.6325301204819277 / 1;
  height: var(--framer-aspect-ratio-supported, 166px);
  left: 50%;
  top: 38%;
  width: 9%;
}
.usd-img-wrapper:nth-child(4) {
  aspect-ratio: 0.6284153005464481 / 1;
  height: var(--framer-aspect-ratio-supported, 183px);
  left: 60%;
  overflow: visible;
  top: 39%;
  width: 9.91%;
}
.usd-img-wrapper:nth-child(5) {
  /* aspect-ratio: 1.0740740740740742 / 1; */
  aspect-ratio: 0.9936708710047873 / 1;
  height: var(--framer-aspect-ratio-supported, 108px);
  left: 69%;
  overflow: hidden;
  top: 46%;
  width: 9.1%;
}
.usd-img-wrapper:nth-child(6) {
  aspect-ratio: 0.5737704918032787 / 1;
  height: var(--framer-aspect-ratio-supported, 183px);
  left: 30%;
  overflow: hidden;
  top: 109%;
  width: 9%;
}
.usd-img-wrapper:nth-child(6) .usd-bg-shadow {
  aspect-ratio: 0.5492349726775956 / 1;
  background: linear-gradient(269.9999984327143deg, #0000, #0d080f);
  border-radius: 11px;
  flex: none;
  height: var(--framer-aspect-ratio-supported, 183px);
  left: 49%;
  position: absolute;
  top: 49%;
  transform: translate(-50%, -50%);
  width: 99%;
  z-index: 2;
}
.usd-img-wrapper:nth-child(7) {
  aspect-ratio: 1 / 1;
  height: var(--framer-aspect-ratio-supported, 103px);
  left: 40%;
  top: 111%;
  width: 9%;
}
.usd-img-wrapper:nth-child(8) {
  aspect-ratio: 1 / 1;
  height: var(--framer-aspect-ratio-supported, 103px);
  left: 50%;
  overflow: visible;
  top: 105%;
  width: 9%;
}
.usd-img-wrapper:nth-child(9) {
  aspect-ratio: 0.7954545454545454 / 1;
  height: var(--framer-aspect-ratio-supported, 132px);
  left: 60%;
  top: 111%;
  width: 9%;
}
.usd-img-wrapper:nth-child(10) {
  aspect-ratio: 0.5769230769230769 / 1;
  height: var(--framer-aspect-ratio-supported, 182px);
  left: 70%;
  overflow: visible;
  top: 110%;
  width: 9%;
}

/* ultimate smile studio */
.usd_shadow_1cu {
  aspect-ratio: 1.003076923076923 / 1;
  flex: none;
  height: var(--framer-aspect-ratio-supported, 379px);
  left: 51%;
  overflow: hidden;
  position: absolute;
  top: 45px;
  transform: translate(-50%);
  width: 32%;
}
.usd_shadow_1mt {
  aspect-ratio: 0.923728813559322 / 1;
  flex: none;
  height: var(--framer-aspect-ratio-supported, 118px);
  left: 22%;
  position: absolute;
  top: 30%;
  transform: translate(-50%, -50%);
  width: 29%;
}
.usd_shadow_199 {
  aspect-ratio: 0.3546511627906977 / 1;
  flex: none;
  height: var(--framer-aspect-ratio-supported, 172px);
  left: 28%;
  position: absolute;
  top: 42%;
  transform: translate(-50%, -50%);
  width: 16%;
}
.usd_shadow_frm {
  aspect-ratio: 0.40540540540540543 / 1;
  flex: none;
  height: var(--framer-aspect-ratio-supported, 185px);
  left: 65%;
  position: absolute;
  top: 52%;
  transform: translate(-50%, -50%);
  width: 20%;
}
.usd_shadow_16e {
  aspect-ratio: 0.3355263157894737 / 1;
  flex: none;
  height: var(--framer-aspect-ratio-supported, 304px);
  left: 69%;
  position: absolute;
  top: 60%;
  transform: translate(-50%, -50%);
  width: 27%;
}
.usd_shadow_1n9 {
  aspect-ratio: 0.75 / 1;
  flex: none;
  height: var(--framer-aspect-ratio-supported, 184px);
  left: 74%;
  position: absolute;
  top: 39%;
  transform: translate(-50%, -50%);
  width: 37%;
}
.usd_shadow_8g9 {
  aspect-ratio: 0.40540540540540543 / 1;
  flex: none;
  height: var(--framer-aspect-ratio-supported, 185px);
  left: 26%;
  position: absolute;
  top: 52%;
  transform: translate(-50%, -50%);
  width: 20%;
}
.usd_shadow_oal2 {
  aspect-ratio: 1.019047619047619 / 1;
  flex: none;
  height: var(--framer-aspect-ratio-supported, 107px);
  left: 47%;
  position: absolute;
  text-decoration: none;
  top: 19%;
  transform: translate(-50%, -50%);
  width: 29%;
}
.usd_shadow_svg_container svg {
  display: block;
}
@media (max-width: 1200px) {
  .usd-img-wrapper:nth-child(10) {
    top: 107%;
  }
  .usd-img-wrapper:nth-child(9),
  .usd-img-wrapper:nth-child(7) {
    top: 107%;
  }
  .usd-img-wrapper:nth-child(8) {
    top: 98%;
  }
  .usd-img-wrapper:nth-child(6) {
    top: 103%;
  }
}
@media (max-width: 991px) {
  .usd-floating-images {
    margin-top: 16.5%;
  }
  .usd-studio-section {
    height: 520px;
  }
  .usd-img-wrapper:nth-child(6) {
    top: 93%;
  }
  .usd-img-wrapper:nth-child(9),
  .usd-img-wrapper:nth-child(7) {
    top: 96%;
  }
  .usd-img-wrapper:nth-child(8) {
    top: 91%;
  }
  .usd-img-wrapper:nth-child(10) {
    top: 103%;
  }
}
@media (max-width: 768px) {
  .usd-floating-images {
    margin-top: 8.5%;
  }
  .usd-studio-section {
    height: 350px;
  }
  .usd_shadow_1cu {
    top: 0px;
  }
  .usd-img-wrapper:nth-child(6) {
    top: 82%;
  }
  .usd-img-wrapper:nth-child(9),
  .usd-img-wrapper:nth-child(7) {
    top: 84%;
  }
  .usd-img-wrapper:nth-child(8) {
    top: 77%;
  }
  .usd-img-wrapper:nth-child(10) {
    top: 92%;
  }
}
@media (max-width: 576px) {
  .usd-floating-images {
    margin-top: 5%;
  }
  .usd-studio-section {
    height: 280px;
  }
  .usd-img-wrapper:nth-child(5) {
    top: 44%;
  }
  .usd-img-wrapper:nth-child(6) {
    top: 70%;
  }
  .usd-img-wrapper:nth-child(9),
  .usd-img-wrapper:nth-child(7) {
    top: 72%;
  }
  .usd-img-wrapper:nth-child(8) {
    top: 67%;
  }
  .usd-img-wrapper:nth-child(10) {
    top: 77%;
  }
}
@media (max-width: 480px) {
  .usd-floating-images {
    margin-top: 9%;
  }
  .usd-studio-section {
    height: 300px;
  }
  .usd_shadow_1cu {
    width: 50%;
  }
  .usd-img-wrapper:nth-child(1) {
    width: 12.5%;
    left: 19.5%;
  }
  .usd-img-wrapper:nth-child(1) .usd-bg-shadow {
    height: 56px;
    left: 42%;
  }
  .usd-img-wrapper:nth-child(2) {
    width: 14.9%;
    left: 34%;
  }
  .usd-img-wrapper:nth-child(3) {
    width: 13%;
    left: 49.5%;
  }
  .usd-img-wrapper:nth-child(4) {
    width: 15%;
    left: 64.5%;
  }
  .usd-img-wrapper:nth-child(5) {
    width: 12.1%;
    left: 79%;
    top: 40%;
  }
  .usd-img-wrapper:nth-child(6),
  .usd-img-wrapper:nth-child(7),
  .usd-img-wrapper:nth-child(8),
  .usd-img-wrapper:nth-child(9),
  .usd-img-wrapper:nth-child(10) {
    width: 10%;
  }
  .usd-img-wrapper:nth-child(6) {
    left: 19.5%;
    width: 12.5%;
    top: 72%;
  }
  .usd-img-wrapper:nth-child(7) {
    left: 34%;
    width: 11.5%;
  }
  .usd-img-wrapper:nth-child(8) {
    left: 49.5%;
    width: 13.5%;
    top: 69%;
  }
  .usd-img-wrapper:nth-child(9) {
    left: 65%;
    width: 12%;
    top: 74%;
  }
  .usd-img-wrapper:nth-child(10) {
    left: 79%;
    width: 12.1%;
    top: 72%;
  }
}
