@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Dosis:wght@200..800&family=Gilda+Display&family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap");

.working-section {
  background-color: rgba(248, 245, 240, 1) !important;
  padding: 50px 0 40px;
  margin: 0px auto;
}
.working_title {
  /* background: linear-gradient(
      50deg,
      rgb(220, 173, 129) 0%,
      rgb(216, 169, 124) 1.5%,
      rgb(255, 210, 164) 5%,
      rgb(216, 169, 124) 8%,
      rgb(220, 173, 129) 51%
    )
    text !important;
  color: transparent !important;
  font-family: "Barlow Condensed", serif;
  font-size: 24px;
  font-weight: 600; */
  line-height: 38.4px;
  letter-spacing: 0.03em;
  text-align: left;
  position: relative;
}

/* .schedule-data-title::after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 0;
  top: 35px;
  bottom: 0;
  height: 12px;
  width: 100%;
  background-image: url("../paint-line1.svg");
  background-repeat: no-repeat;
} */
.working_subtitle {
  /* color: rgba(0, 0, 0, 1);
  font-size: 38px;
  font-weight: 400;
  font-family: "Gilda Display", serif;
  line-height: 64.4px; */
  margin-top: -14px;
  margin-bottom: 5px !important;
}
.working-main-wrapper {
  border: 3px solid #000;
  border-radius: 22px;
  background-color: transparent;
  height: 378px;
}
.working-main-content {
  margin: 35px auto;
}
.working-main-content .col-lg-4:nth-child(1) .working-main-wrapper {
  border: 3px solid;
  border-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #d4a87d) 1;
  border-radius: 20px;
  background: #f9f5f0;
}
.working-main-content .col-lg-4:nth-child(2) .working-main-wrapper {
  border: 3px solid transparent;
  border-radius: 20px;
  background: linear-gradient(#f9f5f0, #f9f5f0) padding-box,
    linear-gradient(to top, rgba(255, 255, 255, 0), #d4a87d) border-box;
}
.working-main-content .col-lg-4:nth-child(1) .working-main-wrapper,
.working-main-content .col-lg-4:nth-child(3) .working-main-wrapper {
  border: 3px solid transparent;
  background: linear-gradient(#f9f5f0, #f9f5f0) padding-box,
    linear-gradient(to bottom, rgba(255, 255, 255, 0), #d4a87d) border-box;
  border-radius: 20px;
}
.location-icon {
  background-color: #fff;
  padding: 23px;
  border-radius: 50%;
  width: 90px;
}
.working-main-title {
  background: linear-gradient(
      259.34deg,
      #dcad81 0%,
      #d8a97c 25%,
      #ffd2a4 50%,
      #d8a97c 75%,
      #dcad81 100%
    )
    text !important;
  color: transparent !important;
  font-family: "Gilda Display", serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 28.25px;
  letter-spacing: 0.03em;
  text-align: center;
}

.working-main-description {
  color: rgba(102, 102, 102, 1);
  font-size: 16px;
  font-family: "Barlow", sans-serif;
  line-height: 28.8px;
  text-align: center;
  font-weight: 600;
}
/* dentists section */
.dentists-section {
  background-color: rgba(34, 34, 34, 1);
  padding: 50px 0px;
}
/* .dentists_title {
  background: linear-gradient(
      50deg,
      rgb(220, 173, 129) 0%,
      rgb(216, 169, 124) 1.5%,
      rgb(255, 210, 164) 5%,
      rgb(216, 169, 124) 8%,
      rgb(220, 173, 129) 51%
    )
    text !important;
  color: transparent;
  font-family: "Barlow Condensed", serif;
  font-size: 24px;
  font-weight: 600;
  position: relative;
} */
/* .dentists_title::after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 0px;
  top: 35px;
  bottom: 0;
  height: 12px;
  width: 100%;
  background-image: url("../paint-line1.svg");
  background-repeat: no-repeat;
} */
.dentists_subtitle {
  color: #fff !important;
  /* font-size: 36px;
  font-weight: 400;
  font-family: "Gilda Display", serif;
  line-height: 64.4px; */
  /* margin-top: 15px; */
}
/* .dentists-content-1 {
  gap: 112px;
} */
.dentists-content-1 p {
  font-family: "Barlow", sans-serif;
  font-size: 17px;
  font-weight: 600;
  line-height: 28.8px;
  color: #fff;
  width: 58%;
}

/* new dropdown menu */
.dentists-content-1 .form-select{
  background-color: rgba(45, 45, 45, 1) !important;
  border-radius: 15px;
  width:100%;
  padding: 0.4rem 1.1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none !important;
  color:#fff !important;
  margin-left: auto;
  /* background-image: none; */
}
.dentists-content-1 .form-select::before{
  content:"\f078";
  position: absolute;
  z-index: 1;
  top: 0%;
  font-family: "Font Awesome 6 Free";
  color: #fff;
}
/* end new dropdown menu */

.dentists-content-1 .dropdown .btn {
  background-color: rgba(45, 45, 45, 1) !important;
  border-radius: 15px;
  width: 180px;
  padding: 0.4rem 1.1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none !important;
}
.dentists-content-1 .dropdown .dropdown-toggle::after {
  display: none !important;
}
.dentists-content-1 .dropdown i {
  font-size: 12px;
  padding: 12px 1px;
}
.dentists-content-1 .dropdown-menu {
  width: 100%;
  background-color: rgba(45, 45, 45, 1) !important;
  margin-top: 5px !important;
  border-radius: 12px;
  z-index: 1;
}
.dentists-content-1 .dropdown-menu li a {
  color: #fff !important;
}
.dentists-content-1 .dropdown-menu li:focus a,
.dentists-content-1 .dropdown-menu li:hover a {
  color: rgba(45, 45, 45, 1) !important;
}
.dentists-content-2 {
  margin-bottom: 15px;
}
.dentists-content {
  padding: 25px;
  background-color: rgba(45, 45, 45, 1);
  border-radius: 25px;
}
.dentists-content img{
  width:300px;
  height: 250px;
  border-radius: 18px;
  display: flex;
  margin: auto;
}
.dentists-content-title {
  font-family: "Barlow", sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 36px;
  color: #fff;
}
.dentists-content .card-body p {
  color: #fff;
  font-weight: 500;
  font-family: "Barlow", sans-serif;
}
.btn-appointment {
  background: linear-gradient(
    259.34deg,
    #dcad81 0%,
    #d8a97c 25%,
    #ffd2a4 50%,
    #d8a97c 75%,
    #dcad81 100%
  ) !important;
  border-radius: 15px;
  font-weight: 600;
  padding: 12px 0.75rem;
}
.btn-appointment a{
  color: #000;
}
.dentists-content span{
  font-family: "Barlow", sans-serif;
  font-style: italic;
  font-size: 12px;
  color: #08a300;
  margin-bottom: 0px;
  font-weight: 500;
  text-align: end;
  position: relative;
  display: block;
}
.dentists-load-wrapper {
  margin-top: 35px;
}

@media (max-width: 768px) {
  .contnent-1-txt {
    width: 100%;
  }
}
/* schedule section */
.schedule-data-section {
  background-color: rgba(34, 34, 34, 1);
  padding: 50px 0px;
}
.schedule-data-section .row{
  margin: 25px auto 30px;
}
.schedule-data-title {
  /* background: linear-gradient(
      50deg,
      rgb(220, 173, 129) 0%,
      rgb(216, 169, 124) 4%,
      rgb(255, 210, 164) 14%,
      rgb(216, 169, 124) 20%,
      rgb(220, 173, 129) 51%
    )
    text !important;
  color: transparent !important;
  font-family: "Barlow Condensed", serif;
  font-size: 24px;
  font-weight: 600; */
  letter-spacing: 0.03em;
}
.schedule-data-subtitle {
  /* font-family: "Gilda Display", serif;
  font-weight: 400;
  font-size: 38px; */
  line-height: 56px !important;
  color: #fff !important;
}
.schedule-data-content h1 img{
  height: 8px !important;
  width: 80px !important;
  position: relative;
}
.schedule-data-content p {
  font-family: "Barlow", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #fff;
  margin-top: 15px;
  margin-bottom: 40px;
}
.schedule-data-content-2 p {
  padding-bottom: 15px;
  font-size: 16px;
}
.schedule-data-link {
  background-color: rgba(26, 26, 26, 1);
  padding: 12px 0px;
  border-radius: 25px;
}
.schedule-data-link div img {
  width: 25%;
}
.schedule-data-link h3,
.bg-schedule h3 {
  font-family: "Gilda Display", serif;
  font-size: 32px;
  font-weight: 400;
  background: linear-gradient(
      259.34deg,
      #dcad81 0%,
      #d8a97c 25%,
      #ffd2a4 50%,
      #d8a97c 75%,
      #dcad81 100%
    )
    text;
  color: transparent;
  text-align: center;
  letter-spacing: 0.03em;
}

.bg-schedule {
  background-image: url("../bg-schedule.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 38%;
  height: 34%;
  right: 12px;
  top: 66%;
  position: absolute;
  z-index: 1;
  border-radius: 15px;
  padding: 15px 0px;
}
.schedule-data-icon {
  width: 30%;
  left: -4px;
  position: relative;
}
.bg-schedule p {
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.03em;
  text-align: center;
}
.schedule-data-content-2 .col-sm-5:last-child {
  margin-top: 50px !important;
  width: 38%;
}
.btn-call {
  background-color: rgba(26, 26, 26, 1);
  color: #fff;
  border-radius: 20px;
  width: 100%;
  font-family: "Barlow", sans-serif;
  font-size: 20px;
  font-weight: 700;
  padding: 0.5rem 0.98rem;
}
.btn-call b {
  background: linear-gradient(
      259.34deg,
      #dcad81 0%,
      #d8a97c 25%,
      #ffd2a4 50%,
      #d8a97c 75%,
      #dcad81 100%
    )
    text !important;
  color: transparent !important;
}
.schedule-data-content-2 .callus-btn-wrapper i {
  background-color: #000;
  color: #fff;
  padding: 18px;
  border-radius: 50%;
  transform: rotate(-40deg);
  font-size: 20px;
}
.schedule-data-content-2 .callus-btn-wrapper i::before {
  background: linear-gradient(
      259.34deg,
      #dcad81 0%,
      #d8a97c 25%,
      #ffd2a4 50%,
      #d8a97c 75%,
      #dcad81 100%
    )
    text !important;
  color: transparent !important;
}
.arrow-icon {
  padding: 15px;
  background-color: #000;
}
/* find section */
.find-section {
  background-color: #fff;
  padding: 50px 0;
}
.find-section-title {
  /* background: linear-gradient(
      50deg,
      rgb(220, 173, 129) 0%,
      rgb(216, 169, 124) 4%,
      rgb(255, 210, 164) 14%,
      rgb(216, 169, 124) 20%,
      rgb(220, 173, 129) 51%
    )
    text !important;
  color: transparent !important;
  font-size: 20px;
  font-weight: 600;
  font-family: "Barlow Condensed", serif; */
  line-height: 25px;
  
}
.text_vec_gallery{
  height: 5px;
  width: 40px;
  display: flex;
  margin: 0px auto 15px;
}
.find-section-subtitle {
  color: #000;
  font-family: "Gilda Display", serif;
  font-weight: 400;
  font-size: 38px;
  line-height: 45px;
}
.find-section-description {
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  color: rgba(102, 102, 102, 1);
  padding: 0px 61px;
}
.aon-inputicon-box .form-control{
  border: none;
  border-radius: 15px;
}

.aon-inputicon-box .form-select {
  border: none;
  height: 50px;
  font-size: 16px;
  line-height: 20px;
  /* padding: 10px 12px; */
  border-radius: 15px;
  background-color: rgba(247, 245, 240, 1);
}
.aon-inputicon-box .form-select option:hover{
  background-color: #000 !important;
}
.aon-inputicon-box .form-select:focus{
  border-color: #86b7fe;
  outline: 0;
  box-shadow: none !important;
}
.aon-inputicon-box img{
  padding: 13px;
  margin-left: 8px !important;
}
.aon-inputicon-box img::after{
  content: "";
  position: absolute;
  top: 30%;
  right: 0px;
  height: 40%;
  width: 1px;
  background: #ddd;
}
.site-button{
  color:#fff !important;
}
/* .searchbar-inputicon-box{
  width:450px;
  height:40px;
  background-color: rgb(211 224 231 / 64%);
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding: 20px;
} */

.schedule-data-content .text_vec2{
  height: 10px !important;
  width: 105px !important;
  position: relative;
}
.text_vec2{
  height: 8px;
  width: 80px;
  margin-bottom: 20px;
  position: relative;
}
@media (min-width: 576px) {
  .working-section .row {
    --bs-gutter-x: 1.1rem !important;
  }
  /* dentists section */
  .dentists-content-2 {
    margin-top: 2.3rem !important;
  }
  .aon-inputicon-box .form-select{
    font-size: 14px;
  }
  .aon-inputicon-box .form-control{
    font-size: 14px !important;
  }
}
@media (max-width: 1200px) {
  .working_subtitle{
    font-size: 35px;
    line-height: normal;
  }
  .working-main-wrapper {
    height: 420px;
  }
  .dentists-content {
    border-radius: 35px;
    padding: 20px;
  }
  .dentists-content-title {
    font-size: 20px;
  }
  .dentists-content-1 {
    gap: 50px;
  }
  /* schedule section */
  .bg-schedule {
    top: 64.5%;
    width: 43%;
    height: auto;
    right: 0px;
  }
  .schedule-data-subtitle {
    font-size: 36px;
    line-height: 50px;
  }
  .schedule-data-content p {
    font-size: 14px;
    margin-bottom: 30px;
  }
  .btn-call {
    padding: 0.5rem 0.75rem;
  }
  .schedule-data-content-2 .col-sm-5:last-child {
    margin-top: 30px !important;
    padding: 0.5rem 0.75rem;
  }
  .btn-call b {
    font-size: 18px;
  }
  .schedule-data-content-2 .callus-btn-wrapper i {
    padding: 15px;
  }
}
@media (max-width: 1024px) {
  .bg-schedule {
    top: 62%;
  }
}
@media (max-width: 1014px) {
  .bg-schedule {
    top: 58%;
    width: 38%;
    right: 8px;
  }
}
@media (max-width: 991px) {
  .working-main-content{
    margin: 18px auto;
  }
  .working-main-content .col-sm-10{
    margin-bottom: 10px;
  }
  .working-main-content .col-sm-5:last-child {
    margin-top: 15px;
  }
  .working-main-wrapper {
    height: 360px;
  }
  .working-main-title {
    font-size: 18px;
  }
  .working-main-description {
    font-size: 14px;
    line-height: 24px;
  }
  .location-icon {
    width: 80px;
    padding: 20px;
  }
  /* dentist section */
  .dentists-content-1 {
    gap: 0px;
  }
  .dentists-content-1 p{
    width:64%;
  }
  .dentists-content-1 .form{
    width: 30% !important;
  }
  .dentists-content-1 .dropdown .btn {
    width: 150px;
  }
  .dentists-content-2 .col-11:nth-child(3){
    display: none !important;
  }

  /* schedule section */
  .schedule-data-icon {
    left: -1px;
  }
  .schedule-data-subtitle {
    font-size: 27px;
    line-height: 40px;
    margin-top: 0px;
  }
  
  .schedule-data-content p {
    margin-bottom: 0px;
    font-size: 12px;
  }
  .bg-schedule {
    top: 58%;
    width: 36.5%;
    right: 10px;
  }
  .schedule-data-link h3,
  .bg-schedule h3 {
    font-size: 28px;
  }
  .schedule-data-content-2 .col-sm-5:last-child {
    margin-top: 20px !important;
    width: 45%;
  }
  .schedule-data-content-2 .callus-btn-wrapper i {
    padding: 10px;
  }
  .btn-call {
    border-radius: 12px;
  }
  .schedule-data-link {
    border-radius: 15px;
  }
  .text_vec2{
    height: auto !important;
    width: 80px !important;
    margin-bottom: 18px !important;
    left:0%;
  }
  /* find section */
  .find-section .row .col-md-6{
    margin-bottom: 15px;
  }

}
@media (max-width: 767px) {
  .working-main-wrapper {
    height: 340px;
  }
  .location-icon {
    width: 70px;
    padding: 20px;
  }
  .working-main-title {
    font-size: 20px;
  }
  .working-main-description {
    font-size: 16px;
    line-height: 28.8px;
  }
  .working-main-content {
    gap: 25px;
    margin: 30px auto;
  }
  .working-main-content .col-sm-5:last-child {
    margin-top: 0px !important;
  }
  .working-main-content .col-lg-4:nth-child(1) .working-main-wrapper,
  .working-main-content .col-lg-4:nth-child(3) .working-main-wrapper,
  .working-main-content .col-lg-4:nth-child(2) .working-main-wrapper {
    background: linear-gradient(#f9f5f0, #f9f5f0) padding-box,
      linear-gradient(
          259.34deg,
          #dcad81 0%,
          #d8a97c 25%,
          #ffd2a4 50%,
          #d8a97c 75%,
          #dcad81 100%
        )
        border-box;
  }
  /* .working-main-content .col-lg-4:nth-child(3) .working-main-wrapper {
    background: linear-gradient(#f9f5f0, #f9f5f0) padding-box,
      linear-gradient(to top, rgba(255, 255, 255, 0), #d4a87d) border-box;
  } */
  .working_title,
  .dentists_title {
    font-size: 22px;
  }
  .working_subtitle,
  .dentists_subtitle {
    font-size: 36px;
  }

  /* dentist section */
  .dentists_subtitle {
    line-height: normal;
    /* margin-top: 18px; */
    margin-bottom: 21px;
  }
  .dentists-content-1 {
    flex-direction: column !important;
    gap: 20px;
  }
  .dentists-content-1 .dropdown,
  .dentists-content-1 .dropdown .btn {
    width: 100%;
  }
  .dentists-content-1 p {
    font-size: 15px;
    line-height: 25px;
    width: 100%;
  }
  .dentists-content-1 .form{
    width: 100% !important;
  }
  .dentists-content-2 {
    gap: 25px;
  }
  .dentists-content {
    border-radius: 40px;
  }
  /* schedule section */
  .schedule-data-section{
    padding: 40px 0px 35px;
  }
  .schedule-data-section .row{
    margin: 0px auto;
  }
  .schedule-data-content-img1 {
    display: none;
  }
  .schedule-data-subtitle {
    font-size: 35px;
  }
  .schedule-data-content-2 {
    justify-content: center;
  }
  .schedule-data-content-2 .col-sm-5:last-child {
    margin-top: 0px !important;
  }
  .schedule-data-content-2 .col-sm-6 {
    margin-bottom: 22px;
  }
  .btn-call {
    background: linear-gradient(
      259.34deg,
      #dcad81 0%,
      #d8a97c 25%,
      #ffd2a4 50%,
      #d8a97c 75%,
      #dcad81 100%
    ) !important;
    border-radius: 15px;
    margin: 15px auto;
  }
  .btn-call b {
    color: #000 !important;
  }
  .schedule-data-content-2 .callus-btn-wrapper i {
    padding: 13px;
  }
  .schedule-data-content p {
    font-size: 14px;
    margin-bottom: 10px;
  }
  /* find section */
  .find-section-subtitle{
    font-size: 35px;
    line-height: 40px;
  }
  .find-section-description{
    font-size: 16px;
    padding: 0px;
  }
  .aon-search2-form.no-p-lr{
    padding: 15px 0 !important;
  }
  .text_vec2{
    /* height: 100% !important; */
    width: 74px !important;
    margin-bottom: 18px !important;
    position: relative;
    left:0%;
  }
}
@media (max-width: 576px) {
  .working-main-wrapper {
    height: 330px;
  }
  .working_title{
    margin-bottom: 0px ;
  }
  .working_title,
  .dentists_title {
    font-size: 20px;
  }
  .working_subtitle,
  .dentists_subtitle {
    font-size: 28px;
    line-height: 40px;
  }
  .working-main-title {
    font-size: 18px;
  }
  .working-main-description {
    font-size: 14px;
    line-height: 24px;
  }
  .location-icon {
    width: 60px;
    padding: 16px;
  }
  .working-main-content {
    margin: 25px auto;
  }
  /* dentists section */
  .dentists_subtitle {
    /* margin-top:12px; */
    margin-bottom: 10px;
  }
  .dentists-content .card-body p {
    font-size: 14px;
  }
  .dentists-content-2 {
    margin-top: 2rem !important;
  }
  .dentists-load-wrapper{
    margin-top: 10px;
  }
  .dentists-content {
    border-radius: 30px;
    padding: 22px;
  }
  /* schedule data section */
  .schedule-data-section{
    padding: 40px 0px;
  }
  .schedule-data-section .row{
    margin: 5px auto 5px;
  }
  .schedule-data-subtitle {
    font-size: 24px;
  }
  .schedule-data-content .text_vec2{
    height: 8px !important;
    width: 90px !important;
    margin-bottom: 20px !important;
    position: relative;
  }
  .schedule-data-content-2 .callus-btn-wrapper {
    width: 50% !important;
  }
  .schedule-data-content-2 .callus-btn-wrapper i {
    padding: 8px;
  }
  .schedule-data-content-2{
    --bs-gutter-x: 1.3rem;
  }
  .btn-call {
    border-radius: 12px;
    margin: 5px auto;
  }
  .schedule-data-title{
    font-size: 20px;
  }
  /* find section */
  .find-section-subtitle{
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 0px;
  }
  .find-section-description{
    font-size: 14px;
    line-height: 24px;
  }
  .aon-search2-left{
    margin-bottom: 0px !important;
  }
  .text_vec2{
    /* height: 100% !important; */
    width: 76px !important;
    margin-bottom: 23px !important;
    position: relative;
    left:-1%;
  }
}
