@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Dosis:wght@200..800&family=Gilda+Display&family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap");

.working-section {
  /* background-color: rgba(248, 245, 240, 1) !important; */
  padding: 50px 0 40px;
  margin: 0px auto;
}
.working_title {
  display: inline-block;
  line-height: 38.4px;
  letter-spacing: 0.03em;
  position: relative;
}
.working_subtitle {
  margin-top: 10px;
  margin-bottom: 5px !important;
}
.working-main-wrapper {
  box-shadow: 2px 8px 15.7px rgba(255, 255, 255, 0.25);
  border-radius: 22px;
  background-color: transparent;
  height: 378px;
}
.card_1 {
  background-color: rgba(244,243,248,0.4);
  position: relative;
  overflow: hidden;
}
.card_2 {
  background-image: url("../process_img.svg");
  background-position: center;  
  background-repeat: no-repeat; 
  /* background-size: contain;  */
  width: 100%;
  height: 100%;
 
}
.card_3 {
  background-color: rgba(216,156,39,0.67);
  position: relative;
  overflow: hidden;
}
.smile_yellow {
  position: absolute;
  width: 200px;
  height: 177.78px;
  bottom: 10%;
  right: -15%;
}
.working-main-content {
  margin: 35px auto;
}
.location-icon {
  background-color: #fff;
  padding: 23px;
  border-radius: 50%;
  width: 90px;
}
.working-main-title {
  font-family:  "Barlow", sans-serif;
  font-size: 22px;
  font-weight: bold;
  line-height: 28.25px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #fff;
}

.working-main-description {
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  font-family: "Barlow", sans-serif;
  line-height: 28.8px;
  text-align: center;
  font-weight: 600;
}
/* dentists section */
.dentists-section {
  /* background-color: rgba(34, 34, 34, 1); */
  background-color: rgb(216, 156, 39,0.44);
  padding: 50px 0px;
}

.dentists_subtitle {
  color: #fff !important;
}
.dentists-content-1 p {
  font-family: "Barlow", sans-serif;
  font-size: 17px;
  font-weight: 600;
  line-height: 28.8px;
  color: #fff;
  width: 67%;
}

/* new dropdown menu */
.dentists-content-1 .form-select{
  background-color: rgba(45, 45, 45, 1) !important;
  border-radius: 15px;
  width:100%;
  padding: 0.4rem 1.1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none !important;
  color:#fff !important;
  margin-left: auto;
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/></svg>");
}
.dentists-content-1 .form-select:hover option{
  color: #fff;
}
.dentists-content-1 .form-select:focus{
  border-color: #fff !important;
  box-shadow: none;
}
.dentists-content-1 .form-select::before{
  content:"\f078";
  position: absolute;
  z-index: 1;
  top: 0%;
  font-family: "Font Awesome 6 Free";
  color: #fff;
}

/* end new dropdown menu */
.dentists-content-1 .dropdown .btn {
  background-color: rgba(45, 45, 45, 1) !important;
  border-radius: 15px;
  width: 180px;
  padding: 0.4rem 1.1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none !important;
}
.dentists-content-1 .dropdown .dropdown-toggle::after {
  display: none !important;
}
.dentists-content-1 .dropdown i {
  font-size: 12px;
  padding: 12px 1px;
}
.dentists-content-1 .dropdown-menu {
  width: 100%;
  background-color: rgba(45, 45, 45, 1) !important;
  margin-top: 5px !important;
  border-radius: 12px;
  z-index: 1;
}
.dentists-content-1 .dropdown-menu li a {
  color: #fff !important;
}
.dentists-content-1 .dropdown-menu li:focus a,
.dentists-content-1 .dropdown-menu li:hover a {
  color: rgba(45, 45, 45, 1) !important;
}
.dentists-content-2 {
  margin-bottom: 15px;
}
.dentists-content-2 .col-12{
  padding-left: 1.3rem !important;
  padding-right: 1.3rem !important;
}
.dentists-content {
  padding: 25px;
  background-color: rgba(45, 45, 45, 1);
  border-radius: 25px;
}
.dentists-content img{
  width:100%;
  height: 250px;
  border-radius: 18px;
  display: flex;
  margin: auto;
}
.dentists-content-title {
  font-family: "Barlow", sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 36px;
  color: #fff;
}
.dentists-content .card-body p {
  color: #fff;
  font-weight: 500;
  font-family: "Barlow", sans-serif;
}
.btn-appointment {
  background: linear-gradient(
    259.34deg,
    #dcad81 0%,
    #d8a97c 25%,
    #ffd2a4 50%,
    #d8a97c 75%,
    #dcad81 100%
  ) !important;
  border-radius: 15px;
  font-weight: 600;
  padding: 12px 0.75rem;
}
.btn-appointment a{
  color: #000;
}
.dentists-content span{
  font-family: "Barlow", sans-serif;
  font-style: italic;
  font-size: 12px;
  color: #08a300;
  margin-bottom: 0px;
  font-weight: 500;
  text-align: end;
  position: relative;
  display: block;
}
.dentists-load-wrapper {
  margin-top: 35px;
}

@media (max-width: 768px) {
  .contnent-1-txt {
    width: 100%;
  }
}
/* schedule section */
.schedule-data-section {
  background-color: rgba(34, 34, 34, 1);
  padding: 50px 0px;
  position: relative;
}
.vector3-img{
  position: absolute;
  z-index: 0;
  top:14%;
}
.schedule-data-section .row{
  margin: 25px auto 30px;
  z-index: 1;
  position: relative;
}
/* .schedule-data-content-2 .px-md-2{
  padding-left: .3rem !important;
  padding-right: .3rem !important;
} */
.schedule-data-title {
  letter-spacing: 0.03em;
}
.schedule-data-subtitle {
  line-height: 56px !important;
  color: #fff !important;
}
.schedule-data-content h1 img{
  height: 8px !important;
  width: 80px !important;
  position: relative;
}
.schedule-data-content p {
  font-family: "Barlow", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #fff;
  margin-top: 15px;
  margin-bottom: 40px;
}
.schedule-data-content-2 p {
  padding-bottom: 15px;
  font-size: 16px;
}
.schedule-data-link {
  background-color: rgba(26, 26, 26, 1);
  padding: 12px 0px;
  border-radius: 25px;
}
.schedule-data-link div img {
  width: 25%;
}
.schedule-data-link h3,
.bg-schedule h3 {
  font-family: "Gilda Display", serif;
  font-size: 32px;
  font-weight: 400;
  /* background: linear-gradient(
      259.34deg,
      #dcad81 0%,
      #d8a97c 25%,
      #ffd2a4 50%,
      #d8a97c 75%,
      #dcad81 100%
    )
    text; */
  color: #FBE9D0;
  text-align: center;
  letter-spacing: 0.03em;
}

.bg-schedule {
  background-image: url("../bg-schedule.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 38%;
  height: 34%;
  right: 12px;
  top: 66%;
  position: absolute;
  z-index: 1;
  border-radius: 15px;
  padding: 15px 0px;
}
.schedule-data-icon {
  width: 30%;
  left: -4px;
  position: relative;
}
.bg-schedule p {
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.03em;
  text-align: center;
}
.schedule-data-content-2 .col-sm-5:last-child {
  margin-top: 50px !important;
  width: 38%;
}
.btn-call {
  background-color: rgba(26, 26, 26, 1);
  color: #fff;
  border-radius: 20px;
  width: 100%;
  font-family: "Barlow", sans-serif;
  font-size: 20px;
  font-weight: 700;
  padding: 0.5rem 0.98rem;
}
.btn-call b {
  color: #000;
}
.schedule-data-content-2 .callus-btn-wrapper i {
  background-color: #000;
  color: #fff;
  padding: 18px;
  border-radius: 50%;
  transform: rotate(-40deg);
  font-size: 20px;
}
.schedule-data-content-2 .callus-btn-wrapper i::before {
  color:#FBE9D0;
}
.arrow-icon {
  padding: 15px;
  background-color: #000;
}
/* find section */
.find-section {
  background-color: #fff;
  padding: 50px 0;
}
.find-section-title {
  line-height: 25px;
}
.text_vec_gallery{
  height: 5px;
  width: 40px;
  display: flex;
  margin: 0px auto 15px;
}
.find-section-subtitle {
  color: #000;
  font-family: "Gilda Display", serif;
  font-weight: 400;
  font-size: 38px;
  line-height: 45px;
}
.find-section-description {
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  color: rgba(102, 102, 102, 1);
  padding: 0px 61px;
}
.aon-inputicon-box .form-control{
  border: none;
  border-radius: 15px;
}
.aon-inputicon-box .form-select {
  border: none;
  height: 50px;
  font-size: 16px;
  line-height: 20px;
  /* padding: 10px 12px; */
  border-radius: 15px;
  background-color: rgba(247, 245, 240, 1);
}
.aon-inputicon-box .form-select option:hover{
  background-color: #000 !important;
}
.aon-inputicon-box .form-select:focus{
  border-color: #86b7fe;
  outline: 0;
  box-shadow: none !important;
}
.aon-inputicon-box img{
  padding: 13px;
  margin-left: 8px !important;
}
.aon-inputicon-box img::after{
  content: "";
  position: absolute;
  top: 30%;
  right: 0px;
  height: 40%;
  width: 1px;
  background: #ddd;
}
.site-button{
  color:#fff !important;
}
.schedule-data-content .text_vec2{
  height: 10px !important;
  width: 105px !important;
  position: relative;
}
.text_vec2{
  height: 8px;
  width: 80px;
  margin-bottom: 20px;
  position: relative;
}

/* registration section */
.registration_section{
  margin: 0px auto;
}
.register_wrapper{
  background-color: #222222;
  border-radius: 30px;
  padding: 80px 0px 90px;
  /* display:block; */
}
.register_wrapper h2{
  text-align: center;
}

.register_wrapper h3{
  font-size:29px;
}
.register_wrapper p{
  position: absolute;
  z-index: 1;
  /* width:59%; */
  width:83.33%;
  padding-bottom: 0px;
  padding-top: 12px;
  font-size: 18px;
  text-align: center;
  color: #ffffff;
  font-weight: 500;
  /* left:20.5%; */
  left:8.5%;
  top:33%;
}
.register_wrapper img{
  position: relative;
}
.getInTouch-btn{
  border-radius: 10px;
  border: none;
  padding: .6rem 1.25rem;
  font-size: 15px;
}
.getInTouch-btn a{
  color: #000;
}
.vector1-img{
  position: absolute;
  z-index: -1;
  bottom: 20%;
}
.vector2-img{
  right: 0%;
  position: absolute;
  z-index: -1;
  top:12%;
}
@media(min-width:2800px){
  .register_wrapper p{
    width:90%;
    left:5%;
    top:37%;
  }
}
@media (min-width: 576px) {
  .working-section .row {
    --bs-gutter-x: 1.1rem !important;
  }
  /* dentists section */
  .dentists-content-2 {
    margin-top: 2.3rem !important;
  }
  .aon-inputicon-box .form-select{
    font-size: 14px;
  }
  .aon-inputicon-box .form-control{
    font-size: 14px !important;
  }
}
@media(min-width:992px){
  .dentists-content-2 .col-12{
   width:30%;
  }
}
@media (max-width: 1200px) {
  .working_subtitle{
    font-size: 35px;
    line-height: normal;
  }
  .working-main-wrapper {
    height: 420px;
  }
  .dentists-content {
    border-radius: 35px;
    padding: 20px;
  }
  .dentists-content-title {
    font-size: 20px;
  }
  .dentists-content img{
    height: 250px;
  }
  .dentists-content-1 {
    gap: 50px;
  }
  /* schedule section */
  .bg-schedule {
    top: 64.5%;
    width: 43%;
    height: auto;
    right: 0px;
  }
  .schedule-data-subtitle {
    font-size: 36px !important;
    line-height: 50px !important;
  }
  .schedule-data-content p {
    font-size: 14px;
    margin-bottom: 30px;
  }
  .btn-call {
    padding: 0.5rem 0.75rem;
  }
  .schedule-data-content-2 .col-sm-5:last-child {
    margin-top: 30px !important;
    padding: 0.5rem 0.75rem;
  }
  .btn-call b {
    font-size: 18px;
  }
  .schedule-data-content-2 .callus-btn-wrapper i {
    padding: 15px;
  }
  /* registration section */
  .register_wrapper h3{
    font-size:30px;
    line-height: 48px;
    margin-top: 15px;
  }
  .register_wrapper p{
    font-size: 14px;
  }
  .vector2-img{
    top:9%;
  }
}
@media (max-width: 1024px) {
  .bg-schedule {
    top: 62%;
  }
}
@media (max-width: 1014px) {
  .bg-schedule {
    top: 58%;
    width: 38%;
    right: 8px;
  }
}
@media (max-width: 991px) {
  .working-main-content{
    margin: 18px auto;
  }
  .working-main-content .col-sm-10{
    margin-bottom: 10px;
  }
  .working-main-content .col-sm-5:last-child {
    margin-top: 15px;
  }
  .working-main-wrapper {
    height: 360px;
  }
  .working-main-title {
    font-size: 18px;
  }
  .working-main-description {
    font-size: 14px;
    line-height: 24px;
  }
  .location-icon {
    width: 80px;
    padding: 20px;
  }
  /* dentist section */
  .dentists-content-1 {
    gap: 0px;
  }
  .dentists-content-1 p{
    width:64%;
  }
  .dentists-content-1 .form{
    width: 30% !important;
  }
  .dentists-content-1 .dropdown .btn {
    width: 150px;
  }
  .dentists-content-2 .col-11:nth-child(3){
    display: none !important;
  }

  /* schedule section */
  .schedule-data-icon {
    left: -1px;
  }
  .schedule-data-subtitle {
    font-size: 25px !important;
    line-height: 40px !important;
    margin-top: 0px;
  }
  .schedule-data-content p {
    margin-bottom: 0px;
    font-size: 12px;
  }
  .bg-schedule {
    top: 50%;
    width: 37%;
    right: 9px;
  }
  .schedule-data-link h3,
  .bg-schedule h3 {
    font-size: 28px;
  }
  .schedule-data-content-2 .col-sm-5:last-child {
    margin-top: 20px !important;
    width: 52%;
  }
  .schedule-data-content-2 .callus-btn-wrapper i {
    padding: 10px;
  }
  .btn-call {
    border-radius: 12px;
  }
  .schedule-data-link {
    border-radius: 15px;
  }
  .text_vec2{
    height: auto !important;
    width: 80px !important;
    margin-bottom: 18px !important;
    left:0%;
  }
  /* find section */
  .find-section .row .col-md-6{
    margin-bottom: 15px;
  }
  /* registraion section */
  .register_wrapper h3{
    font-size: 26px;
  }
  .register_wrapper p{
    font-size: 14px;
  }
  .register_wrapper img{
    height: 42%;
  }
  .register_wrapper{
    padding: 60px 0px 70px;
  }
}
@media (max-width: 767px) {
  .working-main-wrapper {
    height: 340px;
  }
  .location-icon {
    width: 70px;
    padding: 20px;
  }
  .working-main-title {
    font-size: 20px;
  }
  .working-main-description {
    font-size: 16px;
    line-height: 28.8px;
  }
  .working-main-content {
    gap: 25px;
    margin: 30px auto;
  }
  .working-main-content .col-sm-5:last-child {
    margin-top: 0px !important;
  }
  
  .working_title,
  .dentists_title {
    font-size: 22px;
  }
  .working_subtitle,
  .dentists_subtitle {
    font-size: 36px;
  }

  /* dentist section */
  .dentists_subtitle {
    line-height: normal;
    /* margin-top: 18px; */
    margin-bottom: 21px;
  }
  .dentists-content-1 {
    flex-direction: column !important;
    gap: 20px;
  }
  .dentists-content-1 .dropdown,
  .dentists-content-1 .dropdown .btn {
    width: 100%;
  }
  .dentists-content-1 p {
    font-size: 15px;
    line-height: 25px;
    width: 100%;
  }
  .dentists-content-1 .form{
    width: 100% !important;
  }
  .dentists-content-2 {
    gap: 25px;
  }
  .dentists-content {
    border-radius: 40px;
  }
  /* schedule section */
  .schedule-data-section{
    padding: 40px 0px 35px;
  }
  .schedule-data-section .row{
    margin: 0px auto;
  }
  .schedule-data-content-img1 {
    display: none;
  }
  .schedule-data-subtitle {
    font-size: 35px !important;
  }
  .schedule-data-content-2 {
    justify-content: center;
  }
  .schedule-data-content-2 .col-sm-5:last-child {
    margin-top: 0px !important;
  }
  .schedule-data-content-2 .col-sm-6 {
    margin-bottom: 22px;
  }
  .btn-call {
    /* background: linear-gradient(
      259.34deg,
      #dcad81 0%,
      #d8a97c 25%,
      #ffd2a4 50%,
      #d8a97c 75%,
      #dcad81 100%
    ) !important; */
    border-radius: 15px;
    margin: 15px auto;
  }
  /* .btn-call b {
    color: #000 !important;
  } */
  .schedule-data-content-2 .callus-btn-wrapper i {
    padding: 13px;
  }
  .schedule-data-content p {
    font-size: 14px;
    margin-bottom: 10px;
  }
  /* find section */
  .find-section-subtitle{
    font-size: 35px;
    line-height: 40px;
  }
  .find-section-description{
    font-size: 16px;
    padding: 0px;
  }
  .aon-search2-form.no-p-lr{
    padding: 15px 0 !important;
  }
  .text_vec2{
    /* height: 100% !important; */
    width: 74px !important;
    margin-bottom: 18px !important;
    position: relative;
    left:0%;
  }
  /* registraion section */
  .register_wrapper{
    padding: 45px 0px 95px;
  }
  .register_wrapper h3{
    font-size: 24px;
    line-height: 38px;
  }
  .register_wrapper p{
    width:60%;
    /* margin-bottom: 0px; */
  }
  .register_wrapper img{
    height:58%;
  }
}
@media (max-width: 576px) {
  .working-main-wrapper {
    height: 330px;
  }
  .working_title{
    margin-bottom: 0px;
    line-height: normal !important;
  }
  .working_title,
  .dentists_title {
    font-size: 20px;
  }
  .working_subtitle,
  .dentists_subtitle {
    font-size: 20px;
    line-height: 40px;
  }
  .working-main-title {
    font-size: 18px;
  }
  .working-main-description {
    font-size: 14px;
    line-height: 24px;
  }
  .location-icon {
    width: 60px;
    padding: 16px;
  }
  .working-main-content {
    margin: 25px auto;
  }
  /* dentists section */
  .dentists_subtitle {
    /* margin-top:12px; */
    margin-bottom: 10px;
    line-height: normal !important;
  }
  .dentists-content .card-body p {
    font-size: 14px;
  }
  .dentists-content-2 {
    margin-top: 2rem !important;
  }
  .dentists-load-wrapper{
    margin-top: 10px;
  }
  .dentists-content {
    border-radius: 30px;
    padding: 22px;
  }
  .vector2-img{
    top:7%;
    /* right: -10%; */
  }
  /* schedule data section */
  .schedule-data-section{
    padding: 40px 0px;
  }
  .schedule-data-section .row{
    margin: 5px auto 5px;
  }
  .schedule-data-subtitle {
    font-size: 24px;
  }
  .schedule-data-content .text_vec2{
    height: 8px !important;
    width: 90px !important;
    margin-bottom: 20px !important;
    position: relative;
  }
  .schedule-data-content-2 .callus-btn-wrapper {
    width: 50% !important;
  }
  .schedule-data-content-2 .callus-btn-wrapper i {
    padding: 8px;
  }
  .schedule-data-content-2{
    --bs-gutter-x: 1.3rem;
  }
  .btn-call {
    border-radius: 12px;
    margin: 5px auto;
  }
  .schedule-data-title{
    font-size: 20px;
  }
  /* find section */
  .find-section-subtitle{
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 0px;
  }
  .find-section-description{
    font-size: 14px;
    line-height: 24px;
  }
  .aon-search2-left{
    margin-bottom: 0px !important;
  }
  .text_vec2{
    /* height: 100% !important; */
    width: 76px !important;
    margin-bottom: 23px !important;
    position: relative;
    left:-1%;
  }
  /* registion section  */
  .register_wrapper h3 {
    font-size: 22px;
    line-height: 35px;
    margin-top: 5px;
  }
  .register_wrapper p{
    font-size: 13px;
    width:83%;
    left:8.5%;
    display: flex;
    padding-top: 15px;
    line-height: inherit;
  }
  .register_wrapper img{
    height:80%;
  }
  .register_wrapper{
    padding: 30px 0px 150px;
  }
}
