.breadcrumbs-title{
    font-size: 16px;
}
.single-blog-content{
    background-color: #000;
}
.single-blog-main-title{
    font-size: 24px;
    line-height: 49px;
    font-family: "Gilda Display", serif;
    z-index: 100;
    text-align: center;
}
.blog-meta {
    font-size: 18px;
    color: #fff;
    text-align: center;
}
.blog-meta .meta-item {
    color: #fff;
    padding-right: 5px;
}
.meta-item .celender-svg{
    width: 18px;
}
.meta-item .author-svg{
    width: 16px;
}
.single-blog-title{
    color: #fff;
    font-family: "Gilda Display", serif;
    font-size: 32px;
    font-weight: 400;
}
.single-blog-author{
    font-family: '';
    margin-bottom: 35px;
    font-size: 16px;
    color: #fff;
    font-family: "Barlow", sans-serif;
    font-weight: 400;
}
.single-blog-author i{
    margin-right: 10px;
    color:#D8A97C;
}
.single-blog-author a{
    color: #fff;
}
.single-blog-date{
    position:relative;
    background-color: #000;
    color: #fff;
    border:1px solid;
    border-image-source: linear-gradient(130deg, #C3942F 0%, #D89C27 18%, #DFC86F 37%, #E7DC96 50%, #DFC86F 64%, #D89C27 82%, #C99C30 100%) !important;
    border-image-slice: 1;  
    border-image-width: 2px;
    /* border: 1px solid #D8A97C; */
    padding: 8px 25px;
    border-radius: 8px;
    /* bottom: -4.5%;
    left: 13%; */
}
.single-blog-authorName{
    position: relative;
    background-color: #000;
    color: #fff;
    border:1px solid;
    border-image-source: linear-gradient(130deg, #C3942F 0%, #D89C27 18%, #DFC86F 37%, #E7DC96 50%, #DFC86F 64%, #D89C27 82%, #C99C30 100%) !important;
    border-image-slice: 1;  
    border-image-width: 2px;
    /* border: 1px solid #D8A97C; */
    padding: 8px 35px;
    border-radius: 8px;
}
.single-blog-authorName span,.single-blog-date span{
    background: linear-gradient(130deg, #C3942F 0%, #D89C27 18%, #DFC86F 37%, #E7DC96 50%, #DFC86F 64%, #D89C27 82%, #C99C30 100%) !important;
    /* background: linear-gradient(259.34deg, #DCAD81 0%, #D8A97C 25%, #FFD2A4 50%, #D8A97C 75%, #DCAD81 100%) !important; */
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    background-clip: text !important;
    color: transparent !important;
    margin-right: 5px;
}
.single-page-main-content h2{
    font-size: 1.6rem;
    color: #fff;
    line-height: 30px;
}
.single-page-main-content h3{
    font-family: "Barlow Condensed", serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    background: linear-gradient(130deg, #C3942F 0%, #D89C27 18%, #DFC86F 37%, #E7DC96 50%, #DFC86F 64%, #D89C27 82%, #C99C30 100%) !important;
  /* background: linear-gradient(259.34deg, #DCAD81 0%, #D8A97C 25%, #FFD2A4 50%, #D8A97C 75%, #DCAD81 100%) !important; */
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  background-clip: text !important;
  color: transparent !important;
  background-color: #2d2d2d !important;
  display: inline-block;
}
.single-page-main-content h4,.single-page-main-content ul li strong{
    color: #fff;
}
.single-page-main-content table {
    width: 100% !important;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #111;
    color: #fff;
    font-family: "Barlow", sans-serif;
    font-size: 15px;
    border-radius: 8px;
    overflow: hidden;
}

.single-page-main-content th,
.single-page-main-content td {
    border: 1px solid #333;
    padding: 12px 15px;
    text-align: left;
}

.single-page-main-content th {
    background: linear-gradient(130deg, #C3942F 0%, #D89C27 18%, #DFC86F 37%, #E7DC96 50%, #DFC86F 64%, #D89C27 82%, #C99C30 100%);
    color: #000;
    font-weight: 600;
    font-family: "Gilda Display", serif;
}

.single-page-main-content tr:nth-child(even) {
    background-color: #1c1c1c;
}

.single-page-main-content tr:hover {
    background-color: #2a2a2a;
}

.single-page-main-content p{
    color: #cec2c2;
    font-size: 18px;
}
.single-blog-img-wrapper-content p:last-child{
    margin-bottom: 0px;
}

/* single blog content2 */
.single-blog-content2{
    background-color: var(--bg-content-color);
    border-radius: 25px;
    padding: 20px 25px;
    position: relative;
}
.single-blog-content2-title{
    color:#fff;
    font-family: "Gilda Display", serif;
    font-weight: 500;
    font-size: 20px;
}
.single-blog-content2 img{
    border-radius: 8px;
}
.single-blog-content2 .form-control{
    background-color: #000;
    border-radius: 12px;
    color: #fff !important;
    border: 1px solid #000;
}
.single-blog-content2 .form-control:focus{
    color: #fff !important;
}
.single-blog-related-content h3{
    color: #fff;
    font-family: "Gilda Display", serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
.single-blog-related-content h3 a{
   color: #fff;
}
.single-blog-related-content span{
    color: #fff;
    font-size: 12px;
}
.sidebar-sticky-wrapper{
    position: sticky;
    top: 500px;
}
/* category */
.category-wrapper{
    margin-bottom: 28px;
}
.category-img{
    width:145px;
}
.category-content{
    font-family: "Barlow", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    background-color: #000;
    padding: 15px 38px;
    border-radius: 12px;
}

/* tag wrapper */
.tag-img{
    width:50px;
}
.tag-wrapper ul{
    padding-left: 28px;
    color: #fff;
}
.tag-wrapper ul li{
    font-family: "Gilda Display", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}
/* Author Section */
.author-section{
    background-color: var(--bg-content-color);
    border-radius: 15px;
    margin-top: 50px;
    display: flex;
    align-items: center;
}
.author-inner {
    display: flex;
    align-items: center;
}
.desktop-img { display: block; }
.mobile-img { display: none; }

.author-image{
    margin-top: 1.5%;
}
.author-inner img{
    width:900px;
    /* height:350px; */
    margin-right: 30px;
}
.author-name {
    font-family: 'Manrope', sans-serif;
    font-size: 60px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1.8;
    opacity: 0.27;
    color: transparent;
    -webkit-text-stroke: 2px #cbc9c9;
    text-stroke: 2px #cbc9c9;
    display: block;
    letter-spacing: 2px;
}
.author-role {
    font-size: 18px;
    font-weight: 600;
    margin: 0px;
}
.author-bio{
    font-size: 15px;
    color: #f1f1f1;
    margin-right: 15px;
    margin-bottom: 0px !important;
}
.author-social-links{
    display: flex;
    margin-right: 15px;
    margin-bottom: 10px;
    justify-content: flex-end;
    gap: 10px;
}
.author-social-links a svg{
    width: 30px;
    height: 30px;
}
.before-after-title {
    font-size: 26px;
    font-weight: 600;
}
.before-after-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.before-after-section .swiper {
    width: 100%;
    padding-bottom: 40px;
}

.before-after-section .swiper-slide {
    display: flex;
    justify-content: center;
}
/* Make bullets bigger */
.before-after-section .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background: rgba(255, 255, 255, 0.7);
    opacity: 1;
    border-radius: 50%;
    margin: 0 3px !important;
    transition: all 0.3s ease;
}
/* new Author section */
.new-author-section{
    z-index: 1;
    position: relative;
    /* padding: 100px 0; */
    padding: 20px 10px;
    /* background-color:  #141414; */
    overflow: hidden;
}
.new-author-section::before{
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    background-image: url("../author-bg-img1.png");
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    width:100%;
    height:100%;
}
.new-author-name{
    font-size: 42px;
    font-weight: 800;
    text-transform: uppercase;
    color:rgb(255, 255, 255,0.31);
    line-height: normal;
    /* color:#141414; */
}
.new-author-section .col-lg-7{
    display: block;
    margin: auto 0px;
}
.new-author-role{
    font-size: 18px;
    font-weight: 600;
    margin:0px
}
/* Active bullet */
.before-after-section .swiper-pagination-bullet-active {
    background: #fff;
    width: 20px;
    border-radius: 20px;
}

/* Adjust container position */
.before-after-section .swiper-pagination {
    bottom: 0px !important; 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

@media(max-width:1421px){
    .author-name{
        font-size: 53px;
    }
    .author-image{
        margin-top: 2.1%;
    }
}
/* @media(max-width:1230px){
    .author-name{
        font-size: 45px;
    }
} */
@media(max-width:1200px){
    .new-author-name{
        font-size: 38px;
    }
    .new-author-role{
        font-size: 16px;
    }
}
@media(max-width:992px){
    .single-blog-content2 {
        margin-top: 10px;
    }
}
@media(max-width:768px){
    .single-blog-main-title{
        font-size: 20px;
        line-height: 35px;
    }
    .new-author-name{
        font-size: 32px;
    }
    .new-author-role{
        font-size: 15px;
    }
    .new-author-section::before{
        background-image: url("../author-bg-img2.png");
        background-size: cover;
    }
}
@media(max-width:576px){
    .single-blog-main-title{
        font-size: 18px;
        line-height: 30px;
    }
    .blog-meta {
        font-size: 14px;
    }
    .new-author-name{
        font-size: 28px;
    }
    .new-author-role{
        font-size: 12px;
    }
    .sidebar-sticky-wrapper{
        margin-top: 7%;
    }
}
@media(max-width:576px){
    .single-blog-wrapper .breadcrumbs-section .container{
        top:40% !important;
    }
    .single-blog-wrapper .breadcrumbs-title {
        font-size: 18px !important;
        line-height: 30px !important;
    }
    .single-blog-title{
        font-size: 18px;
        line-height: 1.6;
    }
    .single-blog-date{
        position: relative;
        margin-bottom: 12px;
        /* left: auto;
        bottom: -26px; */
    }
    .single-page-main-content th, .single-page-main-content td{
        padding: 12px 10px;
    }
    /* .single-page-main-content table {
        width: 100%;
        font-size: 14px;
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

    .single-page-main-content th,
    .single-page-main-content td {
        padding: 10px;
        white-space: nowrap;
    } */
     .single-blog-authorName{
        padding: 8px 25px;
     }
     .single-page-main-content h2{
        font-size: 1.3rem;
        line-height: 35px;
     }
     .single-page-main-content h3{
        font-size: 18px;
        letter-spacing: 0.5px;
     }
     .single-page-main-content h3 strong{
        font-weight: 700;
     }
     .single-blog-content2{
        border-radius: 15px;
        padding: 20px 15px;
     }
     .category-content{
        padding: 10px 35px;
     }
     .single-page-main-content table {
    width: 100%;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    }

    .single-page-main-content table th,
    .single-page-main-content table td {
    white-space: nowrap;
    }
}
@media(max-width:480px){
    .new-author-name{
        font-size: 20px;
    }
    .new-author-role{
        font-size: 10px;
    }
    .new-author-section .col-lg-7{
        padding:0px 5px;
    }
    .author-singture{
        width: 65%;
    }
    .single-blog-content .container{
        width: 95%;
    }
}
@media(max-width:420px){
    .single-blog-content .container{
        padding-right:var(--bs-gutter-x, .5rem);
        padding-left: var(--bs-gutter-x,.5rem);
    }
    .single-page-main-content th, .single-page-main-content td{
        padding: 12px 6px;
        font-size: 13px;
    }
    
}