/* common css */
.cool{
    background: linear-gradient(100.47deg, #C3942F 28.12%, #D89C27 41.31%, #E7DC96 53.42%, #DFC86F 65.82%, #D89C27 75.96%, #C99C30 84.47%) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    background-clip: text !important;
    color: transparent !important;
    background-color: #2d2d2d !important;
    display: inline-block;
}
.bat{
    background: linear-gradient(30deg, #636363 0%, #9b9b9b 20%, #b1b1b1 36%, #e1e1e1 50%, #b1b1b1 62%, #9b9b9b 75%, #636363 100%) !important;
    border-radius: 12px ;
    line-height: 21.6px;
    font-size: 15px !important;
    font-weight: 600;
    padding: 10px 15px;
    border: none;
}
.bat:focus,.bat:hover{
    box-shadow: none;
}
#smileModal .modal-dialog{
    border: 1px solid #fff;
    box-shadow: 0px 0px 46px 0px #FFFFFF40;
    border-radius: 12px;
}
#smileModal .modal-content{
    border-radius: 12px;
}
#smileModal .modal-content,
#smileModal .modal-header{
    background-color: #000 !important;
    color: #fff !important;
}
#smileModal .modal-header{
    /* border-bottom: 0px; */
    padding-bottom: 0px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
#smileModal .modal-header .btn-close{
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center / 1em auto no-repeat;
}
#smileModal .modal-body{
    padding: 0.5rem 1rem;
}
#smileModal .modal-body .modal-title{
    font-size: 36px;
    letter-spacing: 0.5px;
}
#smileModal .modal-footer{
    border-top: 0px;
    display: block;
    margin: auto;
    padding: 0.5rem;
    margin-bottom: 30px;
}
/* endcommon css */
/* banner css */
.banner-highlight{
    /* background: var(--color-orange-4910, #D9A5201A); */
    background: #D9A5201A;
    border-top: 1px solid #D9A52033;
    color:#D9A520;
    border-radius: 20px;
    padding:4px 15px;
    width: 50%;
    margin-bottom: 25px;
}
.banner_section h1{
    color:#fff;
    font-size: 50px;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 30px;
}
.banner_section h1 b{
    font-weight: 500;
}
.banner_section p{
    color: #AEAEAE;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.5px;
    margin-bottom: 45px;
}
.bg-vector{
    position: absolute;
    z-index: 0;
    top:0%;
    left:20%;
    width:74%;
}
.banner-img1{
    width: 75%;
}
/* tips section */
.tips-section{
    background: linear-gradient(270deg, #0D0D0D 0%, #191919 50%, #000000 100%);
}
.tips-section .row{
    margin-top: 1.2rem;
    margin-bottom: 1.4rem;
}
.tips-section .tips-title{
    font-weight: 500;
    font-size: 36px;
}
.tips-section .tips-subtitle{
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.5px;
    width: 58%;
    text-align: center;
    display: block;
    margin: auto auto 20px;
}
.tips-card{
    padding: 12px;
    background-color: #000;
    border-radius: 10px;
    box-shadow: 0px 6.82px 27.27px 0px #0000004D;
    backdrop-filter: blur(20.453609466552734px);
    border: 2px solid #FFFFFF1A
}
.tips-icon-wrapper{
    margin-bottom: 3.5rem;
}
.tips-icon-wrapper img{
    padding: 8px;
    background: #D9A5201A;
    border-radius: 12px;
}
.tips-icon-wrapper span{
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    color: #FFFFFF1A;
    line-height: normal;
}
.tips-card h2{
    font-size: 20px;
    text-align: left;
    color:#fff;
    font-weight: 500;
    letter-spacing: 0.5px;
}
.tips-card p{
    text-align: left;
    /* font-size: 14px; */
    color: #818898;
    margin-bottom: 0px;
    line-height: 1.6;
    letter-spacing: 0.3px;
}
/* ai smile section */
.ai-smile-section{
    padding-top: 20px;
    padding-bottom: 40px;
}
.ai-smile-wrapper{
    width: 80%;
    position: relative;
    background-image: url(/static/ai-bg-vector.png);
    background-size: 100% auto;
    background-position: center;
    height:100%;
    border-radius: 20px;
    padding: 50px 120px 60px;
    display: block;
    margin: auto;
}
.ai-smile-wrapper::before{
    content: "";
    position: absolute;
    inset: 0;
    padding: 2px;
    border-radius: inherit;
    background: linear-gradient(100deg, #c3942f, #d89c27, #e7dc96, #dfc86f, #d89c27);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}
.ai-smile-wrapper h2{
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: 500;
}
.ai-smile-wrapper p{
    font-weight: 500;
    font-size: 18px;
    color: #fff;
    letter-spacing: 0.4px;
    margin-bottom: 30px;
}
@media(min-width:991px){
    #smileModal .modal-dialog{
        max-width: 800px;
    }
}
@media(max-width:1200px){
    .banner-highlight{
        width: 57%;
    }
    .banner_section h1{
        font-size: 42px;
        margin-bottom: 20px;
    }
    .banner_section p{
        font-size: 18px;
        margin-bottom: 30px;
    }
    .bg-vector{
        width:68%;
        left:22%;
    }
    /* tips section */
    .tips-section .tips-title{
        font-size: 34px;
    }
    .tips-section .tips-subtitle{
        width: 71%;
        margin: auto auto 22px;
    }
    .tips-card{
        height: 100%;
    }
    .tips-card h2{
        font-size: 18px;
    }
    .tips-icon-wrapper{
        margin-bottom: 3rem;
    }
    .tips-icon-wrapper span{
        font-size: 40px;
    }
    .tips-card p{
        font-size: 14px;
        line-height: 1.5;
    }
    .tips-icon-wrapper img{
       width:37px;
       border-radius: 10px;
    }
    .tips-section .col-md-6{
        margin-bottom: 20px;
    }
    /* .tips-icon-wrapper img{
        width: 90%;
    } */
    /* ai smile section */
    .ai-smile-wrapper{
        padding: 40px 100px 50px;
        width: 85%;
    }
    .ai-smile-wrapper h2{
        font-size: 34px;
    }
    .ai-smile-wrapper p{
        font-size: 16px;
        /* margin-bottom: 22px; */
    }
}
@media(max-width:991px){
    .banner-highlight{
        margin-bottom: 20px;
        width: 59%;
    }
    .banner-img1{
        width: 100%;
    }
    .banner_section h1{
        font-size: 38px;
        margin-bottom: 20px;
    }
    .banner_section p{
        font-size: 16px;
        margin-bottom: 40px;
    }
    /* tips section */
    .tips-section .row{
        margin-top: 0.5rem;
        margin-bottom: 1.2rem;
    }
    .tips-section .tips-title{
        font-size: 32px;
    }
    .tips-section .tips-subtitle{
        font-size: 16px;
        width: 80%;
        margin: auto auto 15px;
    }
    .tips-icon-wrapper img{
        width: 40px;
    }
    .tips-icon-wrapper span{
        font-size: 45px;
    }
    .tips-card h2{
        font-size: 20px;
    }
    .tips-card p{
        font-size: 16px;
    }
    /* ai smile section */
    .ai-smile-section{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .ai-smile-wrapper{
        padding: 40px 65px 50px;
        width: 95%;
    }
    .ai-smile-wrapper h2{
        font-size: 32px;
    }
}
@media(max-width:768px){
    .banner-highlight{
        width: 52%;
        margin: auto auto 20px;
    }
    .banner_section h1{
        font-size: 36px;
        text-align: center;
        margin-bottom: 15px;
    }
    .banner_section p{
        text-align: center;
        margin-bottom: 20px;
    }
    .banner_section .bat{
        margin: auto auto 35px;
    }
    .banner-img1{
        width: 60%;
        margin: auto;
    }
    .bg-vector{
        top: -32%;
        width:100%;
        left: 0%;
    }
    .banner-content{
        position: relative;
    }
    /* tips section */
    .tips-section{
        background-color: #0A0A0A;
        box-shadow: 0px 4px 4px 0px #00000040;
        border: 2px solid #333333;
        width: 90%;
        margin: auto;
        border-radius: 20px;
    }
    .tips-icon-wrapper{
        margin-bottom: 2.5rem;
    }
    .tips-section .row{
        margin-bottom: 0.5rem;
    }
    .tips-section .tips-title{
        font-size: 30px;
    }
    .tips-section .tips-subtitle{
        width: 100%;
        font-size: 15px;
    }
    /* ai section */
    .ai-smile-section{
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .ai-smile-wrapper{
        padding: 30px 40px 40px;
        width: 100%;
    }
    .ai-smile-wrapper h2{
        font-size: 30px;
        margin-bottom: 15px;
    }
    .ai-smile-wrapper p{
        margin-bottom: 22px;
    }
}
@media(max-width:576px){
    .banner-highlight{
        width: 72%;
    }
    .banner_section h1{
        font-size: 32px;
        margin-bottom: 10px;
    }
    .banner_section p{
        font-size: 15px;
    }
    .banner_section .bat{
        margin: auto auto 25px;
    }
    /* tips section */
    .tips-section .tips-title{
        font-size: 26px;
    }
    .tips-section .tips-subtitle{
        font-size: 14px;
    }
    .tips-card h2{
        font-size: 18px;
    }
    .tips-card p{
        font-size: 15px;
    }
    /* ai section */
    .ai-smile-wrapper{
        padding: 25px 20px 35px;
    }
    .ai-smile-wrapper h2{
        font-size: 28px;
        margin-bottom: 10px;
    }
    .ai-smile-wrapper p{
        font-size: 14px;
        margin-bottom: 20px;
    }
}